
.tag-term {
  padding: 7px 41px 2px 15px;
  margin: 24px 3px 1px 14px;
  background-color: #4A74B3;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  word-break: break-all;
  position: relative;
  border-radius: 4px;
  height: 30px;
  box-shadow: 5px 10px 18px #888888:
}
.tag-term a {
  position: absolute;
  top: 0px;
  right: 2px;
  display: inline-block;
  width: 20px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  opacity: 1;
  margin-right: 6px;
}
.tag-term a i {
  color: white;
}
	