html, body{
	margin:0;
	padding:0;
	height:100%;
  }
  section.positioned {
	position: absolute;
	top:100px;
	left:100px;
	width:800px;
	box-shadow: 0 0 15px #333;
  }
  .div-table { 
	width: 150%;
	height: 100%;
  }
  .containerM {
	  display: inline-flex;
  }
  .m-device {
	float:left;
	padding-top: 43px;
	width: 49%;
  }
  .div-table #deviceStatus {
	  border-collapse: separate; 
	  border-spacing: 0px 0px; 
	  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	  /* font-weight: bold; */
	  color: #fff;
    float:left;
    font-size: 20px;
  }
  #deviceStatus td {
	  color: #fff;
    padding: 11px 24px;
	  height: 58px;
    width: 100px;
  }
  #deviceStatus th {
    font-weight: 200;
  }
  .div-table #deviceStatus th {
	  color: #6E6E6E;
  }
  .dev {
	  float: right;
	  padding-left: 200px;
	  width: 49%;
    padding-top: 95px;
  }
  .operation-state{
	  width: 285px;
	  height: 170px;
	  border: 1px solid #172B4D;
	  margin-bottom: 23px;
	  display: block;
  }
  .operation-state .title {
	  width: 100%;
    margin: 20px 9px 20px 30px;
    font-size: 16px;
    color: #6E6E6E;
  }
  .filtersm .title {
    width: 100%;
    margin: 20px 9px 5px 30px;
    font-size: 16px;
    color: #6E6E6E;
  }
  .filtersm #filterSelected {
    padding: 6px 0px 0px 30px;
    color: #204a90;
    font-size: 12px;
  }
      span.square-n {
        border-color: #36B37E;
        border-radius: 6px;
        margin-right: 6px;
        border-left: solid 16px #36B37E;
        border-top: solid 2px;
        border-bottom: solid 3px;
        border-right: solid 4px #36B37E;
      }

      span.square-c {
        border-color: #BF2600;
        border-radius: 6px;
        margin-right: 6px;
        border-left: solid 16px #BF2600;
        border-top: solid 2px;
        border-bottom: solid 3px;
        border-right: solid 4px #BF2600;
      }

      span.square-a {
        border-color: #FF9900;
        border-radius: 6px;
        margin-right: 6px;
        border-left: solid 16px #FF9900;
        border-top: solid 2px;
        border-bottom: solid 3px;
        border-right: solid 4px #FF9900;
      }
      span.square-i {
        border-color: #909090;
        border-radius: 6px;
        margin-right: 6px;
        border-left: solid 16px #909090;
        border-top: solid 2px;
        border-bottom: solid 3px;
        border-right: solid 4px #909090;
      }
  .operation-state .left {
	float: left;
    width: 42%;
    display: grid;
    margin: 0px 0px 2px 30px;
  }
  .operation-state .left label, .operation-state .right label {
	  margin-bottom: 25px;
    font-size: 14px;
    color: #6E6E6E;
    font-weight: initial;
  }
  .operation-state .right {
	  float: right;
    width: 42%;
    display: grid;
  }
  .filtersm {
	width: 285px;
	height: 217px;
	border: 1px solid #172B4D;
  }
  
.div-table #deviceStatus tr td:nth-child(1){
  background: #F2F2F2;
  color: #4A7AB3;
  border-top: solid 10px #FFF;
  padding-right: 75px;
}
.div-table #deviceStatus tr td:nth-child(2){
  background: linear-gradient(to right,#F2F2F2 28%, #36B37E 20%);
  border-top: solid 10px #FFF;
  padding-left: 55px;
}
.div-table #deviceStatus tr td:nth-child(3){
  background: linear-gradient(to right,#F2F2F2 28%, #FF9900 20%);
  border-top: solid 10px #FFF;
  padding-left: 55px;
}
.div-table #deviceStatus tr td:nth-child(4){
  background: linear-gradient(to right,#F2F2F2 28%, #BF2600 20%);
  border-top: solid 10px #FFF;
  padding-left: 55px;
}
.div-table #deviceStatus tr td:nth-child(5){
  background: linear-gradient(to right,#F2F2F2 28%, #909090 20%);
  border-top: solid 10px #FFF;
  padding-left: 55px;
}
