﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trigges</title>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />


    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-editable.min.css" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div>
            <center>
                <a href="/TriggerRules/Index">Trigger and Rules</a>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/CreateMaintenanceNote/Index">Criar Notas</a>
                &nbsp;&nbsp;
                <a href="/FailureClass/Index">Failure Class</a>
                &nbsp;&nbsp;
                <a href="/Home">Home</a>
            </center>
        </div>

        <div class="container">
            <div class="navbar-header">
                XFRACAS   
                
            </div>
            <div style="float:right">
                User:@Session["UserWindows"]
            </div>
         
        </div>
    </div>
    <div class="container body-content">

        <script src="~/assets/js/jquery-2.1.4.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>

        <script src="~/assets/js/jquery-ui.custom.min.js"></script>
        <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
        <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
        <script src="~/assets/js/select2.min.js"></script>
        <script src="~/assets/js/bootstrap-editable.min.js"></script>
        <script src="~/assets/js/ace-editable.min.js"></script>
        <script src="~/assets/js/jquery.maskedinput.min.js"></script>
        <script src="~/assets/js/jquery.dataTables.min.js"></script>
        <script src="~/assets/js/jquery-ui.min.js"></script>
        <script src="~/assets/js/sociallinkbuilder.js"></script>

        <!-- page specific plugin scripts -->
        <!-- ace scripts -->
        <script src="~/assets/js/ace-elements.min.js"></script>
        <script src="~/assets/js/ace.min.js"></script>

        <script src="~/assets/js/ace-extra.min.js"></script>




        @RenderBody()

        <script src="~/js/utils.js"></script>

        <hr />
        <footer></footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
