﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    @Styles.Render("~/Content/css")

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/assets/js/ace-extra.min.js"></script>

    <link rel="Shortcut Icon" href="~/Images/favicon.ico">
    <meta charset="UTF-8">
</head>

<body>

    <header class="header d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-between">
                <div class="d-flex">
                    <button type="button" class="menu__button mr-4">
                        <i class="fa fa-bars" style="color:white;font-size:2.4rem;"></i>
                    </button>
                </div>
                <nav class="d-flex align-items-center">
                    <ul>
                        <li>
                            <a href="javascript:void(0);" onclick="toggleUsuario();">
                                Usuário
                                <i class="fa fa-caret-down p-2"></i>
                            </a>
                        </li>
                        <li>|</li>
                        <li>
                            <a href="@Url.Action("Logout", "Home")">Sair</a>
                        </li>
                    </ul>
                    <div class="box-usuario">
                        <a href="@Url.Action("Logout", "Home")" class="d-flex align-items-center p-4 h-100">
                            <i class="fa fa-sign-out mr-4" style="font-size:1.5rem;"></i>
                            <span>User Windows Autentication</span>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div id="menu">

    </div>


    <script src="~/js/jquery-1.10.1.js"></script>
    <script src="~/js/mustache.min.js"></script>

    @RenderBody()

    <script src="~/js/utils.js"></script>

    <script type="text/javascript">
                        


    </script>

</body>
</html>



