﻿@model IEnumerable<Compass.XFracas.WebGerenciador.Models.BreadcrumbViewModel>

    <nav>
        @foreach (var breadcrumb in Model)
        {
          <h1>@breadcrumb.Title</h1>
        }
        <ul class="breadcrumb">
            @foreach (var breadcrumb in Model)
            {
                <li><a href="../DashBoard/Index">Inicio</a></li>
                <li>/</li>
                <li><a href="../@breadcrumb.Caminho">@breadcrumb.Title</a></li>
               
            }
        </ul>
    </nav>

