﻿

@{
    ViewBag.Title = "Reliasoft Trigger e Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/assets/js/ace-extra.min.js"></script>
<link href="~/assets/css/style.min.css" rel="stylesheet" />


<style>

    .dataTables_filter {
        text-align: left !important;
    }

        .dataTables_filter input {
            width: 350px !important;
        }

    .widget-body {
        background-color: white !important;
    }
</style>

<div id="localizacao" class="hide">

    <div class="space-6"></div>

    <form id="form-criar-trigger">

        <div class="col-sm-6">
            <div class="widget-box widget-color-blue2">


                @*<div class="widget-body">
                        <div class="widget-main padding-8">
                            <ul id="tree1" class="tree tree-unselectable" role="tree">
                            <li class="tree-branch hide" data-template="treebranch" role="treeitem" aria-expanded="false">								<div class="tree-branch-header">					<span class="tree-branch-name">						<i class="icon-folder ace-icon tree-plus"></i>						<span class="tree-label"></span>					</span>				</div>				<ul class="tree-branch-children" role="group"></ul>				<div class="tree-loader hidden" role="alert"><div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div></div>			</li>			<li class="tree-item hide" data-template="treeitem" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label"></span>				</span>			</li><li class="tree-branch" role="treeitem" aria-expanded="false">								<div class="tree-branch-header">					<span class="tree-branch-name">						<i class="icon-folder ace-icon tree-plus"></i>						<span class="tree-label">For Sale</span>					</span>				</div>				<ul class="tree-branch-children hidden" role="group"><li class="tree-item" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label">Appliances</span>				</span>			</li><li class="tree-item" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label">Arts &amp; Crafts</span>				</span>			</li><li class="tree-item" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label">Clothing</span>				</span>			</li><li class="tree-item" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label">Computers</span>				</span>			</li><li class="tree-item" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label">Jewelry</span>				</span>			</li><li class="tree-item" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label">Office &amp; Business</span>				</span>			</li><li class="tree-item" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label">Sports &amp; Fitness</span>				</span>			</li></ul>				<div class="tree-loader hidden" role="alert"><div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div></div>			</li><li class="tree-branch" role="treeitem" aria-expanded="false">								<div class="tree-branch-header">					<span class="tree-branch-name">						<i class="icon-folder ace-icon tree-plus"></i>						<span class="tree-label">Vehicles</span>					</span>				</div>				<ul class="tree-branch-children" role="group"></ul>				<div class="tree-loader hidden" role="alert"><div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div></div>			</li><li class="tree-branch" role="treeitem" aria-expanded="false">								<div class="tree-branch-header">					<span class="tree-branch-name">						<i class="icon-folder ace-icon tree-plus"></i>						<span class="tree-label">Rentals</span>					</span>				</div>				<ul class="tree-branch-children" role="group"></ul>				<div class="tree-loader hidden" role="alert"><div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div></div>			</li><li class="tree-branch" role="treeitem" aria-expanded="false">								<div class="tree-branch-header">					<span class="tree-branch-name">						<i class="icon-folder ace-icon tree-plus"></i>						<span class="tree-label">Real Estate</span>					</span>				</div>				<ul class="tree-branch-children" role="group"></ul>				<div class="tree-loader hidden" role="alert"><div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div></div>			</li><li class="tree-branch" role="treeitem" aria-expanded="false">								<div class="tree-branch-header">					<span class="tree-branch-name">						<i class="icon-folder ace-icon tree-plus"></i>						<span class="tree-label">Pets</span>					</span>				</div>				<ul class="tree-branch-children hidden" role="group"><li class="tree-item" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label">Cats</span>				</span>			</li><li class="tree-item" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label">Dogs</span>				</span>			</li><li class="tree-item" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label">Horses</span>				</span>			</li><li class="tree-item" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label">Reptiles</span>				</span>			</li></ul>				<div class="tree-loader hidden" role="alert"><div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div></div>			</li><li class="tree-item" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label">Tickets</span>				</span>			</li><li class="tree-item" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label">Services</span>				</span>			</li><li class="tree-item" role="treeitem">				<span class="tree-item-name">				  <i class="icon-item ace-icon fa fa-times"></i>				  <span class="tree-label">Personals</span>				</span>			</li></ul>
                        </div>
                    </div>*@

                <div id="evts" class="demo"></div>

            </div>
        </div>


    </form>
</div><!-- #criar-TRIGGER -->

<div class="col-span-12">
    <br />

    <div class="row">

        <div class="space-6"></div>
        <div class="space-6"></div>
        <div class="space-6"></div>

    </div>



    <div class="space-6"></div>
    <div class="space-6"></div>
    <div class="space-6"></div>
    <div class="space-6"></div>

    <form class="form-horizontal" role="form">

        <div class="col-xs-10">

            <div class="row" style="background-color:black;color:white">
                <h4 style="padding-left:20px">NOTA DE MANUTENÇÃO</h4>
            </div>


            <div class="space-6"></div>
            <div class="space-6"></div>
            <div class="space-6"></div>
            <div class="space-6"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Localização: </label>

                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="ace-icon fa fa-check"></i>
                        </span>

                        <input type="text" class="form-control search-query" id="txtLocalizacao" placeholder="Localização">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-sm" onclick="OpenLocalizacao()">
                                <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Centro de Locallização </label>

                <div class="col-sm-9">
                    <input type="text" id="txtCentroLocalizacao" placeholder="Sistema" class="col-xs-10 col-sm-4">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Data Conclusão Desejada </label>

                <div class="col-sm-9">
                    <input type="text" id="txtDataConclusaoDesejada" placeholder="Conjunto" class="col-xs-10 col-sm-4">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Prioridade </label>

                <div class="col-sm-9">
                    <select>
                        <option value="Baixa">Baixa</option>
                        <option value="Media">Média</option>
                        <option value="Alta">Alta</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Tipo de Nota </label>

                <div class="col-sm-9">
                    <select>
                        <option value="YM">YM</option>
                        <option value="YN">YN</option>
                        <option value="YE">YE</option>
                        <option value="YA">YA</option>
                        <option value="YW">YW</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Descrição Curta </label>

                <div class="col-sm-9">
                    <input type="text" id="txtDescricaoCurta" class="col-xs-10 col-sm-10">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Descrição </label>
                <div class="col-sm-9">
                    <textarea id="txtDescricao" rows="4" class="col-xs-10 col-sm-12"></textarea>
                </div>
            </div>


        </div>



    </form>

</div>



<!-- page specific plugin scripts -->
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="~/assets/js/dataTables.buttons.min.js"></script>
<script src="~/assets/js/buttons.flash.min.js"></script>
<script src="~/assets/js/buttons.html5.min.js"></script>
<script src="~/assets/js/buttons.print.min.js"></script>
<script src="~/assets/js/buttons.colVis.min.js"></script>
<script src="~/assets/js/dataTables.select.min.js"></script>
<!-- page specific plugin scripts -->

<script src="~/assets/js/jstree.min.js"></script>

<script type="text/javascript">




    $('#evts')
        .on("changed.jstree", function (e, data) {
            if (data.selected.length) {
                dados_selecionado = data.instance.get_node(data.selected[0]).text;
            }
        })
        .jstree({
            'core': {
                'multiple': false,
                'data': [
                    {
                        "text": "Root node", "children": [
                            { "text": "Unidade Tubarão", "id": 1 },
                            { "text": "Unidade Santa Paula", "id": 2 }
                        ]
                    }
                ]
            }
        });


    var dados_selecionado = "";

    function OpenLocalizacao() {

        $("#localizacao").removeClass('hide').dialog({
            resizable: false,
            width: '600',
            height: '500',
            closeOnEscape: false,
            modal: true,
            title: 'Localização',
            title_html: true,
            buttons: [
                {
                    html: "<i class='ace-icon fa fa-sucess bigger-110'></i>&nbsp; Selecionar",
                    "class": "btn btn-primary btn-minier",
                    click: function () {

                        $("#txtLocalizacao").val(dados_selecionado);
                        $(this).dialog("close");
                    }
                }
                ,
                {
                    html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; Cancelar",
                    "class": "btn btn-minier",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });
    }




    jQuery(function ($) {


        var sampleData = initiateDemoData();//see below


        $('#tree1').ace_tree({
            dataSource: sampleData['dataSource1'],
            multiSelect: false,
            cacheItems: true,
            'open-icon': 'ace-icon tree-minus',
            'close-icon': 'ace-icon tree-plus',
            'itemSelect': true,
            'folderSelect': false,
            'selected-icon': 'ace-icon fa fa-check',
            'unselected-icon': 'ace-icon fa fa-times',
            loadingHTML: '<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>'
        });




        function initiateDemoData() {

            var tree_data = {
                'for-sale': { text: 'For Sale', type: 'folder' },
                'vehicles': { text: 'Vehicles', type: 'folder' },
                'rentals': { text: 'Rentals', type: 'folder' },
                'real-estate': { text: 'Real Estate', type: 'folder' },
                'pets': { text: 'Pets', type: 'folder' },
                'tickets': { text: 'Tickets', type: 'item' },
                'services': { text: 'Services', type: 'item' },
                'personals': { text: 'Personals', type: 'item' }
            }
            tree_data['for-sale']['additionalParameters'] = {
                'children': {
                    'appliances': { text: 'Appliances', type: 'item' },
                    'arts-crafts': { text: 'Arts & Crafts', type: 'item' },
                    'clothing': { text: 'Clothing', type: 'item' },
                    'computers': { text: 'Computers', type: 'item' },
                    'jewelry': { text: 'Jewelry', type: 'item' },
                    'office-business': { text: 'Office & Business', type: 'item' },
                    'sports-fitness': { text: 'Sports & Fitness', type: 'item' }
                }
            }
            tree_data['vehicles']['additionalParameters'] = {
                'children': {
                    'cars': { text: 'Cars', type: 'folder' },
                    'motorcycles': { text: 'Motorcycles', type: 'item' },
                    'boats': { text: 'Boats', type: 'item' }
                }
            }
            tree_data['vehicles']['additionalParameters']['children']['cars']['additionalParameters'] = {
                'children': {
                    'classics': { text: 'Classics', type: 'item' },
                    'convertibles': { text: 'Convertibles', type: 'item' },
                    'coupes': { text: 'Coupes', type: 'item' },
                    'hatchbacks': { text: 'Hatchbacks', type: 'item' },
                    'hybrids': { text: 'Hybrids', type: 'item' },
                    'suvs': { text: 'SUVs', type: 'item' },
                    'sedans': { text: 'Sedans', type: 'item' },
                    'trucks': { text: 'Trucks', type: 'item' }
                }
            }

            tree_data['rentals']['additionalParameters'] = {
                'children': {
                    'apartments-rentals': { text: 'Apartments', type: 'item' },
                    'office-space-rentals': { text: 'Office Space', type: 'item' },
                    'vacation-rentals': { text: 'Vacation Rentals', type: 'item' }
                }
            }
            tree_data['real-estate']['additionalParameters'] = {
                'children': {
                    'apartments': { text: 'Apartments', type: 'item' },
                    'villas': { text: 'Villas', type: 'item' },
                    'plots': { text: 'Plots', type: 'item' }
                }
            }
            tree_data['pets']['additionalParameters'] = {
                'children': {
                    'cats': { text: 'Cats', type: 'item' },
                    'dogs': { text: 'Dogs', type: 'item' },
                    'horses': { text: 'Horses', type: 'item' },
                    'reptiles': { text: 'Reptiles', type: 'item' }
                }
            }

            var dataSource1 = function (options, callback) {
                var $data = null
                if (!("text" in options) && !("type" in options)) {
                    $data = tree_data;//the root tree
                    callback({ data: $data });
                    return;
                }
                else if ("type" in options && options.type == "folder") {
                    if ("additionalParameters" in options && "children" in options.additionalParameters)
                        $data = options.additionalParameters.children || {};
                    else $data = {}//no data
                }

                if ($data != null)//this setTimeout is only for mimicking some random delay
                    setTimeout(function () { callback({ data: $data }); }, parseInt(Math.random() * 500) + 200);

                //we have used static data here
                //but you can retrieve your data dynamically from a server using ajax call
                //checkout examples/treeview.html and examples/treeview.js for more info
            }

            return { 'dataSource1': dataSource1 }
        }

    });


</script>





