﻿@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("HeaderSecundarioComFiltroRapido")

<main class="py-4">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-3" id="farol-terminais">
                    <script type="x-tmpl-mustache" id="tmpl-farol-terminais">
                        {{#data}}
                        <section class="box farol card">
                            <header class="text-center">
                                <h1 class="color--azul">{{ porcentEstaveis }}%</h1>
                                <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_TerminaisEstaveis</span>
                            </header>
                            <main>
                                <section>
                                    <ul>
                                        <li>
                                            <i class="sinal sinal-1"></i>
                                        </li>
                                        <li>
                                            <h1 class="color-1">{{P_ESTAVEIS}}</h1>
                                        </li>
                                        <li>
                                            <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_PontosEstaveis</span>
                                        </li>
                                    </ul>
                                </section>
                                <section>
                                    <ul>
                                        <li>
                                            <i class="sinal sinal-2"></i>
                                        </li>
                                        <li>
                                            <h1 class="color-2">{{P_ATENCAO}}</h1>
                                        </li>
                                        <li>
                                            <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_PontosdeAtencao</span>
                                        </li>
                                    </ul>
                                </section>
                                <section>
                                    <ul>
                                        <li>
                                            <i class="sinal sinal-3"></i>
                                        </li>
                                        <li>
                                            <h1 class="color-3">{{P_CRITICOS}}</h1>
                                        </li>
                                        <li>
                                            <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_PontoscomFalha</span>
                                        </li>
                                    </ul>
                                </section>
                                <section>
                                    <ul>
                                        <li>
                                            <i class="sinal sinal-4"></i>
                                        </li>
                                        <li>
                                            <h1 class="color-4">{{P_INDISPONIVEIS}}</h1>
                                        </li>
                                        <li>
                                            <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_PontosIndisponiveis</span>
                                        </li>
                                    </ul>
                                </section>
                            </main>
                            <footer>
                                <a href="@Url.Action("ListarDevices", "Device")">
                                    <button type="button" class="btn btn--verde btn--small w-100">
                                        <i class="fa fa-map-marker mr-2"></i>
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_ExplorarMapa
                                    </button>
                                </a>
                            </footer>
                        </section>
                        {{/data}}
                    </script>
                </div>
                <div class="col-3">
                    <section class="box half card">
                        <header>
                            <h6>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_NovoDevice</h6>
                        </header>
                        <main class="d-table">
                            <p class="d-table-cell align-middle">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Devices</p>
                        </main>
                        <footer>
                            <a href="@Url.Action("GerenciarDevices", "Device")">
                                <button type="button" class="btn btn--azul btn--small w-100">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Criar</button>
                            </a>
                        </footer>
                    </section>
                    <div class="mt-5" id="devices-pendentes">
                        <script type="x-tmpl-mustache" id="tmpl-devices-pendentes">
                            {{#data}}
                            <section class="box half card">
                                <header>
                                    <h6>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_DevicesPendentes</h6>
                                </header>
                                <main class="d-flex justify-content-center align-items-center">
                                    <h1 class="mr-3">{{T_PENDENTES}}</h1>
                                    <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_DevicesparaAssociar</span>
                                </main>
                                <footer>
                                    <a href="@Url.Action("DevicesPendentes", "Device")">
                                        <button type="button" class="btn btn--amarelo btn--small w-100">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_VerLista</button>
                                    </a>
                                </footer>
                            </section>
                            {{/data}}
                        </script>
                    </div>
                </div>
                <div class="col-6">
                    <section class="box grafico card">
                        <header class="d-flex justify-content-between align-items-center">
                            <h6>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Equipamentos</h6>                      
                        </header>
                        <main>
                            <canvas id="grafico-equipamentos-falha" class="w-100 h-100"></canvas>
                        </main>
                        <footer class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="legenda s-1"></i>
                                <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Normal</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="legenda s-2"></i>
                                <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Atencao</span>

                            </div>
                            <div class="d-flex align-items-center">
                                <i class="legenda s-3"></i>
                                <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Falha</span>

                            </div>
                            <div class="d-flex align-items-center">
                                <i class="legenda s-4"></i>
                                <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Indefinido</span>
                            </div>
                        </footer>
                    </section>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <section class="box grafico card">
                        <header class="d-flex justify-content-between align-items-center">
                            <h6>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_EstadoOperacaoLatencia</h6>                          
                        </header>
                        <main>
                            <canvas id="grafico-latencia" class="w-100 h-100"></canvas>
                        </main>
                        <footer class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="legenda s-1"></i>
                                <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Normal</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="legenda s-2"></i>
                                <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Atencao</span>

                            </div>
                            <div class="d-flex align-items-center">
                                <i class="legenda s-3"></i>
                                <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Falha</span>

                            </div>
                            <div class="d-flex align-items-center">
                                <i class="legenda s-4"></i>
                                <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Indefinido</span>
                            </div>
                        </footer>
                    </section>
                </div>
                <div class="col-6">
                    <section class="box grafico card">
                        <header class="d-flex justify-content-between align-items-center">
                            <h6>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Pacotes</h6>                          
                        </header>
                        <main>
                            <canvas id="grafico-pacote-falha" class="w-100 h-100"></canvas>
                        </main>
                        <footer class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="legenda s-1"></i>
                                <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Normal</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="legenda s-2"></i>
                                <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Atencao</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="legenda s-3"></i>
                                <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Falha</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="legenda s-4"></i>
                                <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Index_Indefinido</span>
                            </div>
                        </footer>
                    </section>
                </div>
            </div>
        </div>
    </section>
</main>


<script src="~/js/Chart.bundle.min.js"></script>
<script src="~/js/tabs.js"></script>

<script>

    /* Templates Mustache */
    var $tmplFarolTerminais = jQuery('#tmpl-farol-terminais').html();
    var $tmplDevicesPendentes = jQuery('#tmpl-devices-pendentes').html();
    /* Fim Templates Mustache */

    /* Container Mustache */
    var $farolTerminais = jQuery('#farol-terminais');
    var $devicesTerminais = jQuery('#devices-pendentes');

    $farolTerminais.innerHTML = "";
    $devicesTerminais.innerHTML = "";
    
    $.ajax({
        url: '@Url.Action("BuscarTotaisIndicadores", "DashBoard")',
        method: 'GET',
        success: function success(data) {

            var pontosEstaveis = parseFloat(data.P_ESTAVEIS);
            var pontosAtencao = parseFloat(data.P_ATENCAO);
            var pontosCriticos = parseFloat(data.P_CRITICOS);

            var porcentEstaveis = 0;
            if ((pontosEstaveis + pontosAtencao + pontosCriticos) != 0) {
                porcentEstaveis = (pontosEstaveis / (pontosEstaveis + pontosAtencao + pontosCriticos)) * 100;
            }
            $farolTerminais.append(Mustache.render($tmplFarolTerminais, { data: data, porcentEstaveis: porcentEstaveis.toFixed(2) }));
            $devicesTerminais.append(Mustache.render($tmplDevicesPendentes, { data: data }));
        }
    });


    $.ajax({
        url: '@Url.Action("ListarIndicadorFalha", "DashBoard")',
        method: 'GET',
        success: function (data) {
            new Chart(jQuery('#grafico-equipamentos-falha'), {
                type: 'pie',
                data: {
                    labels: data.arrayLabels,
                    datasets: [{
                        data: data.arrayValores,
                        backgroundColor: data.arrayCores
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    responsive: true
                }
            });
        }
    });


    $.ajax({
        url: '@Url.Action("ListarIndicadorErros", "DashBoard")',
        method: 'GET',
        success: function (data) {
            new Chart(jQuery('#grafico-pacote-falha'), {
                type: 'pie',
                data: {
                    labels: data.arrayLabels,
                    datasets: [{
                        data: data.arrayValores,
                        backgroundColor: data.arrayCores
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    responsive: true
                }
            });
        }
    });


    $.ajax({
        url: '@Url.Action("ListarIndicadorLatencia", "DashBoard")',
        method: 'GET',
        success: function (data) {
            new Chart(jQuery('#grafico-latencia'), {
                type: 'pie',
                data: {
                    labels: data.arrayLabels,
                    datasets: [{
                        data: data.arrayValores,
                        backgroundColor: data.arrayCores
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    responsive: true
                }
            });
        }
    });

</script>

