﻿
@{
    ViewBag.Title = "MapaLocal";
    Layout = "";
}

<h2>MapaLocal</h2>

<style>

    html, body, .map {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
</style>

<html>
<body>

    <div id="map" class="map">
    </div>

</body>
</html>

<script src="~/assets/js/ol.js"></script>

<script>
    var tms_resolutions_3857_tynset = [5.8135986328125, 2.90679931640625, 1.45339965820313, 0.726699829101563, 0.363349914550781, 0.181674957275391, 0.0908374786376953, 0.0454187393188477];
    var extent_3857_tynset = [1199098.1904393, 8923848.54918488, 1199956.06726346, 8924597.49205864];

    var map = new ol.Map({
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            }),
            new ol.layer.Tile({
                preload: 1,
                opacity: 0.8,
                source: new ol.source.TileImage({
                    crossOrigin: null,
                    extent: extent_3857_tynset,
                    tileGrid: new ol.tilegrid.TileGrid({
                        extent: extent_3857_tynset,
                        origin: [extent_3857_tynset[0], extent_3857_tynset[1]],
                        resolutions: tms_resolutions_3857_tynset
                    }),
                    url: 'http://172.30.8.81/mapcache/tms/1.0.0/osm@g/{z}/{x}/{-y}.png'
                    /*tileUrlFunction: function (coordinate) {

                        if (coordinate === null) return undefined;

                        // TMS Style URL
                        var z = coordinate[0];
                        var x = coordinate[1];
                        var y = coordinate[2];
                        var url = 'https://quadridcmmaps.blob.core.windows.net/tynset/' + z + '/' + x + '/' + y + '.png';
                        return url;
                    }*/
                })
            })
        ],
        target: 'map',
        view: new ol.View({
            center: [1200512.8002755763, 8925231.712804087],
            //center: [8923848.54918488, 1199098.1904393],
            zoom: 14
        })
    });

</script>



