﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AcessoNegado_AcessoNegado</title>

    <!-- Le styles -->

    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/energisa.css" rel="stylesheet" type="text/css">
    <link href='~/font-awesome/css/font-awesome.min.css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="bs-docs-example ">
        <section id="overview">
            <div class="page-header">
                <h1>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AcessoNegado_AcessoNegado</h1>
            </div>
        </section>
    </div>
</body>
</html>

<script src="~/js/jquery-1.10.1.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/bootstrap.js"></script>

<script>

    function LoginUser() {
        $.ajax({
            url: '@Url.Action("AutenticarUser", "Home")',
            dataType: 'json',
            type: 'POST'
        }).success(function (data) {
            if (data == "OK") {
                window.top.location.href = '@Url.Action("ListarDevices", "Device", null, Request.Url.Scheme)';
            }
            else {
                alert(data);
            }
        }).fail(function () {
            alert('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno');
        });

    }
</script>
