﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <link rel="Shortcut Icon" href="~/Images/favicon.ico">
    <style>
        .sessaoMessage, .mensagemErro{
            margin-top: -7px;
            margin-bottom: 22px;
            color: tomato;
            font-weight: bold;
            font-size: 16px;
            display:none;
        }
        .show{
            display:block;
        }
    </style>
</head>

<body>
   
    <header class="header d-flex align-items-center">
        <div class="container">
            <img src="~/Images/logoEnergisa.png" class="d-block mx-auto" alt="Logo energisa">
        </div>
    </header>

    <main class="d-flex" style="min-height:calc(100% - 50px);">
       
        @*<form class="login card m-auto" id="validation-form" role="form">
            <span>
                <legend class="mb-5">Bem-vindo</legend>]
                
                <div class="form-group mb-4">
                    <label for="txtUsuario">Usuário</label>
                    <input type="text" class="form-control" name="txtUsuario" id="txtUsuario" placeholder="Insira o nome do usuário"
                           tabindex="1">
                </div>
                <div class="form-group mb-4">
                    <label for="txtSenha">Senha</label>
                    <input type="password" class="form-control" name="txtSenha" id="txtSenha" placeholder="Insira a senha" tabindex="2">
                </div>
                <div class="input-group mb-4">
                    <input type="checkbox" name="" class="mr-3" tabindex="3">
                    <span>Lembrar meu usuário e senha</span>
                </div>
                <button class="btn btn--azul btn--small" onclick="javascript: LoginUser(); return false;">login</button>
                
            </fieldset>
        </form>*@
       
        <form class="login card m-auto" id="validation-form">
            <fieldset>
                <legend class="mb-5">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Login_BemVindo</legend>
                 <div class="sessaoMessage">
                    <span id="mensagemSessao"> Sessão expirada. Faça o login novamente. </span>
                </div>
                 <div class="mensagemErro">
                    <span id="mensagemErro"> </span>
                </div>
                <div class="form-group mb-4">
                    <label for="txtUsuario" class="form-control-feedback">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Login_Usuario</label>
                    <input type="text" class="form-control" name="txtUsuario" id="txtUsuario" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Login_msgUsuario"
                           tabindex="1">
                </div>
                <div class="form-group mb-4">
                    <label for="txtSenha" class="form-control-feedback">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Login_Senha</label>
                    <input type="password" class="form-control" name="txtSenha" id="txtSenha" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Login_msgSenha" tabindex="2">
                </div>
                <div class="input-group mb-4">
                    <input type="checkbox" name="" class="mr-3" tabindex="3">
                    <span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Login_Lembrete</span>
                </div>
                <button type="submit" onclick="LoginUser(); return false;" class="btn btn--azul btn--small">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Login_login</button>
            </fieldset>
        </form>
    </main>

</body>

</html>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5>Alerta</h5>
    </div>

    <div class="modal-body">
         <p id="dialog_msg"></p>
    </div>

    <div class="modal-footer">
        <button class="btn cinza" data-dismiss="modal" aria-hidden="true">Fechar</button>
    </div>
</div>

<script src="~/js/jquery-1.10.1.js"></script>
<script src="~/js/jquery.validate.min.js"></script>

<script>

    jQuery(function ($) {


        var patch = window.location.search;

        console.log('init', patch);
        if(patch.includes("ReturnUrl") || patch.includes("ses=S") ) {
            //console.log('mostrar a mensagem 3');
            $('.sessaoMessage').addClass('show');
        }else {
            $('.sessaoMessage').hide();
        }

        $('#validation-form').on('keyup keypress', function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                e.preventDefault();
                return false; 
            }
        });
        $('#validation-form').validate({

            errorElement: 'div',
            errorClass: 'form-control-feedback',
            focusInvalid: false,
            ignore: "",

            rules: {
                txtUsuario: {
                    required: true
                },
                txtSenha: {
                    required: true
                }
            },

            messages: {
                txtUsuario: {
                    required: "campo é obrigatório."
                },
                txtSenha: {
                    required: "campo é obrigatório."
                }
            },

            highlight: function (e) {
                $(e).closest('.form-group').addClass('control-group has-danger');

            },

            unhighlight: function (e) {
                $(e).closest('.form-group').removeClass('control-group has-danger');

            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('control-group has-danger');//.addClass('has-info');
                $(e).remove();
            },

            submitHandler: function (form) {
            },
            invalidHandler: function (form) {
            }
        });

    });


    function LoginUser() {


        if ($('#validation-form').valid()) {
            $.ajax({
                url: '@Url.Action("AutenticarUser", "Home")',
                dataType: 'json',
                type: 'POST',
                data: {
                    "user": $("#txtUsuario").val(),
                    "password": $("#txtSenha").val()
                },

            }).success(function (data) {

                if (data == "OK") {
                    window.top.location.href = '@Url.Action("Index", "DashBoard", null, Request.Url.Scheme)';
                }
                else {
                    console.log(data);
                  //  alert(data);
                    console.log('here');
                     $('.mensagemErro').addClass('show');
                     $('#mensagemErro').text(String(data));
                      $('.sessaoMessage').hide();
                }
                }).error(function (errorlog) {
                alert('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno');
                console.log(errorlog);
            });
        }
    }


  


</script>
 
