﻿@{
    ViewBag.Title = "CriarEditarTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content criarEditarTag">

    @Html.Action("HeaderSecundarioSemFiltroRapido")

    <link href="~/assets/css/ui.jqgrid.min.css" rel="stylesheet" />

    <style>
        .ui-corner-all[title="Find records"] {
            display: none !important;
        }
        .btnMarcadorFooter{
            padding-left:16px;
        }
        .footer22 {
          background-color: rgba(245, 245, 245, 1);
    border-color: rgba(221, 221, 221, 1);
    border-width: 1px;
    border-style: solid;
    padding: 13px!important;
    margin-top: -30px;
    padding-left: 45px!important;
        }
    </style>


    <main class="criar-grupo py-4">
        <section class="card container p-5 mb-4">
            <form id="form-nova-tag" class="form col-15">
                <div class="col-4">
                    <div class="form-group">
                        <label class="required" for="">@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.CriarEditarTag_Nome</label>
                        <input type="text" name="txtnometag" onkeypress="return valcaracteretx(this, event);" id="txtnometag" value="@ViewBag.Nome" tabindex="1" placeholder="@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.CriarEditarTag_InformeNome" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="required" for="">@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.CriarEditarTag_Descricao</label>
                        <textarea name="txtdescricaotag" id="txtdescricaotag" onkeypress="return valcaractere(this, event);" tabindex="2" rows="6" placeholder="@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.CriarEditarTag_InformeDescricao" class="form-control">@ViewBag.Descricao</textarea>
                        <!-- <input type="text" name="txtdescricaotag" id="txtdescricaotag" onkeypress="return valcaractere(this, event);" value="@ViewBag.Descricao" rows="6" tabindex="2" placeholder="@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.CriarEditarTag_InformeDescricao" class="form-control"> -->
                    </div>
                </div>
            
            </form>
        </section>

    </main>

       <section class="card container p-5 mb-4 footer22">
                    <button type="button" id="btnSalvar" class="btn btn--verde btn--small" onclick="ExecutarAcao()">@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.CriarEditarTag_Salvar</button>
                    <button type="button" id="btnCancelar" class="btn btn--cinza btn--small" onclick="javascript: window.history.back();">@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.CriarEditarTag_Cancelar</button>
        </section>
</div>

<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/locales/bootstrap-datepicker.pt-BR.js"></script>
<script src="~/js/jquery.meio.mask.js"></script>
<script src="~/js/application.js"></script>

<script src="../js/jquery.validate.min.js"></script>
<script src="~/js/highcharts/highcharts.js"></script>
<script src="~/js/highcharts/series-label.js"></script>
<script src="~/js/highcharts/exporting.js"></script>
<script src="~/js/highcharts/export-data.js"></script>

<script>

    var nome = '@ViewBag.nome';
    var descricao = '@ViewBag.descricao';

    CarregarTela(nome, descricao);

    function CarregarTela(nome, descricao) {

        if ('@ViewBag.Operacao' == "view") {

            $("#txtnometag").prop('disabled', true);
            $("#txtdescricaotag").prop('disabled', true);
            $("#btnSalvar").hide();
        }
    }

    function ExecutarAcao() {

        if ('@ViewBag.Operacao' == "edit") AlterarTag('@ViewBag.ID');

        else if ('@ViewBag.Operacao' == "add") CriarTag();
    }

    function CriarTag() {

        if ($('#form-nova-tag').valid()) {
            StartProgress();
            $.ajax({
                url: '@Url.Action("SalvarTag", "Tag")',
                dataType: 'json',
                data: {
                    "nome": $("#txtnometag").val(),
                    "descricao": $("#txtdescricaotag").val()
                },
                type: 'POST'
            }).success(function (data) {
                EndProgress();
                if (data == "OK") {
                    window.top.location.href = '@Url.Action("GerenciarTags", "Tag", null, Request.Url.Scheme)';
                }
                else if (data == "Expirou") {
                    window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
                }
                else {
                    showMessage(data, 'exclamation');
                }

            }).fail(function () {
                EndProgress();
                showMessage('@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno', 'exclamation');
            });
        }
    }

    function AlterarTag() {


        var id = '@ViewBag.ID';

        if ($('#form-nova-tag').valid()) {
            StartProgress();
            $.ajax({
                url: '@Url.Action("EditarTag", "Tag")',
                dataType: 'json',
                data: {
                    "id": id,
                    "nome": $("#txtnometag").val(),
                    "descricao": $("#txtdescricaotag").val()
                },
                type: 'POST'
            }).success(function (data) {
                EndProgress();
                if (data == "OK") {
                    window.top.location.href = '@Url.Action("GerenciarTags", "Tag", null, Request.Url.Scheme)';
                }
                else if (data == "Expirou") {
                    window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
                }
                else {
                    showMessage(data, 'exclamation');
                }

            }).fail(function () {
                EndProgress();
                showMessage('@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno', 'exclamation');
            });
        }
    }

    function valcaractere(obj, e) {
        var tecla = (window.event) ? e.keyCode : e.which;

        if (tecla == 34)
            return false;
        else
            return true;
    }
    function valcaracteretx(obj, e) {
        var tecla = (window.event) ? e.keyCode : e.which;

        if ((tecla > 47 && tecla < 58) || (tecla > 64 && tecla < 91) || (tecla > 96 && tecla < 123) || tecla == 199 || tecla == 231)
          return true;
        else
            return false;
    }


    jQuery(function ($) {

        $('#form-nova-tag').validate({
            errorElement: 'div',
            errorClass: 'form-control-feedback',
            focusInvalid: false,
            ignore: "",

            rules: {
                txtnometag: {
                    required: true
                },
                txtdescricaotag: {
                    required: true
                }
            },

            messages: {
                txtnometag: {
                    required: "campo é obrigatório."
                },
                txtdescricaotag: {
                    required: "campo é obrigatório."
                }
            },
            highlight: function (e) {
                $(e).closest('.form-group').addClass('control-group has-danger');

            },
            unhighlight: function (e) {
                $(e).closest('.form-group').removeClass('control-group has-danger');

            },
            success: function (e) {
                $(e).closest('.form-group').removeClass('control-group has-danger');//.addClass('has-info');
                $(e).remove();
            },
            submitHandler: function (form) {
            },
            invalidHandler: function (form) {
            }
        });

    });

</script>


