﻿@{
    ViewBag.Title = "GerenciarTags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content gerenciarTags">
    @Html.Action("HeaderSecundarioSemFiltroRapido")

    <style>
        .ui-jqgrid .ui-separator {
            height: 18px;
            border-left: 0px solid #ccc !important;
        }

        #btnCriarTag {
            width: 200px;
            margin-left: calc(100% - 200px);
            margin-top: 20px;
        }
        .editTabTh{
            width:30px
        }
        .card {
            border: none
        }

     .container .row nav {
            position: relative;
            z-index: 99;
        }
    </style>



  <header class="header--secundario d-flex align-items-center header2" style="    margin-top: -60px;  padding-right: 54px;     position: relative;
    background: transparent;">
                <div class="d-flex justify-content-end align-items-center w-100">
                  
                    <form class="form">
                        <fieldset>
                            <div class="input-group" style="width:27rem;">
                                <input type="text" name="txtfiltrotag" id="txtfiltrotag" class="form-control" placeholder="@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.GerenciarTags_Filtrar" required>
                                <button type="submit" onclick="">
                                    <i class="fa fa-search" style="font-size:1.8rem;"></i>
                                </button>
                            </div>
                        </fieldset>
                    </form>

                    <button type="button" onclick="Criar()" class="btn--search btn btn--azul btn--small" style=" margin-left: 10px;
    margin-right: 10px;">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span class="ml-2">@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.CriarEditarTag_CriarTag</span>
                    </button>
                </div>
            </header>


    <main class="py-4" style="margin-top: -14px;">
        <section class="perfis container card mt-5 pt-3 pb-5">

          

            <table class="table mb-4" id="table-tags">
                <thead>
                    <tr>
                        <th>
                            @Compass.XFracas.WebGerenciador.Resources.ResourceSGR.CriarEditarTag_Nome1
                            <i class="fa fa-caret-up ml-4 p-2" style="font-size:1.2rem;"></i>
                        </th>
                        <th>
                            @Compass.XFracas.WebGerenciador.Resources.ResourceSGR.CriarEditarTag_Descricao1
                            <i class="fa fa-caret-up ml-4 p-2" style="font-size:1.2rem;"></i>
                        </th>
                        <th class="editTabTh"></th>
                        <th class="editTabTh"></th>
                    </tr>
                </thead>
            </table>
        </section>
    </main>


    <div id="dialog-pergunta" class="dialog-message" hidden>
        <div id="modal-atribui-perfil" class="card d-flex">
            <form id="form-message">
                <header class="d-flex justify-content-between align-items-center">
                    <h6>@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.GerenciarTag_ExcluirTag</h6>
                    <button type="button" class="btn--close" onclick="hideModalPergunta(); return false;">
                        <i class="fa fa-times" style="font-size:2rem;"></i>
                    </button>
                </header>

                <main class="d-flex align-items-center">
                    <p>@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.GerenciarTag_Deseja</p>
                </main>

                <footer>
                    <button class='btn btn--verde btn--small' onclick="ExcluirTag(); return false;">@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.GerenciarTag_btnSim</button>
                    <button class='btn btn--cinza btn--small' onclick="hideModalPergunta(); return false;">@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.GerenciarTag_btnCancelar</button>
                </footer>
            </form>
        </div>
    </div>

</div>

<!-- page specific plugin scripts -->
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/dataTables.select.min.js"></script>
<script src="~/js/tether.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>


<script>

    function Criar() {
        window.location.href = "../Tag/CriarEditarTag";
    }

    jQuery(function ($) {
        var myTable =
            $('#table-tags')
                .DataTable({

                    "ajax": {
                        "url": "../Tag/ListarTags",
                        "dataSrc": ""
                    },
                    "initComplete": function () {
                        jQuery('[title!=""]').tooltip();
                    },
                    "columns": [
                        { "data": "nome" },
                        { "data": "descricao" },                     
                        {
                            "mData": null,
                            "mRender": function (obj) {
                                return '<div class="text-center"><a href= "../Tag/CriarEditarTag?id_tag=' + obj.id_tag + '&nome=' + obj.nome + '&descricao=' + obj.descricao + '&oper=edit"><i title="Editar Marcador" class="fa fa-pencil color-1 aria-hidden=true" aria-hidden="true" style="font-size:2rem!important;"></i></a ></div >';
                                                            }
                        },
                        {
                            "mData": null,
                            "mRender": function (obj) {
                                return '<a id="' + obj.id_tag + '" onclick="javascript:excluir(\'' + obj.id_tag + '\');return false;" data-toggle="tooltip" data-placement="top" data-html="true" class="text-right px-4"><i title="Excluir Marcador" class="fa fa-times color-3" style="font-size:2.5rem;"></i></a>';
                                return '<a id="' + obj.id_grupo + '" onclick="javascript:excluir(\'' + obj.id_grupo + '\');return false;" data-toggle="tooltip" data-placement="top" data-html="true" class="text-right px-4">';
                            }
                        }
                    ],

                    bAutoWidth: false,
                    multiselect: true,
                    multiboxonly: true,
                    "aaSorting": [],
                    "bFilter": false,
                    "bLengthChange": false,
                    "bInfo": true,
                    "iDisplayLength": 15,
                    "bPaginate": true,

                    "oLanguage": {
                        "sProcessing": "Processando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "Não foram encontrados resultados",
                        "sInfo": "Mostrando _START_ de _END_ total _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 de 0 total de 0 registros",
                        "sInfoFiltered": "",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "oPaginate": {

                            "sPrevious": "<",
                            "sNext": ">"
                        }
                    }
                });
    })

    $.ajax({
            url: '@Url.Action("ValidaCriarTag", "Tag")',
            method: 'GET',
        }).success(function (data) {
            StartProgress();
            if (data != "OK") {                
                $("#btnCriarTag").hide();   
                var table = $('#table-tags').DataTable();
                table.column(2).visible(false);
                table.column(3).visible(false);                
            }
        }).fail(function () {
            EndProgress();
            $("#btnCriarTag").hide();
            var table = $('#table-tags').DataTable();
            table.column(2).visible(false);
            table.column(3).visible(false);            
        }).done(function () {
            EndProgress();
        });

    function excluir(id) {

        $('#dialog-pergunta').removeAttr('hidden');
        $("#dialog-pergunta").dialog({
            resizable: false,
            dialogClass: "no-close",
            modal: true,
            title_html: false

        });
        id_tag = id;
    }

    function Atualizar() {
        var table = $('#table-tags').DataTable();
        table.ajax.reload(null, false);
    }

    $(document).ready(function () {
        $("#txtfiltrotag").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#table-tags tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function ExcluirTag() {

        hideModalPergunta();
        StartProgress();

        $.ajax({
            url: '@Url.Action("ExcluirTag", "Tag")',
            dataType: 'json',
            data: {
                "id_tag": id_tag
            },
            type: 'POST'
        }).success(function (data) {
            EndProgress();
            if (data == "OK") {
                Atualizar();
                showMessage('Marcador excluído com sucesso.', 'check');
            }
            else if (data == "Expirou") {
                window.top.location.href = '@Url.Action("Login", "Home", null, Request.Url.Scheme)';
            }
            else {
                $('#dialog-message-transferencia').removeAttr('hidden');
                $("#dialog-message-transferencia").dialog({
                    resizable: false,
                    dialogClass: "no-close",
                    modal: true,
                    title_html: false

                });
            }

        }).fail(function () {
            EndProgress();
            showMessage('@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno', 'exclamation');
        });
    }

    function hideModalPergunta() {
        $("#dialog-pergunta").dialog("close");
    }
</script>

