﻿
.social,
.social-coloured {
    /*position: relative;
    float: left;
    width: 100%;*/
}

    .social a,
    .social-coloured a {
        display: inline-block;
        height: 33px;
        width: 33px;
        margin: 2px;
        padding: 5px;
        text-align: center;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
    }

        .social a svg,
        .social-coloured a svg {
            height: 100%;
            width: 100%;
        }

    /* Monoscale */
    .social a {
        background: #333;
    }

        .social a svg path,
        .social a svg polygon,
        .social a svg rect {
            fill: #fff;
        }

        .social a:hover,
        .social a:focus {
            background: #fff;
            outline: none;
        }

            .social a:hover svg path,
            .social a:hover svg polygon,
            .social a:hover svg rect,
            .social a:focus svg path,
            .social a:focus svg polygon,
            .social a:focus svg rect {
                fill: #333;
            }

    /* Coloured In */
    .social-coloured a svg path,
    .social-coloured a svg polygon,
    .social-coloured a svg rect {
        fill: #fff;
    }

    .social-coloured .twitter {
        background: #6CACDE;
        outline: none;
    }

    .social-coloured .linkedin {
        background: #0077B5;
        outline: none;
    }

    .social-coloured .gplus {
        background: #DC4E41;
        outline: none;
    }

    .social-coloured .facebook {
        background: #3A5897;
        outline: none;
    }


    /* Colour Hover */
    .social-coloured a:hover,
    .social-coloured a:focus {
        background: #fff;
    }

    .social-coloured .facebook:hover svg path,
    .social-coloured .facebook:focus svg path {
        fill: #3A5897;
        -webkit-transition: fill 0.3s;
        transition: fill 0.3s;
    }

    .social-coloured .twitter:hover svg path,
    .social-coloured .twitter:focus svg path {
        fill: #6CACDE;
        -webkit-transition: fill 0.3s;
        transition: fill 0.3s;
    }

    .social-coloured .linkedin:hover svg path,
    .social-coloured .linkedin:focus svg path,
    .social-coloured .linkedin:hover svg rect,
    .social-coloured .linkedin:focus svg rect {
        fill: #0077B5;
        -webkit-transition: fill 0.3s;
        transition: fill 0.3s;
    }

    .social-coloured .gplus:hover svg path,
    .social-coloured .gplus:focus svg path,
    .social-coloured .gplus:hover svg polygon,
    .social-coloured .gplus:focus svg polygon {
        fill: #DC4E41;
        -webkit-transition: fill 0.3s;
        transition: fill 0.3s;
    }
