﻿

@{
    ViewBag.Title = "Reliasoft Trigger e Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/assets/js/ace-extra.min.js"></script>


<style>

    .dataTables_filter {
        text-align: left !important;
    }

        .dataTables_filter input {
            width: 350px !important;
        }
</style>


<div class="col-span-12">
    <br />

    <div class="row">

        <div class="space-6"></div>
        <div class="space-6"></div>
        <div class="space-6"></div>

    </div>



    <div class="space-6"></div>
    <div class="space-6"></div>

    <form class="form-horizontal" role="form">

        <div class="col-xs-6">

            <div class="row" style="background-color:black;color:white">
                <h4 style="padding-left:20px">INICIAL</h4>
            </div>


            <div class="space-6"></div>
            <div class="space-6"></div>
            <div class="space-6"></div>
            <div class="space-6"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Catálago </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-1" value="@ViewBag.Catalago" placeholder="Catálago" class="col-xs-10 col-sm-10" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Sistema </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-1" value="@ViewBag.Sistema" placeholder="Sistema" class="col-xs-10 col-sm-10" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Conjunto </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-1" value="@ViewBag.Conjunto" placeholder="Conjunto" class="col-xs-10 col-sm-10" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Item </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-1" value="@ViewBag.Item" placeholder="Item" class="col-xs-10 col-sm-10" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Problema </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-1" value="@ViewBag.Problema" placeholder="Problema" class="col-xs-10 col-sm-10" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Solução </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-1" value="@ViewBag.Solucao" placeholder="Solução" class="col-xs-10 col-sm-10" disabled>
                </div>
            </div>
        </div>
        <div class="col-xs-6">

            <div class="row" style="background-color:black;color:white">
                <h4>REVISADO</h4>
            </div>

            <div class="space-6"></div>
            <div class="space-6"></div>
            <div class="space-6"></div>
            <div class="space-6"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Catálago </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-1" placeholder="Catálago" class="col-xs-10 col-sm-10">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Sistema </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-1" placeholder="Sistema" class="col-xs-10 col-sm-10">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Conjunto </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-1" placeholder="Conjunto" class="col-xs-10 col-sm-10">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Item </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-1" placeholder="Item" class="col-xs-10 col-sm-10">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Problema </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-1" placeholder="Problema" class="col-xs-10 col-sm-10">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Solução </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-1" placeholder="Solução" class="col-xs-10 col-sm-10">
                </div>
            </div>

        </div>


    </form>

</div>



<!-- page specific plugin scripts -->
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="~/assets/js/dataTables.buttons.min.js"></script>
<script src="~/assets/js/buttons.flash.min.js"></script>
<script src="~/assets/js/buttons.html5.min.js"></script>
<script src="~/assets/js/buttons.print.min.js"></script>
<script src="~/assets/js/buttons.colVis.min.js"></script>
<script src="~/assets/js/dataTables.select.min.js"></script>

<script>


</script>



