﻿
@{
    ViewBag.Title = "GerenciarOtimizador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta http-equiv="refresh" content="@ViewBag.TimeOut">
</head>

@Html.Action("HeaderSecundarioSemFiltroRapido")

<style>
    .ui-jqgrid .ui-separator {
        height: 18px;
        border-left: 0px solid #ccc !important;
    }

    .ui-jqgrid-view {
        max-height: 342px;
    }

    .ui-jqgrid-bdiv {
        overflow-y: scroll !important;
        max-height: 300px !important;
    }

</style>

<main class="py-4">
    <section class="perfis container card mt-5 pt-3 pb-5">


        <header class="header--secundario d-flex align-items-center">
            <div class="d-flex justify-content-between align-items-center w-100">
                <button type="button" onclick="Criar()" class="btn--search btn btn--azul btn--small">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span class="ml-2">Criar Otimizador</span>
                </button>
                <form class="form">
                    <fieldset>
                        <div class="input-group" style="width:27rem;">
                            <input type="text" name="txtfiltroOtimizador" id="txtfiltroOtimizador" style="z-index: auto;" class="form-control" placeholder="Filtrar por Otimizador" required>
                            <button type="submit" onclick="">
                                <i class="fa fa-search" style="font-size:1.8rem;"></i>
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </header>
        <table class="table card" id="table-otimizador">
            <thead>
                <tr>
                    <th class="font-header-otimizacao">
                        Nome
                        <i class="fa fa-caret-up ml-4 p-2" style="font-size:1.2rem;"></i>
                    </th>
                    <th class="font-header-otimizacao">
                        Regra
                        <i class="fa fa-caret-up ml-4 p-2" style="font-size:1.2rem;"></i>
                    </th>
                    <th class="font-header-otimizacao">Data Criação
                        <i class="fa fa-caret-up ml-4 p-2" style="font-size:1.2rem;"></i>
                    </th>
                    <th class="font-header-otimizacao">Data Otimização
                        <i class="fa fa-caret-up ml-4 p-2" style="font-size:1.2rem;"></i>
                    </th>
                    <th class="font-header-otimizacao">Qtde Devices
                        <i class="fa fa-caret-up ml-4 p-2" style="font-size:1.2rem;"></i>
                    </th>
                    <th class="font-header-otimizacao">Qtde Otimizações
                        <i class="fa fa-caret-up ml-4 p-2" style="font-size:1.2rem;"></i>
                    </th>
                    <th class="font-header-otimizacao">Status
                        <i class="fa fa-caret-up ml-4 p-2" style="font-size:1.2rem;"></i>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </section>
</main>



<div id="dialog-pergunta" class="dialog-message" hidden>
    <div id="modal-atribui-perfil" class="card d-flex">
        <form id="form-message">
            <header class="d-flex justify-content-between align-items-center">
                <h6>Excluir Otimização</h6>
                <button type="button" class="btn--close" onclick="hideModalPergunta(); return false;">
                    <i class="fa fa-times" style="font-size:2rem;"></i>
                </button>
            </header>

            <main class="d-flex align-items-center">
                <p>Deseja realmente excluir a otimização?</p>
            </main>

            <footer>
                <button class='btn btn--verde btn--small' onclick="ExcluirOtimizacao(); return false;">Sim</button>
                <button class='btn btn--cinza btn--small' onclick="hideModalPergunta(); return false;">Cancelar</button>
            </footer>
        </form>
    </div>
</div>



<div id="dialog-resultado-calculo" class="dialog-message" hidden>
    <div id="modal-atribui-perfil" class="card2 d-flex">
        <form id="form-message">
            <header class="d-flex justify-content-between align-items-center">
                <h6>Resultado dos Cálculos</h6>
                <button type="button" class="btn--close" onclick="hideModalResultCalc(); return false;">
                    <i class="fa fa-times" style="font-size:2rem;"></i>
                </button>
            </header>

            <main>

                <table class="table card" id="table-calculo-otimizador">
                    <thead>
                        <tr>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Device Address
                            </th>
                            <th>
                                PHI
                            </th>
                        </tr>
                    </thead>
                </table>

            </main>

            <footer>
                <button class='btn btn--verde btn--small' onclick="EnviarOtimizacao(); return false;">Enviar</button>
                <button class='btn btn--cinza btn--small' onclick="hideModalResultCalc();; return false;">Cancelar</button>
            </footer>
        </form>
    </div>
</div>



<!-- page specific plugin scripts -->
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/dataTables.select.min.js"></script>
<script src="~/assets/js/jquery.jqGrid.min.js"></script>
<script src="~/js/tether.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>

<script>



        function display(cellvalue, options, rowObject) {

            if (cellvalue != null) {
                if (cellvalue == "T") {
                    return "<button type=\"button\" class=\"equipamento terminal\"><i class=\"fa fa-user mx-1\"></i>Terminal</button>";
                }
                else if (cellvalue == "R") {
                    return "<button type=\"button\" class=\"equipamento repetidor\"><i class=\"fa fa-code-fork mx-1\"></i>Repetidor</button>";
                }
                else if (cellvalue == "C") {
                    return "<button type=\"button\" class=\"equipamento concentrador\"><i class=\"fa fa-database mx-1\"></i>Concentrador</button>";
                } else {
                    return '-';
                }
            }
        }

    function Criar() {
        window.location.href = "../Otimizador/CriarEditarOtimizador";
    }

    jQuery(function ($) {
            var myTable =
                $('#table-otimizador')
                    .DataTable({

                        "ajax": {
                            "url": "../Otimizador/ListarOtimizacoes",
                            "dataSrc": ""
                        },
                        "initComplete": function () {
                            jQuery('[title!=""]').tooltip();
                        },
                        "columns": [
                            { "data": "DESCRICAO" },
                            { "data": "NOME_REGRA" },

                            {
                                "mData": null,
                                "mRender": function (obj) {                                 

                                    /* Separa os valores */
                                    let dataString1 = obj.DT_CRIACAO.split("/");

                                       /* Define a data com os va  lores separados */
                                        var dia1 = dataString1[0];
                                        var mes1 = dataString1[1];
                                        var ano1 = dataString1[2].split(" ")[0];
                                        var hora1 = dataString1[2].split(" ")[1].split(':')[0];
                                        var minuto1 = dataString1[2].split(" ")[1].split(':')[1];
                                        var segundo1 = dataString1[2].split(" ")[1].split(':')[2];

                                        var data1 = new Date(ano1, mes1, dia1, hora1, minuto1, segundo1);

                                        return data1.toLocaleDateString('pt-BR') + ' ' + data1.toLocaleTimeString('pt-BR');                              
                                }
                            },

                            {
                                "mData": null,
                                "mRender": function (obj) {

                                    /* Separa os valores */
                                    let dataString = obj.DT_OTIMIZACAO.split("/");

                                    if (dataString[0] != "") {
                                        /* Define a data com os valores separados */
                                        var dia = dataString[0];
                                        var mes = dataString[1];
                                        var ano = dataString[2].split(" ")[0];
                                        var hora = dataString[2].split(" ")[1].split(':')[0];
                                        var minuto = dataString[2].split(" ")[1].split(':')[1];
                                        var segundo = dataString[2].split(" ")[1].split(':')[2];

                                        var data = new Date(ano, mes-1, dia, hora, minuto, segundo);

                                        return data.toLocaleDateString('pt-BR') + ' ' + data.toLocaleTimeString('pt-BR');
                                    }
                                    else {
                                        var data = "";
                                        return data;
                                    }

                                }
                            },
                            { "data": "QTD_DEVICES" },
                            { "data": "QTD_OTIMIZACOES" },
                            { "data": "STATUS" },

                            {
                                "mData": null,
                                "mRender": function (obj) {
                                    return '<a id="C' + obj.ID_OTIMIZACAO + '" onclick="javascript:OpenResultCalc(\'' + obj.ID_OTIMIZACAO + '\');return false;" data-toggle="tooltip" data-placement="top" data-html="true" class="text-right px-4"><i title="Executar Cálculos" class="fa fa-calculator" style="font-size:2.0rem;"></i></a>';
                                }
                            },

                            {
                                "mData": null,
                                "mRender": function (obj) {

                                    return '<div class="text-center"><a href= "../Otimizador/CriarEditarOtimizador?id_otimizador=' + obj.ID_OTIMIZACAO + '&id_regra=' + obj.ID_OTIMIZ_REGRA + '&nm=' + obj.DESCRICAO  +'&oper=view"><i title="Visualizar Otimização" class="fa fa-search-plus color--azul" aria-hidden="true" style="font-size:2rem!important;"></i></a ></div >';
                                }
                            },
                            {
                                "mData": null,
                                "mRender": function (obj) {

                                    return '<div class="text-center"><a href= "../Otimizador/CriarEditarOtimizador?id_otimizador=' + obj.ID_OTIMIZACAO + '&id_regra=' + obj.ID_OTIMIZ_REGRA + '&nm=' + obj.DESCRICAO +'&oper=edit"><i title="Editar Otimização" class="fa fa-pencil color-1" aria-hidden="true" style="font-size:2rem!important;"></i></a ></div >';
                                }
                            },
                             {
                                "mData": null,
                                "mRender": function (obj) {
                                    return '<a id="' + obj.ID_OTIMIZACAO + '" onclick="javascript:excluir(\'' + obj.ID_OTIMIZACAO + '\');return false;" data-toggle="tooltip" data-placement="top" data-html="true" class="text-right px-4"><i title="Excluir Otimização" class="fa fa-times" style="font-size:2.5rem;"></i></a>';
                                }
                            }
                        ],

                        "columnDefs": [
                            { "type": "date-euro", targets: 2 },
                             { "type": "date-euro", targets: 3 }
                        ],
                                             

                        bAutoWidth: false,
                        multiselect: true,
                        multiboxonly: true,
                        "aaSorting": [],
                        "bFilter": false,
                        "bLengthChange": false,
                        "bInfo": true,
                        "iDisplayLength": 15,
                        "bPaginate": true,

                        "oLanguage": {
                            "sProcessing": "Processando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "Não foram encontrados resultados",
                            "sInfo": "Mostrando _START_ de _END_ total _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando 0 de 0 total de 0 registros",
                            "sInfoFiltered": "",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "oPaginate": {

                                "sPrevious": "<",
                                "sNext": ">"
                            }
                        }
                });


            grid_calc_otimizador = "#table-calculo-otimizador";

            var dadosCalc = @Html.Raw(@Json.Encode(ViewBag.lstDadosCalc));


            jQuery(grid_calc_otimizador).jqGrid({
                data: dadosCalc,
                datatype: "local",
                colNames: ['','Device', 'Phi'],
                colModel: [
                    { name: 'tipo_device', index: 'tipo_device', title: false, formatter: display },
                    { name: 'device_address', index: 'device_address', key: true, title: false },
                    { name: 'vl_phi', index: 'vl_phi', title: false },
                ],
                pgbuttons: false,
                draggable: true,
                viewrecords: true,
                pgtext: "",
                pginput: false,
                altRows: true,
                edit: false,
                autowidth: true,
                add: false,
                view: false,
                height: 200,
                cmTemplate: { title: false },
                multiboxonly: true,
                multiselect: false,
                gridview: true,
                hidegrid: false,
                rowNum: 10000,
                reccount: 10000,
                recordtext: "Ver {0} - {1} de {2}",
                emptyrecords: "Nenhum registro",
                loadtext: "Carregando...",
                savetext: "Salvando...",
                pgtext: "Página {0} of {1}",
                pgfirst: "Primeira Página",
                pglast: "Última Página",
                pgnext: "Próxima Página",
                pgprev: "Página Anterior",
                pgrecs: "Registros por Página",
                showhide: "Mostrar/Ocultar Grid",
                loadComplete: function () {

                },

            });

    })


    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "date-euro-pre": function (a) {
            var x;

            if ($.trim(a) !== '') {
                var frDatea = $.trim(a).split(' ');
                var frTimea = (undefined != frDatea[1]) ? frDatea[1].split(':') : [00, 00, 00];
                //  console.log('TESTE', frTimea);
                var frDatea2 = frDatea[0].split('/');
                x = (frDatea2[2] + frDatea2[1] + frDatea2[0] + frTimea[0] + frTimea[1] + ((undefined != frTimea[2]) ? frTimea[2] : 0)) * 1;
            }
            else {
                x = Infinity;
            }

            return x;
        },

        "date-euro-asc": function (a, b) {
            return a - b;
        },

        "date-euro-desc": function (a, b) {
            return b - a;
        }
    });

    $(document).ready(function () {
        $("#txtfiltroOtimizador").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#table-otimizador tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


    var id_otimizador_local;

    function excluir(id) {

        $('#dialog-pergunta').removeAttr('hidden');
        $("#dialog-pergunta").dialog({
            resizable: false,
            dialogClass: "no-close",
            width:500,
            modal: true,
            title_html: false

        });
        id_otimizador_local = id;
    }


    function OpenResultCalc(id) {

        id_otimizador_local = id;

        StartProgress();

         $.ajax({
            url: '@Url.Action("ListarResultCalcOtimizacao", "Otimizador")',
            dataType: 'json',
            data: {
                "id_otimizador": id
            },
            type: 'POST'
         }).success(function (json) {
             EndProgress();

             if (json == "Expirou") {
                 window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
             }
             else {
                 jQuery(grid_calc_otimizador).jqGrid('clearGridData');
                 jQuery(grid_calc_otimizador).jqGrid('setGridParam', { data: json });
                 jQuery(grid_calc_otimizador).trigger('reloadGrid');

                 MostrarDialog();

                 Atualizar();
             }           

        }).fail(function () {
            EndProgress();
            showMessage('Ocorreu um erro interno,tente mais tarde.', 'exclamation');
        });

    }


    function MostrarDialog() {
        $('#dialog-resultado-calculo').removeAttr('hidden');

        $("#dialog-resultado-calculo").dialog({
            resizable: false,
            dialogClass: "no-close",
            modal: true,
            title_html: false

        });
    }

    function Atualizar() {
        var table = $('#table-otimizador').DataTable();
        table.ajax.reload(null, false);
    }

    function ProsseguirExclusao() {
        ExcluirOtimizacao();
        Atualizar();
    }


    function ExcluirOtimizacao() {

        hideModalPergunta();
        StartProgress();
        $.ajax({
            url: '@Url.Action("RemoverOtimizacao", "Otimizador")',
            dataType: 'json',
            data: {
                "id_otimizador": id_otimizador_local
            },
            type: 'POST'
        }).success(function (data) {
            EndProgress();
            if (data == "OK") {
                Atualizar();
                showMessage('Otimizador removido com sucesso.', 'check');
            }
            else if (data == "Expirou") {
                 window.top.location.href = '@Url.Action("Login", "Home", null, Request.Url.Scheme)';
            }
            else {
                showMessage(data, 'exclamation');
            }
        }).fail(function () {
            EndProgress();
            showMessage('Ocorreu um erro interno,tente mais tarde.', 'exclamation');
        });

    }


     function CancelarOtimizacao() {

        $.ajax({
            url: '@Url.Action("CancelarOtimizacao", "Otimizador")',
            dataType: 'json',
            data: {
                "id_otimizador": id_otimizador_local
            },
            type: 'POST'
        }).success(function (data) {
            EndProgress();
            if (data != "OK") {
                showMessage(data, 'exclamation');
            }
        }).fail(function () {
            showMessage('Ocorreu um erro interno,tente mais tarde.', 'exclamation');
        });

    }

     function EnviarOtimizacao() {

        $.ajax({
            url: '@Url.Action("EnviarOtimizacao", "Otimizador")',
            dataType: 'json',
            data: {
                "id_otimizador": id_otimizador_local
            },
            type: 'POST'
        }).success(function (data) {
            EndProgress();
            if (data == "Expirou") {
               window.top.location.href = '@Url.Action("Login", "Home", null, Request.Url.Scheme)';
            }
            else if (data != "OK") {
                showMessage(data, 'exclamation');
                $("#dialog-resultado-calculo").dialog("close");
            }
            Atualizar();
            $("#dialog-resultado-calculo").dialog("close");
        }).fail(function () {
            showMessage('Ocorreu um erro interno,tente mais tarde.', 'exclamation');
            $("#dialog-resultado-calculo").dialog("close");
        });

    }


    function hideModalPergunta() {
        $("#dialog-pergunta").dialog("close");
    }

    function hideModalResultCalc() {

        CancelarOtimizacao();
        $("#dialog-resultado-calculo").dialog("close");
        Atualizar();
    }

</script>

