﻿<!DOCTYPE html>
<html lang="en, pt-br">

@Html.Action("HeaderSecundarioSemFiltroRapido")

<body>
    <main class="py-4">
        <section id="criacao-novo-device" class="card container pt-5 px-5"></section>
    </main>

    <script type="x-tmpl-mustache" id="tmpl-editar-device">
        {{#data}}
        <form id="form-novo-device">
            <fieldset>
                <header>
                    <div class="form-group">
                        <legend>{{device_address}}</legend>
                        <div>
                            <button type="button" class="btn btn--cinza btn--small mr-3 active">
                                {{tipodevice}}
                            </button>
                        </div>
                    </div>
                </header>
                <main>
                    <section>
                        <fieldset>
                            <div class="row">
                                <div class="col-4 form-group">
                                    <label for="txtmacaddress">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_DeviceAddress</label>
                                    <input type="text" name="txtmacaddress" id="txtmacaddress" class="form-control" tabindex="1" value="{{device_address}}" maxlength="32">
                                </div>
                                <div class="col-4 form-group">
                                    <label for="txtlatitude">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_Latitude</label>
                                    <input type="text" name="txtlatitude" id="txtlatitude" class="form-control" tabindex="2" value="{{latitude}}" onkeypress="return valcaractere(this, event);" maxlength="22">
                                </div>
                                <div class="col-4 form-group">
                                    <label for="txtlongitude">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_Longitude</label>
                                    <input type="text" name="txtlongitude" id="txtlongitude" class="form-control" tabindex="3" value="{{longitude}}" onkeypress="return valcaractere(this, event);" maxlength="22">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="col-4 form-group">
                                    <label for="cmbTipoLogradouro">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_TipoLogradouro</label>
                                    <select name="cmbTipoLogradouro" id="cmbTipoLogradouro" class="form-control w-100" tabindex="4">
                                        <option value="">Selecione</option>
                                        <option value="ALD">ALD</option>
                                        <option value="ASS">ASS</option>
                                        <option value="AV">AV</option>
                                        <option value="CHA">CHA</option>
                                        <option value="CRR">CRR</option>
                                        <option value="EST">EST</option>
                                        <option value="ETN">ETN</option>
                                        <option value="FAZ">FAZ</option>
                                        <option value="INC">INC</option>
                                        <option value="PSQ">PSQ</option>
                                        <option value="RCH">RCH</option>
                                        <option value="ROD">ROD</option>
                                        <option value="RUA">RUA</option>
                                        <option value="SIT">SIT</option>
                                        <option value="VIL">VIL</option>
                                    </select>
                                </div>
                                <div class="col-4 form-group">
                                    <label for="txtlogradouro">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_Logradouro</label>
                                    <input type="text" name="txtlogradouro" id="txtlogradouro" class="form-control" tabindex="5" value="{{logradouro}}" maxlength="250">
                                </div>

                                <div class="col-4 form-group">
                                    <label for="txtnumeroimovel">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_NumeroImovel</label>
                                    <input type="text" name="txtnumeroimovel" id="txtnumeroimovel" class="form-control" tabindex="6" value="{{num_imovel}}" maxlength="20">
                                </div>

                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="row">
                                <div class="col-4 form-group">
                                    <label for="txtcomplemento">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_Complemento</label>
                                    <input type="text" name="txtcomplemento" id="txtcomplemento" class="form-control" tabindex="7" value="{{complemento}}" maxlength="150">
                                </div>
                                <div class="col-4 form-group">
                                    <label for="txtbairro">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_Bairro</label>
                                    <input type="text" name="txtbairro" id="txtbairro" class="form-control" tabindex="8" value="{{bairro}}" maxlength="48">
                                </div>
                                <div class="col-4 form-group">
                                    <label for="txtdistrital">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_Distrital</label>
                                    <input type="text" name="txtdistrital" id="txtdistrital" class="form-control" tabindex="9" value="{{distrital}}" maxlength="48">
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="row">

                                <div class="col-4 form-group">
                                    <label for="txtmunicipio">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_Municipio</label>
                                    @Html.DropDownList("ListaMunicipio", null, new { @class = "w-100 form-control", @id = "cmbmunicipio", @tabindex = "10", @value = "{{cmbmunicipio}}"})

                                </div>
                                <div class="col-4 form-group">
                                    <label for="cmbAtivo">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_Ativo</label>
                                    <select name="cmbAtivo" id="cmbAtivo" class="form-control w-100" tabindex="11" value="{{cmbAtivo}}">
                                        <option value="">Selecione</option>
                                        <option value="S">Sim</option>
                                        <option value="N">Não</option>
                                    </select>
                                </div>

                            </div>
                        </fieldset>

                        {{#ip}}
                        <fieldset>
                            <div class="row">
                                <div class="col-4 form-group">
                                    <label for="txtIP">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_IP</label>
                                    <input type="text" name="txtIP" id="txtIP" class="form-control" tabindex="12" value="{{ip}}" maxlength="40">
                                </div>
                                <div class="col-4 form-group">
                                    <label for="txtPorta">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_Porta</label>
                                    <input type="number" name="txtPorta" id="txtPorta" class="form-control" tabindex="13" value="{{porta}}" maxlength="12">
                                </div>
                                <div class="col-4 form-group">
                                    <label for="txtQtdMax">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_QtdMax</label>
                                    <input type="number" name="txtQtdMax" id="txtQtdMax" class="form-control" tabindex="14" value="{{qtdMax}}" maxlength="22">
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="row">
                                <div class="col-4 form-group">
                                    <label for="txtAPIGet">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_CaminhoAPIGet</label>
                                    <input type="text" name="txtAPIGet" id="txtAPIGet" class="form-control" tabindex="15" value="{{url_get}}" maxlength="300">
                                </div>
                                <div class="col-4 form-group">
                                    <label for="txtAPIDelete">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_CaminhoAPIDelete</label>
                                    <input type="text" name="txtAPIDelete" id="txtAPIDelete" class="form-control" tabindex="16" value="{{url_delete}}" maxlength="300">
                                </div>

                            </div>
                        </fieldset>
                        {{/ip}}

                    </section>
                    <footer>
                        <div class="row justify-content-start">

                            <a href="javascript:void(0);">
                                <button type="submit" style="margin-right:10px!important" onclick="javascript: AlterarDevice(); return false;" class="btn btn--verde btn--small">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_Salvar</button>
                            </a>

                            <a>
                                <button style="margin-right:10px!important" type="button" onclick="javascript: window.history.back();" class="btn btn--cinza btn--small">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_Cancelar</button>
                            </a>
                        </div>
                    </footer>
                </main>
            </fieldset>
        </form>
        {{/data}}
    </script>

    <script src="~/js/jquery-1.10.1.js"></script>
    <script src="../js/mustache.min.js"></script>
    <script src="../js/jquery.validate.min.js"></script>
    <script src="../js/novo-device.js"></script>

    <script>

        function valcaractere(obj, e) {
            var tecla = (window.event) ? e.keyCode : e.which;

            if (tecla == 8 || tecla == 32 || tecla == 45 || tecla == 46 || (tecla >= 48 && tecla <= 57))
                return true;
            else
                return false;
        }

        var deviceaddress = '@ViewBag.deviceaddress';
        var tmplEditarDevice = jQuery('#tmpl-editar-device').html();

        CarregarTela(deviceaddress);

        function CarregarTela(deviceaddress) {

            $.ajax({
                url: '@Url.Action("BuscaDevice", "Device")',
                dataType: 'json',
                data: {
                    "device_address": deviceaddress
                },
                type: 'POST'
            }).success(function (data) {

                var obj = {
                    data: data,
                    tipodevice: '@ViewBag.tipodevice' == 'R' ? '@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_TipoRepetidor.ToString()' : '@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_TipoConcentrador.ToString()'
                }

                var tipo_logr = data.tipo_logr;
                var ativo = data.ativo;
                var muni = data.municipio;
                var render = Mustache.render(tmplEditarDevice, obj);

                jQuery('#criacao-novo-device').append(render);

                jQuery('#cmbTipoLogradouro').find('option').each(function () {
                    if (jQuery(this).val() === tipo_logr) {
                        jQuery(this).attr('selected', 'selected');
                    }
                });

                jQuery('#cmbmunicipio').find('option').each(function () {
                    if (jQuery(this).val() === muni) {
                        jQuery(this).attr('selected', 'selected');
                    }
                });

                jQuery('#cmbAtivo').find('option').each(function () {
                    if (jQuery(this).val() === ativo) {
                        jQuery(this).attr('selected', 'selected');
                    }
                });

                $('#form-novo-device').validate({

                    errorElement: 'div',
                    errorClass: 'form-control-feedback',
                    focusInvalid: false,
                    ignore: "",

                    rules: {
                        txtmacaddress: {
                            required: true
                        },
                        txtlatitude: {
                            required: true
                        },
                        txtlongitude: {
                            required: true
                        },
                        txtIP: {
                            required: true
                        },
                        txtPorta: {
                            required: true
                        },
                        txtQtdMax: {
                            required: true
                        },
                        txtAPIGet: {
                            required: true
                        },
                        txtAPIDelete: {
                            required: true
                        },
                        cmbAtivo: {
                            required: true
                        }
                    },
                    messages: {
                        txtmacaddress: {
                            required: "@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Geral_campoObrigatório"
                        },
                        txtlatitude: {
                            required: "@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Geral_campoObrigatório"
                        },
                        txtlongitude: {
                            required: "@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Geral_campoObrigatório"
                        },
                        txtIP: {
                            required: "@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Geral_campoObrigatório"
                        },
                        txtPorta: {
                            required: "@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Geral_campoObrigatório"
                        },
                        txtQtdMax: {
                            required: "@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Geral_campoObrigatório"
                        },
                        txtAPIGet: {
                            required: "@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Geral_campoObrigatório"
                        },
                        txtAPIDelete: {
                            required: "@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Geral_campoObrigatório"
                        },
                        cmbAtivo: {
                            required: "@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Geral_campoObrigatório"
                        }
                    },
                    highlight: function (e) {
                        $(e).closest('.form-group').addClass('control-group has-danger');

                    },
                    unhighlight: function (e) {
                        $(e).closest('.form-group').removeClass('control-group has-danger');

                    },
                    success: function (e) {
                        $(e).closest('.form-group').removeClass('control-group has-danger');//.addClass('has-info');
                        $(e).remove();
                    },
                    submitHandler: function (form) {

                    },
                    invalidHandler: function (form) {
                    }
                });

            }).fail(function (e) {
                showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno', 'exclamation');
            });
        }

        function AlterarDevice() {

            if ($('#form-novo-device').valid()) {

                $.ajax(
                    {
                        url: '@Url.Action("AlterarDeviceConfiguration", "Device")',
                        dataType: 'json',
                        data: {
                            "device_address": $("#txtmacaddress").val(),
                            "latitude": $("#txtlatitude").val(),
                            "longitude": $("#txtlongitude").val(),
                            "logradouro": $("#txtlogradouro").val(),
                            "num_imovel": $("#txtnumeroimovel").val(),
                            "bairro": $("#txtbairro").val(),
                            "complemento": $("#txtcomplemento").val(),
                            "municipio": $("#cmbmunicipio").val(),
                            "ativo": $('#cmbAtivo').val(),
                            "ip": $('#txtIP').val(),
                            "porta": $('#txtPorta').val(),
                            "qtdMax": $('#txtQtdMax').val(),
                            "url_get": $('#txtAPIGet').val(),
                            "url_delete": $('#txtAPIDelete').val(),
                            "distrital": $("#txtdistrital").val(),
                            "tipo_device": '@ViewBag.tipodevice',
                            "tipo_logr": $("#cmbTipoLogradouro").val()
                        },
                        type: 'POST'
                    }).success(function (data) {
                        if (data === "OK") {
                            showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarDevices_MsgEditado', 'check');
                            //window.top.location.href = '@Url.Action("ListarDevices", "Device", null, Request.Url.Scheme)';
                        }
                        else if (data === "Expirou") {
                            window.top.location.href = '@Url.Action("Login", "Home", null, Request.Url.Scheme)';
                        }
                        else {
                            showMessage(data, 'exclamation');
                        }
                    }).fail(function () {
                        showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno', 'exclamation');
                    });
            }
        }

    </script>

</body>
</html>
