﻿<!-- Subhead
================================================== -->
<header class="d-flex align-items-center header--secundario">
    <div class="container">
        <div class="row justify-content-between">

            @Html.Action("Breadcrumb")

            <nav class="d-flex align-items-center">
                <form>
                    <fieldset>
                        <div class="input-group" style="width:27rem;">
                            <input type="text" name="txtfiltrorapido" id="txtfiltrorapido" value="@Session["p_filtrorapido"].ToString()" class="form-control" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Header_BusqueDeviceAddressUC" required>
                            <button type="submit" onclick="BuscaFiltroRapido(); return false;">
                                <i class="fa fa-search" style="font-size:1.8rem;"></i>
                            </button>
                        </div>
                    </fieldset>
                </form>

            </nav>
        </div>
    </div>
</header>
