﻿@{
    ViewBag.Title = "DevicesPendentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("HeaderSecundarioComFiltroRapido")


<style>
    .ui-dialog-titlebar {
        display: none !important;
    }

    .ui-tooltip-content{
        background: white;
        position: absolute;
        left: 76%;
        padding: 9px;
        margin-top: -7px;
        border-radius: 20px;
    }

    #modal-atribui-perfil label{
        padding: 9px;
        padding-top: 19px;
        font-size: 1.5em;
        padding-left: 0.75em;
     }

      #modal-atribui-perfil i {
        font-size: 1.6em;
     }

      #modal-atribui-perfil  span {
        font-weight: bold;
        font-size: 1.2em;
      }

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    .btnFile {
        color: white;
        background-color: white;
        padding: 8px 20px;
        font-size: 16px;
        background: #5f817e;
    }

    .upload-btn-wrapper input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
</style>

<main class="mt-4" style="padding-top:50px">
    <section id="ModoList" class="card container mt-4 py-4">
        <nav class="d-flex align-items-center" id="nav-principal" style="margin-bottom: -29px;">

            <div class="upload-btn-wrapper">
                <button class="btnFile"> <i class="fa fa-upload" aria-hidden="true"></i>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.ImportarUC_Importar</button>
                <input type="file" id="FileUpload" name="myfile" onchange="upload();" />
            </div>
        </nav>
        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <table class="table mb-4" id="lst-file-upload">
            <thead>
                <tr>
                    <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.ImportarUC_Data</th>
                    <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.ImportarUC_Arquivo</th>
                    <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.ImportarUC_Usuário</th>
                    <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.ImportarUC_Status</th>
                </tr>
            </thead>
        </table>
    </section>
</main>

<div id="resumo_importacao" hidden>
    <div id="modal-atribui-perfil" class="card d-flex">
        <form id="form-message">
            <header class="d-flex justify-content-between align-items-center">
                <h6>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.ImportarUC_ResumoImportação</h6>
                <button type="button" class="btn--close" onclick="hideModalResumoImportacao(); return false;">
                    <i class="fa fa-times" style="font-size:2rem;"></i>
                </button>
            </header>

            <main class="d-flex align-items-center">

                <table>
                    <tr>
                        <td><i class="fa fa-check-circle" aria-hidden="true" style="color:#70BF54;"></i></td>
                        <td><label id="lbl_registros_proc"></label></td>
                        <td><span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.ImportarUC_RegistrosProcessados</span></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-check-circle" aria-hidden="true" style="color:#70BF54;"></i></td>
                        <td><label id="lbl_total_ins"></label></td>
                        <td><span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.ImportarUC_UCInseridas</span></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-check-circle" aria-hidden="true" style="color:#70BF54;"></i></td>
                        <td><label id="lbl_total_upd"></label></td>
                        <td><span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.ImportarUC_UCAtualizadas</span></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-exclamation-circle" aria-hidden="true" style="color:tomato;"></i></td>
                        <td><label id="lbl_total_erro"></label></td>
                        <td><span>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.ImportarUC_UCNInseridas </span></td>
                    </tr>
                </table>


            </main>

            <footer>
                <button class='btn btn--verde btn--small' onclick="ExportarErros(); return false;">EXPORTAR.CSV</button>
                <button class='btn btn--cinza btn--small' onclick="hideModalResumoImportacao(); return false;">SAIR</button>
            </footer>
        </form>
    </div>
</div>


<a id="downloadAnchorElem" style="display:none"></a>

<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/dataTables.buttons.min.js"></script>
<script src="~/assets/js/buttons.flash.min.js"></script>
<script src="~/assets/js/buttons.html5.min.js"></script>
<script src="~/assets/js/buttons.print.min.js"></script>
<script src="~/assets/js/buttons.colVis.min.js"></script>
@*<script src="~/assets/js/buttons.pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>*@

<script src="~/assets/js/dataTables.select.min.js"></script>

<script src="~/assets/js/jquery-ui.min.js"></script>

<script>

    var id_file_selecionado;

       setInterval(function () {

            Atualizar();

    }, 30000);

    jQuery(function ($) {

        //initiate dataTables plugin
        var myTable = $('#lst-file-upload').DataTable({

            "ajax": {
                "url": "../Device/ListarFilaArquivosUC/",
                "type": "GET",
                "dataSrc": ""
            },
  
            "columns": [
                {
                    "mData": null,
                    "mRender": function (obj) {
                        if (obj === "Expirou") {
                            window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
                            return null;
                        } else {

                            /* Separa os valores */
                            let dataString = obj.dt_envio.split("/");

                            /* Define a data com os valores separados */
                            //  let data = new Date(dataString[2], dataString[1]-1, dataString[0]);
                            var dia = dataString[0];
                            var mes = dataString[1];
                            var ano = dataString[2].split(" ")[0];
                            var hora = dataString[2].split(" ")[1].split(':')[0];
                            var minuto = dataString[2].split(" ")[1].split(':')[1];
                            var segundo = dataString[2].split(" ")[1].split(':')[2];

                            var data = new Date(ano, mes-1, dia, hora, minuto, segundo);

                            return data.toLocaleDateString('pt-BR') + ' ' + data.toLocaleTimeString('pt-BR');

                        }
                    }                    
                },
                { "data": "nome_arquivo" },
                { "data": "id_user" },

                {
                    "mData": null,
                    "mRender": function (obj) {

                        if (obj.status == 'Concluido') {
                            return '<a onclick="javascript:OpenVisualizarResumo(\'' + obj.id_file + '\');return false;"> <i class="fa fa-search-plus color--azul" aria-hidden="true" style="font-size:2.5rem;"></i> </a>';
                        }

                         if (obj.status == 'Processando') {

                            return ' <i class=" fa fa-spinner fa-spin color--azul "  style="font-size:2.5rem; cursor: pointer" title="O Arquivo está sendo processado, aguarde"> </i>  ';

                        }

                        if (obj.status == 'Erro') {

                            return ' <i class=" fa fa-exclamation-circle " aria-hidden="true" style="font-size:2.5rem; cursor: pointer; color:tomato" title="O Arquivo é inválido, corrija e tente novamente "> </i>  ';

                        }
                       
                            return '<div class="text-center">' + obj.status + '</div >';
                        
                    }
                }
            ],

            "columnDefs": [
                { "type": "date-euro", targets: 0 }
            ],

            bAutoWidth: false,
            "aaSorting": [],
            "bFilter": false,
            "bLengthChange": false,
            "bInfo": true,
            "iDisplayLength": 15,
            "bPaginate": true,

            "oLanguage": {
                "sProcessing": "Processando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "Não foram encontrados resultados para esta pesquisa!",
                "sInfo": "Mostrando _START_ de _END_ total _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 de 0 total de 0 registros",
                "sInfoFiltered": "",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "oPaginate": {

                    "sPrevious": "<",
                    "sNext": ">"
                }
            }

        });

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-euro-pre": function (a) {
                var x;

                if ($.trim(a) !== '') {
                    var frDatea = $.trim(a).split(' ');
                    var frTimea = (undefined != frDatea[1]) ? frDatea[1].split(':') : [00, 00, 00];
                    //  console.log('TESTE', frTimea);
                    var frDatea2 = frDatea[0].split('/');
                    x = (frDatea2[2] + frDatea2[1] + frDatea2[0] + frTimea[0] + frTimea[1] + ((undefined != frTimea[2]) ? frTimea[2] : 0)) * 1;
                }
                else {
                    x = Infinity;
                }

                return x;
            },

            "date-euro-asc": function (a, b) {
                return a - b;
            },

            "date-euro-desc": function (a, b) {
                return b - a;
            }
        });


        $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

        new $.fn.dataTable.Buttons(myTable, {
            buttons: [
                {
                    "extend": "colvis",
                    "text": "<i class='fa fa-columns bigger-110 blue'></i> <span class='hidden'>Mostrar/Esconder colunas</span>",
                    "className": "btn btn-white btn-primary btn-bold",
                    columns: ':not(:last)'
                },
                {
                    "extend": "copy",
                    "text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copiado para área de transferencia</span>",
                    "className": "btn btn-white btn-primary btn-bold",
                    "copyTitle": "teste",
                    "copyInfo": "Info"
                },
                {
                    "extend": "csv",
                    "text": "<i class='fa fa-download bigger-110 orange'></i> <span class='hidden'>Exportar para CSV</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                },
                {
                    "extend": "print",
                    "text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Imprimir</span>",
                    "className": "btn btn-white btn-primary btn-bold",
                    autoPrint: false,
                    message: "Lista Arquivos Importação"
                }
            ]

        });

        myTable.buttons().container().appendTo($('.tableTools-container'));

        //style the message box
        var defaultCopyAction = myTable.button(1).action();
        myTable.button(1).action(function (e, dt, button, config) {
            defaultCopyAction(e, dt, button, config);
            $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
        });

        var defaultColvisAction = myTable.button(0).action();
        myTable.button(0).action(function (e, dt, button, config) {

            defaultColvisAction(e, dt, button, config);


            if ($('.dt-button-collection > .dropdown-menu').length == 0) {
                $('.dt-button-collection')
                    .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                    .find('a').attr('href', '#').wrap("<li />")
            }
            $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
        });

        myTable.on('select', function (e, dt, type, index) {
            if (type === 'row') {
                $(myTable.row(index).node()).find('input:checkbox').prop('checked', true);
            }
        });
        myTable.on('deselect', function (e, dt, type, index) {
            if (type === 'row') {
                $(myTable.row(index).node()).find('input:checkbox').prop('checked', false);
            }
        });
    });

    function Atualizar() {

        StartProgress();

        $.ajax({
            url: '@Url.Action("ListarFilaArquivosUC", "Device")',
            dataType: 'json',
            type: 'POST',
            success: function(data) {
                if (data == "Expirou") {
                    window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
                }
                else {
                    var datatable = $('#lst-file-upload').DataTable();
                    datatable.clear();
                    datatable.rows.add(data);
                    datatable.draw();
                }
                EndProgress();
            },
            error: function (error) {
              //  alert("errror");
              console.error(error);
                EndProgress();
            }
        });

        EndProgress();
    }


    function OpenVisualizarResumo(id_file) {

        id_file_selecionado = id_file;

        $.ajax({
            type: 'post',
            url: '@Url.Action("TotaisUpLoadUC", "Device")',
            data: {
                "id_file": id_file,
            },
            dataType: 'json',
            success: function (data) {

                 document.getElementById("lbl_registros_proc").innerHTML = data.total_proc;
                 document.getElementById("lbl_total_ins").innerHTML = data.total_ins;
                 document.getElementById("lbl_total_upd").innerHTML = data.total_upd;
                 document.getElementById("lbl_total_erro").innerHTML = data.total_erro;

                 OpenDialogResumoImportacao();

            },
            error: function (error) {
                alert("errror");
            }
        });

    }

    function hideModalResumoImportacao() {
        $("#resumo_importacao").dialog("close");
    }

    function OpenDialogResumoImportacao() {

        $('#resumo_importacao').removeAttr('hidden');
        $("#resumo_importacao").dialog({
            width: 500,
            height: 500,
            dialogClass: "no-close",
            modal: true,
            title_html: false
        });
    }

    function ExportarErros() {

        StartProgress();
        $.ajax({
            url: '@Url.Action("ListaErrosFile", "Device")',
            type: 'POST',
            data: {
                "id_file": id_file_selecionado,
            },
            dataType: 'Json',
            success: function (data) {
                console.log(data, id_file_selecionado);

                if(data.length === 0){
                    hideModalResumoImportacao();
                    EndProgress();
                    
                    return;
                }    

                if (data == "Expirou") {
                    window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
                }
                else {
                    var dataStr = "data:text/csv;charset=utf-8," + data.replace('\n', '\n');
                    var dlAnchorElem = document.getElementById('downloadAnchorElem');
                    dlAnchorElem.setAttribute("href", dataStr);
                    dlAnchorElem.setAttribute("download", "ErrosImport.csv");
                    dlAnchorElem.click();
                    EndProgress();
                }
            },
            error: function (error) {
                EndProgress();
            }
        })

    }


    function upload() {

        try {
            var formData = new FormData();
            var file = document.getElementById("FileUpload").files[0];
            formData.append("FileUpload", file);

            var typeFile = file.name.split('.')[1];

            if (typeFile == "csv") {

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("UpLoadArquivo", "Device")',
                    data: formData,
                    dataType: 'json',
                    async: true,
                    contentType: false,
                    processData: false,
                    success: function (data) {

                        if (data == "Expirou") {
                            window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
                        }
                        else {
                            Atualizar();
                        }
                    },
                    error: function (error) {

                        console.error(error);
                    }
                });
            }
            else {
                showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.ImportarUC_SelecioneArquivo', 'exclamation');
            }
        }
        catch
        {
            showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.ImportarUC_SelecioneArquivo', 'exclamation');
        }
    }
       
</script>



