﻿<!doctype html>
<html>
<head>
    <title>Flickr Search</title>
    <link rel="stylesheet" href="../assets/css/ol.css" type="text/css" />
    <link rel="stylesheet" http://openlayersbook.github.io/openlayers_book_samples/assets/css/samples.css" type="text/css" />
    @*  <link rel="stylesheet" href="../assets/css/samples.css" type="text/css" />*@
</head>

<body>
    <div id="map" class="map"> </div>

    <script src="../assets/js/jquery-1.11.3.min.js"></script>
    <script src="../assets/js/ol-debug.js"></script>


    <script>

       var flickrSource = new ol.source.Vector();
        function TerminalNormalStyle(feature) {
            var style = new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 46],
                    anchorXUnits: 'fraction',
                    anchorYUnits: 'pixels',
                    src: '../Images/terminal-normal.png'
                })
            });
            return [style];
        }
        function TerminalAtencaoStyle(feature) {
            var style = new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 46],
                    anchorXUnits: 'fraction',
                    anchorYUnits: 'pixels',
                    src: '../Images/terminal-atencao.png'
                })
            });
            return [style];
        }
        function TerminalFalhaStyle(feature) {
            var style = new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 46],
                    anchorXUnits: 'fraction',
                    anchorYUnits: 'pixels',
                    src: '../Images/terminal-falha.png'
                })
            });
            return [style];
        }


        function RepetidorNormalStyle(feature) {
            var style = new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 46],
                    anchorXUnits: 'fraction',
                    anchorYUnits: 'pixels',
                    src: '../Images/repetidor-normal.png'
                })
            });
            return [style];
        }
        function RepetidorAtencaoStyle(feature) {
            var style = new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 46],
                    anchorXUnits: 'fraction',
                    anchorYUnits: 'pixels',
                    src: '../Images/repetidor-atencao.png'
                })
            });
            return [style];
        }
        function RepetidorFalhaStyle(feature) {
            var style = new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 46],
                    anchorXUnits: 'fraction',
                    anchorYUnits: 'pixels',
                    src: '../Images/repetidor-falha.png'
                })
            });
            return [style];
        }


        function ConcentradorNormalStyle(feature) {
            var style = new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 46],
                    anchorXUnits: 'fraction',
                    anchorYUnits: 'pixels',
                    src: '../Images/concentrador-normal.png'
                })
            });
            return [style];
        }
        function ConcentradorAtencaoStyle(feature) {
            var style = new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 46],
                    anchorXUnits: 'fraction',
                    anchorYUnits: 'pixels',
                    src: '../Images/concentrador-atencao.png'
                })
            });
            return [style];
        }
        function ConcentradorFalhaStyle(feature) {
            var style = new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 46],
                    anchorXUnits: 'fraction',
                    anchorYUnits: 'pixels',
                    src: '../Images/concentrador-falha.png'
                })
            });
            return [style];
        }

        var flickrLayer = new ol.layer.Vector({
            source: flickrSource
        });

        var layer = new ol.layer.Tile({
            source: new ol.source.OSM()
        });

        var center = ol.proj.transform([-55.530460751673, -22.158112139498], 'EPSG:4326', 'EPSG:3857');

        var view = new ol.View({
            center: center,
            zoom: 7,
            maxZoom: 20,
            minZoom: 0
        });

        var map = new ol.Map({
            target: 'map',
            layers: [layer, flickrLayer],
            view: view,
            controls: ol.control.defaults({
                zoom: true
            })
        });     

       

        function successHandler(data) {

            var transform = ol.proj.getTransform('EPSG:4326', 'EPSG:3857');

            data.forEach(function (item) {

                var feature = new ol.Feature(item);
                var coordinate = transform([parseFloat(item.latitude), parseFloat(item.longitude)]);
                var geometry = new ol.geom.Point(coordinate);

                if (item.tipo_device == "T") {
                    if (item.falha == 1) feature.setStyle(TerminalNormalStyle);
                    if (item.falha == 2) feature.setStyle(TerminalAtencaoStyle);
                    if (item.falha == 3 || item.falha == "" ) feature.setStyle(TerminalFalhaStyle);
                }

                if (item.tipo_device == "R") {
                    if (item.falha == 1) feature.setStyle(RepetidorNormalStyle);
                    if (item.falha == 2) feature.setStyle(RepetidorAtencaoStyle);
                    if (item.falha == 3 || item.falha == "") feature.setStyle(RepetidorFalhaStyle);
                }

                if (item.tipo_device == "C") {
                    if (item.falha == 1) feature.setStyle(ConcentradorNormalStyle);
                    if (item.falha == 2) feature.setStyle(ConcentradorAtencaoStyle);
                    if (item.falha == 3 || item.falha == "") feature.setStyle(ConcentradorFalhaStyle);
                }
                feature.setGeometry(geometry);
                flickrSource.addFeature(feature);

            });

         }

        $.ajax({
            url: '@Url.Action("GetDadosDevice", "Device")',
            dataType: 'json',
            type: 'POST'
        }).success(function (data) {
            successHandler(data);
            });


        map.on("click", function (evt) {
            alert('teste');
        });

        //map.on("click", function (evt) {
        //    var feature = map.forEachFeatureAtPixel(evt.pixel, function (
        //        feature,
        //        layer
        //    ) {
        //        alert(feature.values_.device_address);

        //        return feature;
        //    })

        //});


        //map.on('click', function (evt) {
        //    var coordinates = evt.coordinate;
        //    alert('teste');
        //    alert(coordinates);
        //});

        //map.on("click", function (evt) {
        //    var feature = map.forEachFeatureAtPixel(evt.pixel, function (
        //        feature,
        //        layer
        //    ) {
        //        return feature;
        //    });

        //    function setBusStopStyle(feature) {
        //        var coordinate = feature.getGeometry().getCoordinates();
        //        element.style.display = "block";
        //        popup.setPosition(coordinate);

        //       // alert(feature.values_.device_address);

        //       //alert(feature.values_.device_address);

        //       // template.lineDevice.get(feature.values_.device_address);
        //        //template.lineDevice.set(feature.get(device_address));
        //    }




            //if (selecionado != null && feature ? feature.N.type === "busTrip" : false) {
            //  selecionado.setStyle(activeLineStyle);
     //           selecionado = feature;
                //feature.setStyle(activeLineStyle2);
       //         setBusStopStyle(feature);
            //}
            //if (selecionado != null) {
            //    selecionado.setStyle(activeLineStyle);
            //    selecionado = null;
            //}
            //if (
            //    selecionado === null && feature ? feature.N.type === "busTrip" : false
            //) {
            //    selecionado = feature;
            //    feature.setStyle(activeLineStyle2);
            //    setBusStopStyle(feature);
            //} else {
            //    element.style.display = "none";
            //}
     //   });


        //var element = document.getElementById("popup");

        //var popup = new ol.Overlay({
        //    element: element,
        //    stopEvent: false,
        //    positioning: "bottom-center",
        //    offset: [0, -40],
        //    autoPan: true
        //});

        //map.addOverlay(popup);



    </script>
</body>
</html>
