/* OKTOSTRAP */

/*
GENERAL CONTENTS
*/

/* MATERIAL DESIGN ICONS INCLUDE */
@import url("material-icons.css");

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-medium;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-bold;
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto-black;
    src: url("../fonts/Roboto/Roboto-Black.ttf");
}


@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #4A74B3;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body{
  background-color: #E8E9F1;
  height: 100%;
}
a{
  display: block;
  width: 100%;
}
.btn.full,
.text-full{
  width: 100%;
  display: block;
}
button,
.btn{
  height: 40px!important;
  font-size: 14px;
  height: 40px!important;
  border: 0!important;
  border-radius: 4px!important;
  font-family: Roboto-bold;
}
button.btn:hover{
  border: none!important;
}
/* .btn.btn-primary{
  text-transform: capitalize!important;
} */
/* .btn{
  font-size: 14px;
  border-radius: 4px!important;
} */
input{
  border-radius: 4px!important;
  height: 40px!important;
}
.embraer-logo{
  fill:#005489;
  fill-rule:evenodd;
  width: 100%;
  height: 30px;
}
.okto-logo{
  height: 30px;
}
.okto-logo .st0{
  fill:#FFFFFF;
}
.okto-logo .st1{
  clip-path:url(#SVGID_2_);
}
main.py-4{
  background-color: transparent;
}
.content{
  padding-top: 50px;
  height: 100%;
}
select{
  border-radius: 5px!important;
  height: 40px!important;
}
button.btn-okto{
  box-shadow: 2px 2px 9px #b8b4c0;
  padding: 0 30px;
  font-family: Roboto-medium;
}
.btn-okto.primary{
  background-color: #4A7AB3;
  color: #fff!important;
}
.btn-okto.secondary{
  background-color: #fff;
  color: #4A7AB3!important;
}
.breadcrumb > li a{
  color: #4A7AB3;
}
.dropdown-menu{
  min-width: 100%;
  border: none;
}
.dropdown-menu a span{
  font-size: 14px;
}
.dropdown-menu li{
  border-bottom: 1px solid #F2F2F2;
}
.dropdown-menu li:first-child,
.dropdown-menu li:last-child{
  border-bottom: none;
}


#modal-detalhe-device header{
  height: auto!important;
  padding: 30px 0 0 60px!important;
  border: none;
}
.modal_detalhe header span{
  font-size: 14px;
  color: #4A74B3;
  font-family: "roboto-medium";
}
.modal_detalhe .device-detalhe__resumo{
  border: none!important;
}
.modal_detalhe .device-detalhe__resumo ul{
  margin: 0;
  height: 40px!important;
  border: 1px solid #4A74B3;
  border-radius: 5px;
  padding-right: 1.5rem;
}
.modal_detalhe .device-detalhe__resumo ul li{
  padding-right: 0!important;
}
.modal_detalhe .device-detalhe__resumo ul li strong{
  color: #4A74B3!important;
  font-size: 14px;
}
.modal_detalhe .device-detalhe__resumo ul li button{
  padding-left: 10px;
  background: transparent;
  color: #6E6E6E;
  font-size: 14px!important;
}
.modal_detalhe .material-icons{
  color: #4A74B3;
}
.modal_detalhe nav,
.modal_detalhe section main{
  padding-left: 60px;
  padding-right: 60px;
}
#modal-detalhe-device nav .nav__item{
  font-size: 14px;
  /* height: 55px; */
}
#modal-detalhe-device .device-detalhe__info main{
  display: flex;
}
#modal-detalhe-device .device-detalhe__info main{
  display: flex;
}
#modal-detalhe-device .device-detalhe__info main section p{
  line-height: 1.5!important;
}
#modal-detalhe-device .device-detalhe__info main section label{
  margin: 0;
  color: #4A74B3;
}
#modal-detalhe-device .nav__item.active{
  color: #4A74B3;
  border-color: #4A74B3;
}
#modal-detalhe-device .nav__item{
  color: #6E6E6E;
}
#modal-detalhe-device .modal__content.card .tab{
  margin: 0;
}
#modal-detalhe-device nav,
#modal-detalhe-device nav .nav__item{
  height: 55px;
}
#modal-detalhe-device .device-detalhe__info main section.col-4{
  padding-right: 10px;
}
#divrotas{
  box-shadow: none;
  border: none;
  height: 318px;
}

table thead{
  color: #666666!important;
  background-color: transparent!important;
}
table thead .sorting{
  border: none!important;
  vertical-align: middle;
}
#table-devices_wrapper table tbody tr td{
  border-top: none!important;
  line-height: 4.5rem;
  padding-bottom: 0;
  vertical-align: middle;
  color: #172B4D;
  font-family: "roboto-bold";
}
table.table thead th{
  border-top: none;
  border-bottom: none;
  vertical-align: middle!important;
}
button.equipamento{
  background-color: transparent!important;
  color: #172B4D;
  font-size: 14px;
  text-transform: uppercase;
}
table.table tbody tr:nth-child(odd){
  background-color: #F5F7FC;
}
.table tbody tr:nth-of-type(even){
  background-color: transparent;
}
table.table tbody tr{
  background-color: transparent;
}
#modal-detalhe-device .device-detalhe__info .btn-okto{
  margin-right: 15px;
}
#modal-detalhe-device .device-detalhe__info .btn-okto i{
  color: #fff;
}
.clearfix .tableTools-container a.dt-button{
  margin: 0;
  background-color: transparent;
  height: 40px;
  width: 40px;
  box-shadow: none;
  font-size: 20px;
  border-right: 1px solid #4A7AB3!important;
  border-radius: 0!important;
  color: #4A7AB3!important;
}
.clearfix .tableTools-container a.dt-button:last-child{
  border-right: 0!important;
}
.dataTables_paginate{
  width: 15%;
  border: none;
  box-shadow: none;
}
.dataTables_paginate .paginate_button{
  border-radius: 100%;
  border: none;
  color: #4A74B3;
  padding: 5px 8px;
  line-height: 14px;
  font-family: "roboto";
}
.dataTables_paginate .paginate_button.current{
  background-color: #4A74B3;
  color: #fff;
}
.dataTables_info{
  font-size: 12px;
}
.datepicker{
  font-size: 12px;
  min-width: 20%;
}
.calendar svg{
  position: absolute;
  right: 40px;
  top: 20px;
  transform: translateY(-50%);
  width: 26px;
}
.ui-dialog{
  z-index: 9;
}
.dialog-message footer{
  background-color: transparent!important;
  border: none!important;
}
.dialog-message .btn-okto.secondary{
  margin-left: 20px;
}
.dialog-message header{
  border: none!important;
}
.dialog-message header h6{
  color: #6E6E6E!important;
}
.dialog-message .row{
  margin-left: 0!important;
  margin-right: 0!important;
}
.dialog-message .row .col-24{
  padding-left: 0!important;
  padding-right: 0!important;
}
.dialog-message button{
  outline: none;
}

.filter-okto input{
  border: 1px solid #4A7AB3;
  padding: 5px 15px;
}
.filter-okto input::placeholder{
  color: #4A74B3;
}
.filter-okto i{
  padding-top: 5px;
}
.backgroundless{
  background: transparent;
}
.sides-padding-none{
  padding: 0!important;
}
.color-1{
  color: #5485bb;
}
.color-3{
  color: #d2d1d1;
}
.submenu{
  display: flex;
}
.submenu .fa-chevron-down{
  padding: 20px 20px 0 0;
  position: absolute;
  right: 0;
}
.subitem{
  margin-left: 30px;
}
.btn-filter{
  height: 100%;
}
.btn-filter svg{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  float: left;
}
.btn-filter span{
  float: left;
  height: 100%;
  line-height: 40px;
  margin-left: 5px;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.clear{
  clear: both;
}
.float-right{
  float: right;
}


/*
GENERAL CONTENTS END
*/




/*
LOGIN
*/

.login-area {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../img/okto.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-area .side-login{
  padding: 80px 45px 0;
  background-color: #FFFFFF;
  height: 100vh;
  width: 360px;
  position: absolute;
}
.login-area label{
  color: #172B4D;
  font-size: 8px;
}
.login-area input[type="text"],
.login-area input[type="password"]{
  height: 40px;
  padding: 5px 15px;
  margin-bottom: 20px;
}
.login-area input::placeholder{
  font-size: 11px;
}
.login-area span a{
  color: #4A74B3;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}
.login-area .logos-area{
  padding-bottom: 25px;
}
.login-area .logos-area img{
  height: 115px;
  margin: 0 auto;
  display: block;
  margin-top: 25px;
}
.login-area .ad-box{
  margin-left: 360px;
  position: absolute;
  padding: 70px;
  bottom: 0;
}
.login-area .ad-box h1{
  font-size: 42px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 30px;
}
.login-area .ad-box a{
  border: 1px solid #fff;
  display: initial;
  font-size: 14px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
}
.login-area .select-language{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 9px;
}
.login-area .select-language span:not(.selected){
  color: #4A74B3;
  font-weight: bold;
}
.login-area .footer{
  font-size: 9px;
  color: #B8B4C0;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.login-area #login.loading{
  background-color: rgba(117, 170, 220, 1);
  border: 0;
}

/*
LOGIN END
*/



/*
HEADER
*/

.header{
  background-color: #4A74B3;
  position: fixed;
  width: 100%;
  z-index: 112;
}
.header .container{
  max-width: 100%;
  padding: 0 40px;
}
.header .okto-logo{
  margin-top: 5px;
}
.header .user-name{
  font-size: 13px;
}
.header ul{
  margin-bottom: 0;
}

/*
HEADER END
*/



/*
MENU
*/

#menu .menu{
  background-color: #172B4D;
  border: none;
  color: #fff;
}
body.fixed{
  position: fixed;
}
.sidebar{
  top: 50px;
  padding-top: 20px;
  display: none;
}
.sidebar i{
  color: #fff;
}
.sidebar ul li a{
  border: 0;
  padding: 0 20px;
}
.sidebar ul li a i{
  margin-left: 0;
}
.sidebar ul li a span{
  font-size: 16px;
  margin-left: 10px;
}
.sidebar ul li ul li a{
  font-size: 14px;
  height: 50px;
}
.sidebar.active{
  display: inline;
  animation-name: menu;
  animation-duration: 0.5s;
}
@keyframes menu {
  0%   {left: -320px}
  100% {left: 0}
}
#background-blur{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 111;
  display: none;
}
#background-blur.active{
  display: initial;
  animation-name: opacity;
  animation-duration: 0.5s;
}
@keyframes opacity {
  0%   {opacity: 0}
  100% {opacity: 1}
}
.sidebar.compact{
  width: 1px;
  display: inline;
  animation-name: menu;
  animation-duration: 0.5s;
}
.sidebar.compact ul .section span,
.sidebar.compact ul .section .fa,
.sidebar.compact ul .sidebar-nested{
  display: none;
}
.sidebar.compact li.active{
  border-left: 5px solid #4A74B3;
}
.sidebar.compact li.active a:nth-child(1){
  padding-left: 15px;
}
.sidebar ul li.focus{
  border-left: 5px solid #4A74B3;
}
.sidebar ul li .focus a.focus{
  background-color: rgba(0,0,0,0.2);
  color: #75AADC;
}

/*
MENU END
*/


[data-tooltip]:hover:before, [data-tooltip]:hover:after {
  display: block;
  position: absolute;
  font-size: 0.8em;
  color: white;
}
[data-tooltip]:hover:before {
  border-radius: 0.2em;
  content: attr(title);
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: -2.5em;
  padding: 0.3em;
}
[data-tooltip]:hover:after {
  content: '';
  margin-top: -2.1em;
  margin-left: 1em;
  border-style: solid;
  border-color: transparent;
  border-top-color: rgba(0, 0, 0, 0.9);
  border-width: 0.5em 0.5em 0 0.5em;
}



/*
DASHBOARD
*/


.header--secundario{
  height: 9rem;
  background: #E8E9F1;
  margin-left: -65px;
  padding-left: 65px;
  padding-bottom: 1em;
}
.header--secundario h1{
  font-size: 26px;
}
.header--secundario button[type="submit"]{
  height: 35px!important;
}
.header--secundario button[type="submit"] i{
  font-size: 28px;
}
.header--secundario .container .row{
  padding: 25px 0 0;
}
.header--secundario .container .row{
  width: 100%;
  margin: 0;
}
.header--secundario .container .row button[type="submit"]{
  color: #4A7AB3;
}

.dashboard .box.farol.card header h1{
  color: #4A74B3;
  font-family: "roboto-bold";
  line-height: 1;
}
.dashboard .box.farol.card header span{
  color: #6E6E6E;
  text-transform: capitalize;
  font-size: 12px;
}
.dashboard .box.farol main section{
  border: none;
}
.dashboard .box.farol.card main section{
  padding: 0;
}
.dashboard .box.farol.card footer{
  padding-top: 10px;
}
.dashboard .box.farol.card footer button{
  background-color: #36B37E;
  height: 40px!important;
  border: 0!important;
}
.dashboard .box.farol.card main ul li i{
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 15px;
  height: 15px;
  /* background: none; */
}
.dashboard .box.farol.card main ul li span{
  text-transform: capitalize;
  color: #6E6E6E;
}
/* .dashboard .box.farol.card main ul li i.sinal-2{
  border: 1px solid #ff9900;
} */
/* .box.farol.card main ul li i::after{
  content: "xx";
  background-color: red;
  color: red;
  width: 10px;
  height: 10px;
  font-weight: bold;
  border-radius: 10px;
  text-transform: lowercase;
} */

.dashboard .box.half.card{
  margin-bottom: 30px;
}
.dashboard .box.half.card header{
  padding: 18px 20px 5px;
}
.dashboard .box.half.card header h6{
  color: #4A74B3;
  font-size: 14px;
}
.dashboard .box.half.card main{
  border: none;
  height: auto;
}
.dashboard .box.half.card main p{
  font-size: 12px;
  color: #6E6E6E;
}
.dashboard .box.half.card footer{
  margin-top: 15px;
}
.dashboard #devices-pendentes main h1{
  color: #FF9900;
}
.dashboard #devices-pendentes main span{
  color: #6E6E6E;
  text-transform: capitalize;
}
.dashboard .box.grafico.card{
  height: 360px;
}
.dashboard .box.grafico.card main{
  padding: 0;
  border: none;
}
.dashboard .box.grafico.card header{
  padding-bottom: 0;
}
.dashboard .box.grafico.card header h6{
  color: #6E6E6E;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
}
.dashboard .box.grafico.card footer{
  border: none;
}

/*
DASHBOARD END
*/


/*
LISTAR DEVICES
*/
.listarDevices {
  background: white;
}
.listarDevices .mt-4{
  margin-top: -1px!important;
  color: #6E6E6E;
}
.listarDevices .subheader .card{
  padding-left: 15px;
  box-shadow: none;
  border: none;
  font-size: 14px;
  
}
.listarDevices .subheader{
  padding-top: 10px;
  border-top: 1px solid #0000001a;
  box-shadow: 0px 2px 10px #00000021;
  background: white
}
.listarDevices .subheader .card ul.tab li.tab-item{
  border-color: #4A74B3;
}
.listarDevices .subheader .card ul.tab{
  margin-bottom: 0;
}
.listarDevices .subheader .card.container{
  height: 100%;
}
.listarDevices .subheader .card ul.tab li.tab-item.active{
  color: #4A74B3;
}
.listarDevices .subheader #nav-operacao ul{
  border: none;
}
.listarDevices .subheader #nav-operacao ul li{
  border: 0;
}
.listarDevices .subheader #nav-operacao ul li i{
  font-size: 20px;
}
.listarDevices .subheader #nav-operacao ul li span{
  font-size: 14px;
  color: #6E6E6E;
  text-transform: capitalize;
}
.listarDevices .subheader #btn--filtros{
  background-color: #4A7AB3;
  box-shadow: none;
}
.listarDevices .subheader #btn--filtros svg{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  float: left;
}
.listarDevices .subheader #btn--filtros span{
  float: left;
  height: 100%;
  line-height: 40px;
  margin-left: 5px;
}
.listarDevices .subheader nav.filter{
  margin-bottom: 10px;
}
.listarDevices #tab-target-mapa{
  background: white;
  
}

.filtro.card{
  color: #6E6E6E;
  position: absolute!important;
}
.filtro.card header{
  border: none;
  padding: 20px 40px 10px;
  box-shadow: 10x 2px 20px #fff;
}
.filtro.card header h3{
  font-size: 26px;
  color: #4A74B3;
}
.filtro.card header button i.material-icons{
  font-size: 35px;
}
.filtro.card main{
  background-color: #fff;
}
.filtro.card main fieldset{
  border: none;
  padding: 0 20px 10px;
}
.filtro.card main fieldset label{
  color: #4A74B3;
}
.filtro.card main fieldset .row{
  display: flex;
  margin: 0;
}
.filtro.card main fieldset .row p{
  color: #6E6E6E!important;
}

.filtro.card main fieldset .row button{
  flex: 1;
}


.filtro.card main fieldset button{
  padding: 10px 10px 5px 0!important;
}
.filtro.card main fieldset button i{
  font-size: 25px;
  float: left;
}
.filtro.card main fieldset button p{
  float: left;
}
.filtro.card main fieldset button.checkbox{
  background: transparent;
  color: black!important;
  outline: none;
  text-transform: capitalize!important;
  border: none!important;
  box-shadow: none;
}
.filtro.card main fieldset i{
  color: #4A7AB3;
}
.filtro.card footer{
  border: none;
  display: flex;
  margin-top: 0;
  padding: 20px 40px 40px;
  box-shadow: 10px -2px 20px #fff;
  z-index: 1;
}

.filtro.card footer button{
  flex: 1;
  margin-right: 20px;
}

.filtro.card footer button:last-child{
  margin-right: 0;
}

/*
LISTAR DEVICES END
*/

/*
MAPA
*/

#map .ol-zoom.ol-control{
  top: 3em;
  left: 6em;
}
#map .ol-zoom-in,
#map .ol-zoom-out{
  width: 22px!important;
  height: 22px!important;
}

/*
MAPA END
*/



/*
LISTAR DEVICES LISTA
*/

.listarDevices #lista{
  border: none;
  box-shadow: none;
  background: transparent;
  margin-top: 20px;
}
.clearfix .tableTools-container{
  border: 1px solid #4A7AB3;
  border-radius: 4px;
}
.listarDevices #table-devices_wrapper{
  margin-top: 15px;
}
.listarDevices .dataTables_wrapper tbody tr td:nth-child(1){
  padding-right: 0;
}
.listarDevices .dataTables_wrapper tbody tr td:nth-child(2){
  padding-left: 0;
}
.listarDevices .dataTables_wrapper tbody tr td:nth-child(3){
  font-family: "roboto";
}
.listarDevices .dataTables_wrapper tbody tr td:nth-child(9){
  color: #172B4D!important;
}
.listarDevices .dataTables_wrapper tbody tr td:nth-child(10) button,
.listarDevices .dataTables_wrapper tbody tr td:nth-child(11){
  color: #4A74B3!important;
}
.listarDevices .dataTables_wrapper tbody tr td p{
  margin-bottom: 0;
}
.listarDevices .dataTables_wrapper tbody tr td button.equipamento{
  background-color: transparent;
  text-transform: uppercase;
  color: #172B4D;
  font-size: 12px;
}
.listarDevices .dataTables_wrapper tbody tr td i.status.large{
  width: 12px;
  height: 12px;
}
.listarDevices .dataTables_wrapper tbody .odd{
  background-color: #F5F7FC;
}


/*
LISTAR DEVICES LISTA END
*/




/*
DEVICES PENDENTES
*/

.devicesPendentes .devices-pendentes{
  border: 0!important;
}
.devicesPendentes .nav.devices-pendentes form{
  width: 50%;
  display: flex;
}

.checkbox-area-okto{
  display: flex;
}
.checkbox-area-okto .checkbox{
  flex: 1;
}
.checkbox-area-okto .checkbox i{
  font-size: 20px;
  color: #4A7AB3;
  vertical-align: middle;
}
.checkbox-area-okto .checkbox i span{
  font-size: 14px;
  color: #6E6E6E;
  text-transform: capitalize;
  vertical-align: middle;
}


.devicesPendentes .nav.devices-pendentes form i{
  font-size: 20px;
  color: #4A7AB3;
  vertical-align: middle;
}
.devicesPendentes .nav.devices-pendentes form span{
  font-size: 14px;
  color: #6E6E6E;
  text-transform: capitalize;
  vertical-align: middle;
}
.devicesPendentes .nav.devices-pendentes form p{
  color: #6E6E6E;
}
.devicesPendentes .nav.devices-pendentes p{
  width: 50%;
}
.devicesPendentes .nav.devices-pendentes  a{
  width: 25%;
}
.devicesPendentes .nav.devices-pendentes .clearfix{
  width: 50%;
}
.devicesPendentes table.table tbody tr td a:last-child,
.devicesPendentes table.table tbody tr td a:nth-last-child(2){
  text-align: right;
}

.devicesPendentes section.card{
  border: 0;
  box-shadow: 0 1.5px 4px rgba(23,43,77,0.24), 0 1.5px 6px rgba(23,43,77,0.08);
  margin-top: 4px!important;
}

/*
DEVICES PENDENTES END
*/


/*
GERENCIAR GRÁFICOS
*/

.gerenciarGraficos{
  background-color: #E8E9F1;
}
.gerenciarGraficos input{
  width: initial;
}
.gerenciarGraficos .form-group .form-check{
  height: 40px;
}
.gerenciarGraficos .form-group .form-check-input{
  padding: 8px 0;
}
.gerenciarGraficos .form-group .form-check-label{
  font-family: "roboto-bold";
  font-size: 12px;
  color: #172B4D;
}
.gerenciarGraficos footer button{
  margin-right: 30px;
}
.gerenciarGraficos footer{
  margin-bottom: 3rem;
}
.gerenciarGraficos .card.container{
  margin-bottom: 20px;
}
.gerenciarGraficos footer div{
  width: 40%;
}

/*
GERENCIAR GRÁFICOS END
*/



/*
GERENCIAR DEVICES
*/

.gerenciarDevices main.py-4{
  background-color: #E8E9F1;
  height: 100%;
}
.gerenciarDevices .form-check input{
  padding-top: 8px;
}
.gerenciarDevices footer{
  background-color: transparent!important;
  border: none!important;
}
.gerenciarDevices footer a{
  width: auto;
  margin-right: 20px;
}

/*
GERENCIAR DEVICES END
*/


/*
GERENCIAR GRUPOS
*/

.gerenciarGrupos{
  height: 100%;
}
.gerenciarGrupos .perfis, .gerenciarRegraEventos .perfis{
  border: none;
  margin-top: 2px!important;
}

/*
GERENCIAR GRUPOS END
*/



/*
CRIAR EDITAR GRUPO
*/

.criarEditarGrupo main{
  background-color: #E8E9F1;
}
.criarEditarGrupo .input-time{
  width: 40%;
  margin-top: 30px;
}
.criarEditarGrupo .ui-jqgrid-htable{
  background-color: #4A7AB3;
}
.criarEditarGrupo table thead{
  color: #fff!important;
}
.criarEditarGrupo footer .row a{
  width: auto;
}


/*
CRIAR EDITAR GRUPO END
*/



/*
ATRIBUIR USUARIO
*/

.atribuirUsuario #table-usuario_perfil thead{
  background-color: #4A7AB3!important;
  color: #fff!important;
}
.atribuirUsuario #table-usuario_perfil tr td:last-child i{
  color: #BF2600;
}
.atribuirUsuario section{
  padding: 20px 40px;
}
.atribuirUsuario footer{
  background-color: #fff;
  border: none;
}
.atribuirUsuario #txtUsuarios{
  height: 100px!important;
}

/*
ATRIBUIR USUARIO END
*/


/*
CRIAR EDITAR REGRAS DE EVENTOS
*/

.criarEditarRegraEvento {
  background-color: #E8E9F1;
}

.criarEditarRegraEvento .form-group .form-check {
  height: 40px;
}

.criarEditarRegraEvento .form-group .form-check-input {
  padding: 2px 0;
}

.criarEditarRegraEvento .form-group .form-check-label {
  font-family: "roboto-bold";
  font-size: 12px;
  color: #172B4D;
}

.criarEditarRegraEvento footer button {
  margin-right: 30px;
}

.criarEditarRegraEvento footer {
  margin-bottom: 3rem;
}

.criarEditarRegraEvento .card.container {
  margin-bottom: 20px;
}

.criarEditarRegraEvento footer div {
  width: 40%;
}

.criarEditarRegraEvento .nav.criarEditarRegraEvento div p {
  width: 50%;
}

.criarEditarRegraEvento span {
  font-size: 14px;
  color: #6E6E6E;
  text-transform: capitalize;
  vertical-align: middle;
}

.criarEditarRegraEvento i {
  font-size: 20px;
  color: #4A7AB3;
  vertical-align: middle;
}

.criarEditarRegraEvento  p {
  width: 50%;
}

.criarEditarRegraEvento #idnivel a {
  width: 22%;
}

.criarEditarRegraEvento #idtipo a {
  width: 22%;
}
     
/*
CRIAR EDITAR REGRAS DE EVENTOS END
*/


/*
CRIAR GRUPO
*/

#editmodtable-througput,
.ui-jqdialog.ui-widget.ui-widget-content.ui-corner-all{
  width: 400px!important;
  padding: 30px;
  background-color: #fff;
}
#edithdtable-througput,
#delhdtable-througput
{
  background-color: #fff!important;
}
.widget-header{
  background-color: #fff;
}
.widget-header .ui-jqdialog-title{
  color: #6E6E6E!important;
  font-size: 18px;
}
#editmodtable-througput #editcnttable-througput,
.ui-jqdialog-content.ui-widget-content{
  border: none!important;
}
#editmodtable-througput #Act_Buttons .EditButton,
#DelTbl_table-througput_2 .EditButton{
  display: flex;
  background-color: #fff;
}
#editmodtable-througput #Act_Buttons .EditButton a,
.DelButton.EditButton a{
  flex: 1;
  padding: 10px;
  margin-right: 20px;
  text-transform: capitalize!important;
}
#editmodtable-througput #TblGrid_table-througput_2{
  background-color: transparent!important;
}
#editmodtable-througput .CaptionTD{
  line-height: 2;
}
.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all{
  background: black;
}
.ui-jqgrid-htable.ui-common-table,
.card.table.ui-jqgrid-btable.ui-common-table,
.footer-grids.ui-jqgrid-pager.ui-state-default.ui-corner-bottom{
  width: 100%!important;
}
.cbox,
.cbox.cbox{
  width: auto;
  margin: 0 auto;
}
.criarEditarGrupo .col-8 .p-2{
  width: 262px;
  text-align: center;
}
.criarEditarGrupo .col-8 .p-2 h4{
  font-size: 18px;
  color: #4A7AB3;
  text-transform: uppercase;
}
.ui-jqgrid-bdiv td{
  color: #6E6E6E!important;
}
.footer-grids.ui-jqgrid-pager.ui-state-default.ui-corner-bottom{
  background: #fff!important;
  padding-left: 10px!important;
}
.ui-pg-button.ui-state-disabled{
  display: none;
}
.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all{
  box-shadow: 0 1.5px 4px rgba(23,43,77,0.24), 0 1.5px 6px rgba(23,43,77,0.08);
}
.ui-jqgrid-bdiv tr{
  width: 100%;
}
.criarEditarGrupo .criar-grupo main footer{
  border-top: none!important;
  background-color: transparent;
}
.ui-jqdialog.ui-widget.ui-widget-content.ui-corner-all form{
  padding-bottom: 20px;
}
.ui-jqdialog.ui-widget.ui-widget-content.ui-corner-all table tbody tr td{
  line-height: 2rem;
}
.ui-jqdialog-content,
.ui-jqdialog-titlebar.ui-widget-header.ui-corner-all{
  background-color: #fff!important;
}
.ui-widget-overlay{
  background-color: #000;
}



/*
CRIAR GRUPO END
*/



/*
EDITAR DEVICE
*/

.editarDevice{
  background-color: #E8E9F1;
}
.editarDevice fieldset{
  border: none;
}
.editarDevice section{
  padding: 30px;
}
.editarDevice #criacao-novo-device main footer{
  background-color: #fff;
  border: none;
}
.editarDevice #criacao-novo-device main footer a{
  width: auto;
}
.editarDevice #criacao-novo-device main fieldset{
  border: none;
}
.editarDevice #form-novo-device h3{
  font-size: 20px;
  color: #3e7ab7;
}
.editarDevice #form-novo-device header .form-group{
  display: flex;
  color: #3e7ab7;
}
.editarDevice #form-novo-device header .form-group legend{
  line-height: 25px;
}

/*
EDITAR DEVICE END
*/



/*
CRIAR EDITAR TAG
*/
    .criarEditarTag {
        background-color: #E8E9F1;
    }

   .criarEditarTag .form-group .form-check {
        height: 40px;
    }

   .criarEditarTag .form-group .form-check-input {
         padding: 2px 0;
    }

        .criarEditarTag .form-group .form-check-label {
            font-family: "roboto-bold";
            font-size: 12px;
            color: #172B4D;
        }

        .criarEditarTag footer button {
            margin-right: 30px;
        }

        .criarEditarTag footer {
            margin-bottom: 3rem;
        }

        .criarEditarTag .card.container {
            margin-bottom: 20px;
        }

        .criarEditarTag footer div {
            width: 40%;
        }


/*
CRIAR EDITAR TAG END
*/


/*
CRIAR EDITAR TAG
*/
.gerenciarTags {
    background-color: #E8E9F1;
}

    .gerenciarTags .form-group .form-check {
        height: 40px;
    }

    .gerenciarTags .form-group .form-check-input {
        padding: 2px 0;
    }

    .gerenciarTags .form-group .form-check-label {
        font-family: "roboto-bold";
        font-size: 12px;
        color: #172B4D;
    }

    .gerenciarTags footer button {
        margin-right: 30px;
    }

    .gerenciarTags footer {
        margin-bottom: 3rem;
    }

    .gerenciarTags .card.container {
        margin-bottom: 20px;
        margin-top: -19px!important;
    }

    .gerenciarTags footer div {
        width: 40%;
    }


/*
CRIAR EDITAR TAG END
*/

/*
ASSOCIAR DEVICE
*/

.associarDevices .filter-area{
  padding-top: 19px;
}
.associarDevices .filter-area small{
  float: left;
  line-height: 40px;
  margin-right: 20px;
}
.associarDevices .filter-area div .d-flex{
  float: left;
}
.associarDevices .card.container{
  padding-bottom: 2rem;
  margin-bottom: 15px;
}
.associarDevices main{
  height: 100%;
  background-color: #E8E9F1;
}
.associarDevices .ui-jqgrid-htable{
  background-color: #4A7AB3;
}
.associarDevices .ui-jqgrid-htable th{
  color: #fff;
}
.associarDevices .ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all{
  box-shadow: none;
}
.associarDevices footer{
  margin-top: 30px;
}
.associarDevices footer .row a{
  width: auto;
}

/*
ASSOCIAR DEVICE END
*/



/*
ABA DE MARCADORES
*/

.tag form,
.tag form table{
  width: 100%;
}
.tag{
  font-size: 14px;
  padding-top: 30px;
}
.tag table{
  margin-top: 10px;
}
.tag select{
  width: 100%;
}
.tag form .list{
  width: 40%;
}
.tag form select{
  height: 200px!important;
  background-color: #F2F2F2;
  padding-top: 10px;
  color: #6E6E6E;
  border: 1px solid #D7D7D7; 
}
.tag form select option{
  padding: 10px 25px;
}
.tag .btn-action{
  width: 20%;
  text-align: center;
}
.tag .btn-action a{
  background-color: #F2F2F2;
  border: 1px solid #D7D7D7;
  width: 50px;
  margin: 0 auto;
  color: #4A7AB3;
}

/*
ABA DE MARCADORES END
*/



/*
CRIAR EDITAR USUARIO
*/
.gerenciarUsuario {
    background-color: #E8E9F1;
}

    .gerenciarUsuario .form-group .form-check {
        height: 40px;
    }

    .gerenciarUsuario .form-group .form-check-input {
        padding: 2px 0;
    }

    .gerenciarUsuario .form-group .form-check-label {
        font-family: "roboto-bold";
        font-size: 12px;
        color: #172B4D;
    }

    .gerenciarUsuario footer button {
        margin-right: 30px;
    }

    .gerenciarUsuario footer {
        margin-bottom: 3rem;
    }

    .gerenciarUsuario .card.container {
        margin-bottom: 20px;
        margin-top: 2px!important;
    }

    .gerenciarUsuario footer div {
        width: 40%;
    }

    .gerenciarUsuario .headerFilter {
      margin-left: -1px;
    }

/*
CRIAR EDITAR USUARIO END
*/

/*
CRIAR EDITAR USUARIO
*/
.criarEditarUsuario {
    background-color: #E8E9F1;
}

    .criarEditarUsuario .form-group .form-check {
        height: 40px;
    }

    .criarEditarUsuario .form-group .form-check-input {
        padding: 2px 0;
    }

    .criarEditarUsuario .form-group .form-check-label {
        font-family: "roboto-bold";
        font-size: 12px;
        color: #172B4D;
    }

    .criarEditarUsuario footer button {
        margin-right: 30px;
    }

    .criarEditarUsuario footer {
        margin-bottom: 3rem;
    }

    .criarEditarUsuario .card.container {
        margin-bottom: 20px;
    }

    .criarEditarUsuario footer div {
        width: 40%;
    }


/*
CRIAR EDITAR USUARIO END
*/


.headerRotaBar {
    margin-top: 20px;
    background: #FAFAFA;
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.headerRotaBar .form-check-inline .form-check-input {
  width: 20px;
  margin-right: -5px;
  padding-top: 7px;
}

.headerRotaBar .form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: 2.75rem;
  padding-top: 16px;
}

.headerRotaBar .btn-okto {
  padding: 10px;
}

.headerRotaBar .btn-okto,.material-icons {
  color: #4A7AB3!important;
}

.filterRapidoForm  .material-icons {
  cursor: pointer;
}

#notificationsBody {
  overflow: auto;
  min-height: 150px;
  max-height: 550px;
}


/* width */
#menu ::-webkit-scrollbar {
  width: 6px;
}

/* Track */
#menu ::-webkit-scrollbar-track {
  background: #4A74B3;
}

/* Handle */
#menu  ::-webkit-scrollbar-thumb {
  background: #112039; 
}

/* Handle on hover */
#menu ::-webkit-scrollbar-thumb:hover {
  background: #112039;
}

.filterRapidoForm #txtfiltrorapido {
  background: none
}

.pointerMousepointerMouse{
  cursor: pointer;
}

.modal_detalhe #rotas{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin-top: -9px;
}



/* Tooltip container */
.tooltip2 {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip2 .tooltiptext {
  font-family: 'Roboto';
  visibility: hidden;
  width: 175px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(110, 110, 110, 1);
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
  font-size: 13px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 999;
}

.tooltip2 .tooltiptext {
  bottom: 100%;
  left: 40%; 
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  box-shadow: 0px 9px 23px -1px rgba(189,189,189,1);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip2:hover .tooltiptext {
  visibility: visible;
}

.tooltip2 .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 40%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #FFFFFF transparent transparent transparent;
  box-shadow: 0px 9px 23px -1px rgba(189,189,189,1);
}
.dashboard {
  background: #E8E9F1;
}
.perfis .header--secundario {
  background: none;
}