﻿
.ol-popup {
    position: absolute;
    background-color: white;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 10px;
    left: -50px;
    min-width: 350px;
}


.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}


.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}


.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ui-dialog-titlebar {
    display: none !important;
}

/*#divFlutuante {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 40%;
    margin-top: -14%;
}*/


td.details-control {
    cursor: pointer;
    text-align: center;
}


.keepIcoCol {
    width: 60px;
}

#KeepAliveDataTable_wrapper {
    width: 100%;
}

.modal_detalhe
nav,
.modal_detalhe
section main {
    padding-left: 29px;
    padding-right: 29px;
}

#keepAliveTab {
    padding-left: 0;
    padding-right: 0;
}


/*.modal__content {
    height: 40vw;
}*/

#modal-detalhe-device
.device-detalhe__info main {
    height: 537px;
}

.table tbody
tr td {
    padding: 0 1.4rem;
    padding-top: 12px;
}


#KeepAliveDataTable {
    margin-top: -20px;
}

.detalhesKeep {
    display: flex;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    padding: 15px;
    margin-bottom: 10px;
    background: white;
}

.detalhesKeep .form-group {
margin-left: 20px;
margin-right: 20px;
font-size: 12px;
}

.detalhesKeep .form-group p {
    color: #6E6E6E;
}

.detalhesKeep .form-group label {
    color: #172B4D
}

.map:-moz-full-screen {
    height: 100%;
}

.map:-webkit-full-screen {
    height: 100%;
}

.map:-ms-fullscreen {
    height: 100%;
}

.map:fullscreen {
    height: 100%;
}

.ol-rotate {
    top: 3em;
}

#modal-detalhe-device
.device-detalhe__info main {
    height: 410px !important;
}


#clearRota{
    position: absolute;
    z-index: 99;
    margin-top: 30px;
    text-transform: capitalize!important;
    padding: 8px;
    height: inherit!important;
    background: white;
    color: #4A74B3!important;
    padding-left: 19px;
    padding-right: 19px;
    margin-left: calc(100% - 203px);
}

.ol-control button {
    display: block;
    margin: 2px;
    padding: 0;
    color: #4A7AB3;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    line-height: .4em;
    background-color: white;
    margin-bottom: 7px;
    border-radius: 0px!important;
    border: 1px solid #4A7AB3!important;
    font-size: 19px;
    font-family: fantasy;
}

.ol-control button:focus, .ol-control button:hover {
    color:white
}

