﻿@{
    ViewBag.Title = "AtribuirUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("HeaderSecundarioSemFiltroRapido")

<style>
    .table thead tr th:nth-child(4),
    .table thead tr th:nth-child(5) {
        width: 50px;
    }
</style>

<main class="py-4">

    <section class="usuario container card">
        <form>
            <fieldset class="pt-5">
                <div class="row mb-5">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="" class="form-control-feedback">@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_Login</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="txtLoginUsuario" id="txtLoginUsuario" placeholder="@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_TipoUsuario">
                                <button onclick="BuscarUsuarios(); return false;">
                                    <i class="fa fa-search" style="font-size:1.8rem;"></i>
                                </button>
                            </div>
                            <div id="option-usuarios"></div>
                        </div>
                    </div>

                    <div class="form-group" style="height:80px!important;width:800px!important;margin-left:15px!important;margin-bottom:5px!important;padding-bottom:5px">
                        <label for="" class="form-control-feedback">@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_Lista</label>
                        <select name="txtUsuarios" id="txtUsuarios" style="height:100%" size="4" class="form-control"></select>
                    </div>

                    <div class="col-4" style="padding-top:35px!important">
                        <div class="form-group">
                            <label for="" class="form-control-feedback">@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_Perfil</label>
                            @Html.DropDownList("ListaPerfil", null, new { @class = "form-control", @id = "cmbtipoPerfil" })
                        </div>
                    </div>
                </div>
            </fieldset>
            <footer>
                <button onclick="AtribuirPerfil(); return false;" class="btn btn--verde btn--large">@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_Atribuir</button>
            </footer>
        </form>
    </section>


    <section class="perfis container card mt-5 pt-3 pb-5">
        <table class="table card" id="table-usuario_perfil">
            <thead>
                <tr>
                    <th>
                        @Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_Table_Usuario
                        <i class="fa fa-caret-up ml-4 p-2" style="font-size:1.2rem;"></i>
                    </th>
                    <th>@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_Table_Perfil</th>
                    <th>@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_Table_Data</th>
                    <th>@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_Table_Ativo</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </section>

    @*<div id="dialog-message" class="d-flex align-items-center card m-auto" hidden>*@

    @*<form id="form-message">
            <header class="d-flex justify-content-between align-items-center">
                <h6>Desassociar Perfil</h6>
                <button type="button" class="btn--close" onclick="hideModal(); return false;">
                    <i class="fa fa-times" style="font-size:2rem;"></i>
                </button>
            </header>

            <main class="d-flex align-items-center">
                <p>Deseja realmente dessassociar o usuário?</p>
            </main>
            <footer>
                <button class='btn btn--verde btn--small' onclick="ProsseguirExclusao(); return false;">Desassociar</button>
                <button class='btn btn--cinza btn--small' onclick="hideModal(); return false;">Cancelar</button>
            </footer>

        </form>*@
    @*</div>*@

</main>

<div id="dialog-message" hidden>
    <div id="modal-atribui-perfil" class="card d-flex">
        <form id="form-message">
            <header class="d-flex justify-content-between align-items-center">
                <h6>@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_DesassociarPerfil</h6>
                <button type="button" class="btn--close" onclick="hideModal(); return false;">
                    <i class="fa fa-times" style="font-size:2rem;"></i>
                </button>
            </header>

            <main class="d-flex align-items-center">
                <p>@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_MsgDesassociar</p>
            </main>

            <footer>
                <button class='btn btn--verde btn--small' onclick="ProsseguirExclusao(); return false;">@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_Desassociar</button>
                <button class='btn btn--cinza btn--small' onclick="hideModal(); return false;">@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_Cancelar</button>
            </footer>
        </form>
    </div>
</div>

<!-- page specific plugin scripts -->
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/js/tether.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>

<script>

    jQuery(function ($) {
        var myTable =
            $('#table-usuario_perfil')
                .DataTable({

                    "ajax": {
                        "url": "../Usuario/ListarUsuarioComPerfil/",
                        "dataSrc": ""
                    },

                    "columns": [
                        { "data": "Nome" },
                        { "data": "DescricaoPerfil" },
                        { "data": "DataCadastro" },
                        {
                            "mData": null,
                            "mRender": function (obj1) {
                                if (obj1.Ativo == "S") {
                                    return '<a id="' + obj1.Id_Usuario_Perfil + '" onclick="javascript:UpdateUsuarioAtivo(\'' + obj1.Id_Usuario_Perfil + '\',\'' + obj1.Ativo + '\');return false;"><i class="fa fa-toggle-on color-1" px-4" style="font-size:2.5rem;cursor: pointer;" title="Ativado"></i></a>';
                                }
                                else {
                                    return '<a id="' + obj1.Id_Usuario_Perfil + '" onclick="javascript:UpdateUsuarioAtivo(\'' + obj1.Id_Usuario_Perfil + '\',\'' + obj1.Ativo + '\');return false;"><i class="fa fa-toggle-on color-3" style="font-size:2.5rem;cursor: pointer;transform:rotate(180deg)" title="Desativado"></i></a>';
                                }
                                return "";
                            }
                        },
                        {
                            "mData": null,
                            "mRender": function (obj) {
                                return '<a id="' + obj.Id_Usuario_Perfil + '" onclick="javascript:excluir(\'' + obj.Id_Usuario_Perfil + '\');return false;" data-toggle="tooltip" data-placement="top" data-html="true" class="text-right px-4"><i title="Desassociar" class="fa fa-times" style="font-size:2.5rem;"></i></a>';
                            }
                        }
                    ],

                    bAutoWidth: false,
                    "aaSorting": [],
                    "bFilter": false,
                    "bLengthChange": false,
                    "bInfo": true,
                    "iDisplayLength": 15,
                    "bPaginate": true,

                    "oLanguage": {
                        "sProcessing": "Processando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "Não foram encontrados resultados",
                        "sInfo": "Mostrando _START_ de _END_ total _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 de 0 total de 0 registros",
                        "sInfoFiltered": "",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "oPaginate": {

                            "sPrevious": "<",
                            "sNext": ">"
                        }
                    }
                });


    });

        function Atualizar() {
            var table = $('#table-usuario_perfil').DataTable();
            table.ajax.reload(null, false);
        }

        function UpdateUsuarioAtivo(Id_Usuario_Perfil, Ativo) {

            StartProgress();
            $.ajax({
                url: '@Url.Action("UpdateUsuarioAtivo", "Usuario")',
                dataType: 'json',
                data: {
                    "IdUsuarioPerfil": Id_Usuario_Perfil,
                    "Ativo": Ativo
                },
                type: 'POST'
            }).success(function (data) {
                EndProgress();
                if (data == 'Expirou') {
                    window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
                }
                else if (data != "OK") {
                    showMessage(data, 'exclamation');
                }                
                else {
                    Atualizar();
                    showMessage('@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_MsgPerfilAlterado','check');
                }

                }).fail(function () {
                    EndProgress();
                showMessage('@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno', 'exclamation');
            });
        }

        var id_user;

        function excluir(id) {

            id_user = id;

            $('#dialog-message').removeAttr('hidden');
            $("#dialog-message").dialog({
                resizable: false,
                dialogClass: "no-close",
                modal: true,
                title_html: false
            });
        }

        function hideModal() {
            $("#dialog-message").dialog("close");
        }

        function ProsseguirExclusao() {
            ExcluirPerfilUsuario();
            Atualizar();
            $("#dialog-message").dialog("close");
        }

        function ExcluirPerfilUsuario(Id_Usuario_Perfil) {

            StartProgress();
            $.ajax({
                url: '@Url.Action("ExcluirPerfilUsuario", "Usuario")',
                dataType: 'json',
                data: {
                    "Id_Usuario_Perfil": id_user
                },
                type: 'POST'
            }).success(function (data) {
                EndProgress();

                if (data == 'Expirou') {
                    window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
                }
                else if (data != "OK") {
                    showMessage('@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroaoRealizarOperacao','exclamation');
                }                
                else {
                    showMessage('@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_MsgDesassociado','check');
                }

                }).fail(function () {
                    EndProgress();
                showMessage('@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno','check');
            });
        }


        function AtribuirPerfil() {

            StartProgress();
            if ($("#cmbtipoPerfil").val() != 0) {

                if ($("#txtUsuarios").val() != null && $("#txtUsuarios").val() != 0)
                {

                    $.ajax({
                        url: '@Url.Action("AtribuirPerfilUsuario", "Usuario")',
                        dataType: 'json',
                        data: {
                            "CodUsuario": $("#txtUsuarios").val(),
                            "CodPerfil": $("#cmbtipoPerfil").val()
                        },
                        type: 'POST'
                    }).success(function (data) {
                        EndProgress();
                        if (data == 'Expirou') {
                            window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
                        }
                        else if (data == "OK") {
                              Atualizar();
                              showMessage('@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_MsgPerfilAssociado', 'check');
                        }
                        else
                        {
                            showMessage(data,'exclamation');
                        }                       

                        }).fail(function () {
                            EndProgress();
                        showMessage('@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno','exclamation');
                    });
                }
                else {
                    EndProgress();
                    showMessage('@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_MsgLogin','exclamation');
                }
            }
            else {
                EndProgress();
                showMessage('@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.AtribuirUsuario_MsgPerfil','exclamation');
            }

        }

        function BuscarUsuarios() {
            $("#txtUsuarios").empty();
            StartProgress();
            $.ajax({
                url: '@Url.Action("BuscarUsuario", "Usuario")',
                dataType: 'json',
                data: {
                    "usarioSearch": $("#txtLoginUsuario").val()
                },
                type: 'POST'
            }).success(function (data) {
                EndProgress();
                if (data == 'Expirou') {
                    window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
                }
                else {
                    $("#txtUsuarios").empty();
                    for (index = 0; index < data.length; ++index) {
                        $("#txtUsuarios").append($('<option></option>').val(data[index]).html(data[index]));
                    }
                }
                }).fail(function () {
                    EndProgress();
                showMessage('@Compass.XFracas.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno','exclamation');
            });
        }

</script>
