﻿@{
    ViewBag.Title = "GerenciarGraficos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("HeaderSecundarioSemFiltroRapido")
<link href="~/assets/css/bootstrap-datepicker.css" rel="stylesheet" />
<style>
    .form-control {
        font-size: 1.4rem;
    }

    select.form-control,
    input[type=date] {
        min-height: 3rem;
    }
</style>

<main class="py-4">
    <div class="card container px-5 pt-5 pb-4">
        <form id="form-consulta-device">
            <legend class="mb-5">
                <strong></strong>
            </legend>
            <div class="pb-4" style="border-bottom: 1px solid #707070">
                <div class="row justify-content-around">
                    <div class="col-4" style="padding-left:35px">
                        <div class="form-group">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Periodo</label>
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" id="dt_inicio" name="dt_inicio" alt="date" class="form-control" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_DataInicio">
                                </div>
                                <div class="col-6">
                                    <input type="text" id="dt_final" name="dt_final" alt="date" class="form-control" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_DataFinal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5" style="padding-top:5px;padding-left:35px">
                        <div class="row">
                            <div class="col-9">
                                <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Frequencia</label>
                                <div class="row" style="padding-top:5px">
                                    <div class="col align-items-center d-flex">
                                        <input type="radio" value="" name="periodofrequencia" checked="checked" id="rdHorario" style="width:auto;">
                                        <label for="" class="ml-2 mb-0">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Horario</label>
                                    </div>

                                    <div class="col align-items-center d-flex">
                                        <input type="radio" value="" name="periodofrequencia" id="rdDiario" style="width:auto;">
                                        <label for="" class="ml-2 mb-0">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Diario</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                    </div>
                </div>

                <br />

                <div class="row justify-content-around">
                    <div class="col-4" style="padding-left:35px">
                        <div class="form-group">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_TipoIndicador</label>
                            <div class="row">
                                <div class="col-6">
                                    @Html.DropDownList("ListaIndicador", null, new { @class = "form-control", @id = "cmbindicador" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-5" style="padding-top:5px;padding-left:35px">
                        <div class="row">
                            <div class="col-9">
                                <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_TiposDados</label>
                                <div class="row" style="padding-top:5px">
                                    <div class="col align-items-center d-flex">
                                        <input type="radio" value="rdNivel" checked="checked" name="tipodados" id="" style="width:auto;">
                                        <label for="" class="ml-2 mb-0">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Nivel</label>
                                    </div>
                                    <div class="col align-items-center d-flex">
                                        <input type="radio" value="" id="rdValor" name="tipodados" style="width:auto;">
                                        <label for="" class="ml-2 mb-0">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Valor</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">

                    </div>
                </div>
                <br />
                <br />

                <div class="row justify-content-around" style="padding-bottom:10px">

                    <div class="col-8" style="padding-left:35px">
                        <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Agrupamento</label>

                        <div class="row" style="padding-top:5px">
                            <div class="col align-items-center d-flex">
                                <input type="radio" value="" id="agr_todos" name="agrupament" checked="checked" onclick="atualiza('0')" style="width:auto;">
                                <label for="" class="ml-2 mb-0">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Todos</label>
                            </div>
                            <div class="col align-items-center d-flex">
                                <input type="radio" value="" id="agr_muni" name="agrupament" onclick="atualiza('1')" style="width:auto;">
                                <label for="" class="ml-2 mb-0">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Municipiord</label>
                            </div>
                            <div class="col align-items-center d-flex">
                                <input type="radio" value="" id="agr_conc" name="agrupament" onclick="atualiza('2')" style="width:auto;">
                                <label for="" class="ml-2 mb-0">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Concentradorrd</label>
                            </div>
                            <div class="col align-items-center d-flex">
                                <input type="radio" value="" id="agr_grupo" name="agrupament" onclick="atualiza('3')" style="width:auto;">
                                <label for="" class="ml-2 mb-0">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_GrupoDevicesrd</label>
                            </div>
                            <div class="col align-items-center d-flex">
                                <input type="radio" value="" id="agr_tipodevice" name="agrupament" onclick="atualiza('4')" style="width:auto;">
                                <label for="" class="ml-2 mb-0">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_TipoDevicesrd</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                    </div>

                </div>


            </div>
            <br />
            <br />

            <div class="row justify-content-around" hidden="hidden" id="divlstgrupos">
                <div class="col-4 form-group" style="padding-left:35px">
                    <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_GrupoDevices</label>
                    @Html.DropDownList("ListaGrupo", null, new { @class = "form-control", @id = "cmbgrupo" })
                </div>
                <div class="col-8">

                </div>
            </div>
            <div class="row justify-content-around" hidden="hidden" id="divlstmunicipios">
                <div class="col-4 form-group" style="padding-left:35px">
                    <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Municipio</label>
                    @Html.DropDownList("ListaMunicipio", null, new { @class = "form-control", @id = "cmbMunicipio" })
                </div>
                <div class="col-8">

                </div>
            </div>
            <div class="row justify-content-around" hidden="hidden" id="divlsttipodevice">
                <div class="col-4 form-group" style="padding-left:35px">
                    <label for="cmbTipoDevice">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_TipoDevices</label>
                    <select name="cmbTipoDevice" id="cmbTipoDevice" class="form-control w-100" tabindex="11">
                        <option value="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Todoscmb</option>
                        <option value="T">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_TERMINAL</option>
                        <option value="R">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_REPETIDOR</option>
                        <option value="C">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_CONCENTRADOR</option>
                    </select>
                </div>
                <div class="col-8">

                </div>
            </div>
            <div class="row justify-content-around" hidden="hidden" id="divtxtipconcentrador">
                <div class="col-4 form-group" style="padding-left:35px">
                    <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_IPConcentrador</label>
                    <input type="text" id="txtConcentrador" class="form-control" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_InfomeIPConcentrador">
                </div>
                <div class="col-8">

                </div>
            </div>



            <footer class="d-flex mt-5">
                <button type="button" class="btn btn--azul btn--large" onclick="showGrafico();">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_MostrarGrafico</button>
                <button type="button" class="btn btn--cinza btn--large ml-3" onclick="javascript: window.history.back();">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Cancelar</button>
            </footer>
        </form>
        <section class="mt-5" style="border-top: 1px solid #707070" id="grafico" hidden>
            <div id="chart"></div>
            <footer class="d-flex mt-5">
                @*<button type="button" class="btn btn--verde btn--large" onclick="printChart();">imprimir</button>*@
                <button type="button" class="btn btn--cinza btn--large ml-3" onclick="resetGrafico();">cancelar</button>
            </footer>
        </section>
    </div>
</main>

<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/locales/bootstrap-datepicker.pt-BR.js"></script>
<script src="~/js/jquery.meio.mask.js"></script>
<script src="~/js/application.js"></script>

<script src="../js/jquery.validate.min.js"></script>
<script src="~/js/highcharts/highcharts.js"></script>
<script src="~/js/highcharts/series-label.js"></script>
<script src="~/js/highcharts/exporting.js"></script>
<script src="~/js/highcharts/export-data.js"></script>

<script>
    var chart;

    function ExecutaGrafico() {

        if ($('#form-consulta-device').valid()) {
            var frequencia = '0';
            var tipoDados = '0';
            var p_id_agrupamento = 0;
            var p_nome_agrupamento = '';

            if (rdDiario.checked)
                frequencia = '1';

            if (rdValor.checked)
                tipoDados = '1';

            if (agr_muni.checked) {
                p_id_agrupamento = 4;
                p_nome_agrupamento = $("#cmbMunicipio").val();
            }
            if (agr_conc.checked) {
                p_id_agrupamento = 3;
                p_nome_agrupamento = $("#txtConcentrador").val();
            }
            if (agr_grupo.checked) {
                p_id_agrupamento = 2;
                p_nome_agrupamento = $("#cmbgrupo option:selected").text();
            }
            if (agr_tipodevice.checked) {
                p_id_agrupamento = 1;
                p_nome_agrupamento = $("#cmbTipoDevice option:selected").text();
            }
            StartProgress();

            $.ajax({
                url: '@Url.Action("BuscarGrafico", "Grafico")',
                data: {
                    "p_frequencia": frequencia,
                    "p_tipoDados": tipoDados,
                    "p_data_inicio": $("#dt_inicio").val(),
                    "p_data_fim": $("#dt_final").val(),
                    "p_tipo_indicador": $("#cmbindicador").val(),
                    "p_id_agrupamento": p_id_agrupamento,
                    "p_nome_agrupamento": p_nome_agrupamento,
                    "p_nome_indicador": $("#cmbindicador option:selected").text()

                },
                method: 'GET',
                success: function (data) {
                    
                    if (data === "Expirou") {
                        window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
                    }
                        else if (data === "dataVazia") {
                        showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Msg_SemPeriodo', 'exclamation');
                        EndProgress();
                    }
                    else if (data === "limiteSuperior") {
                        showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Msg_PeriodoSuperior', 'exclamation');
                        EndProgress();
                    }
                    else if (data === "dataSuperior") {
                        showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Msg_PeriodoErrado', 'exclamation');
                        EndProgress();
                    }
                    else if (data === "SemDados") {
                        showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGraficos_Msg_SemDados', 'exclamation');
                        EndProgress();
                        $('#grafico').attr('hidden', true);
                    }                   
                    else {
                       chart = $('#chart').highcharts({
                            chart: {
                                polar: true,
                                type: 'line',
                                backgroundColor: '#F9F9F9'
                            },
                            title: {
                                text: data.title
                            },
                            subtitle: {
                                text: data.subtitle
                            },
                            xAxis: {
                                categories: data.categorias
                            },
                            yAxis: {
                                title: {
                                    text: data.yAxis
                                }
                            },

                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle'

                            },

                            plotOptions: {
                                series: {
                                    label: {
                                        connectorAllowed: false
                                    },
                                    pointStart: null
                                }
                            },

                            colors: [

                                '#70bf54',
                                '#ffa500',
                                '#ff0000'
                            ],

                            series: data.series,

                            responsive: {
                                rules: [{
                                    condition: {
                                        maxWidth: 500
                                    },
                                    chartOptions: {
                                        legend: {
                                            layout: 'horizontal',
                                            align: 'center',
                                            verticalAlign: 'bottom'
                                        }
                                    }
                                }]
                            },
                        });

                        EndProgress();
                    }
                }
            }).fail(function () {

                showMessage(data, 'exclamation');
            });


        }
    }

    jQuery(function ($) {

        $('#form-consulta-device').validate({

            errorElement: 'div',
            errorClass: 'form-control-feedback',
            focusInvalid: false,
            ignore: "",

            rules: {
                dt_inicio: {
                    required: true
                },
                dt_final: {
                    required: true
                }
            },

            messages: {
                dt_inicio: {
                    required: "campo é obrigatório."
                },
                dt_final: {
                    required: "campo é obrigatório."
                }
            },
            highlight: function (e) {
                $(e).closest('.form-group').addClass('control-group has-danger');

            },
            unhighlight: function (e) {
                $(e).closest('.form-group').removeClass('control-group has-danger');

            },
            success: function (e) {
                $(e).closest('.form-group').removeClass('control-group has-danger');//.addClass('has-info');
                $(e).remove();
            },
            submitHandler: function (form) {
            },
            invalidHandler: function (form) {
            }
        });

    });

    function showGrafico() {
        ExecutaGrafico();
        document.querySelector('#grafico').removeAttribute('hidden');
        //chart = Highcharts.chart('chart', options);
    }

    function resetGrafico() {
        $('#grafico').attr('hidden', true);
    }

    function printChart() {
        chart.print();
    }

    function atualiza(agrupamento) {

        $('#divlstgrupos').attr('hidden', true);
        $('#divlstmunicipios').attr('hidden', true);
        $('#divlsttipodevice').attr('hidden', true);
        $('#divtxtipconcentrador').attr('hidden', true);

        if (agrupamento == '1')
            $('#divlstmunicipios').attr('hidden', false);
        else if (agrupamento == '2')
            $('#divtxtipconcentrador').attr('hidden', false);
        else if (agrupamento == '3')
            $('#divlstgrupos').attr('hidden', false);
        else if (agrupamento == '4')
            $('#divlsttipodevice').attr('hidden', false);

    }

</script>



