﻿@{
    ViewBag.Title = "GerenciarRelatorios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("HeaderSecundarioSemFiltroRapido")

<link href="~/assets/css/bootstrap-datepicker.css" rel="stylesheet" />

<style>
    .form-control {
        font-size: 1.4rem;
    }

    select.form-control,
    input[type=date] {
        min-height: 3rem;
    }
</style>

<main class="py-4" id="relatorios">
    <div class="card container px-5 pt-5 pb-4">
        <div class="pb-4" style="border-bottom: 1px solid #707070">
            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Selecione</label>
            <div class="form-group">
                <select name="" id="relatorios-select" class="form-control col-4">
                    <option value="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_GrupoDevices</option>
                    <option value="devices">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Devices</option>
                    <option value="devices">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_DevicesInstalados</option>
                    @*<option value="dados-devices">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_DadosDevices</option>*@
                </select>
            </div>
        </div>
        <section class="py-5" style="background-color: #F9F9F9" id="info">
            <p>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_InformacaoGD</p>
        </section>
        <form>
            <section class="my-4" id="devices" hidden>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_agrMunicipio</label>
                            @Html.DropDownList("ListaMunicipio", null, new { @class = "form-control col-10", @id = "cmbmunicipio" })
                        </div>
                        <div class="form-group mt-5">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_IP</label>
                            <input type="text" id="txtIp" name="txtIp" class="form-control" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_InformeIP">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Bairro</label>
                            <input type="text" id="txtBairro" name="txtBairro" class="form-control col-10" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_InformeBairro">
                        </div>                          

                        <div class="form-group mt-5">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_agrGrupoDevices</label>
                            @Html.DropDownList("ListaGrupo", null, new { @class = "form-control", @id = "cmbgrupo" })
                        </div>
                    
                    </div>
                    <div class="col-4">
                        <div class="row h-100">
                            <div class="col-12">
                                <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_TipoDevice</label>
                                <div class="row">
                                    <div class="col align-items-center d-flex">
                                        <input type="checkbox" value="" id="id_terminal" style="width:auto;">
                                        <label for="" class="ml-2 mb-0">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Terminal</label>
                                    </div>
                                    <div class="col align-items-center d-flex">
                                        <input type="checkbox" value="" id="id_repetidor" style="width:auto;">
                                        <label for="" class="ml-2 mb-0">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Repetidor</label>
                                    </div>
                                    <div class="col align-items-center d-flex">
                                        <input type="checkbox" value="" id="id_concentrador" style="width:auto;">
                                        <label for="" class="ml-2 mb-0">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Concentrador</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col form-group align-self-end">
                                <label for="">Marcadores</label>
                                @Html.DropDownList("ListaMarcadores", null, new { @class = "form-control", @id = "cmbmarcadores" })
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="my-4" id="dados-devices" hidden>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Periodo</label>
                            <div class="row justify-content-between">
                                <div class="col-6">
                                    <input type="text" id="dt_inicio" alt="date" class="form-control" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_DataInicio">
                                </div>
                                <div class="col-6">
                                    <input type="text" id="dt_fim" alt="date" class="form-control" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_DataFim">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_DeviceAddress</label>
                            <input type="text" id="txtdevice" name="txtdevice" class="form-control" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_InformeDeviceAddress">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_UC</label>
                                <input type="text" id="txtUC" name="txtUC" class="form-control" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_InformeUC">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 align-items-around">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Medidor</label>
                            <input type="text" id="txtMedidor" name="txtMedidor" class="form-control" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_InformeMedidor">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_IP</label>
                            <input type="text" id="txtIpDados" name="txtIp" class="form-control" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_InformeIP">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_agrGrupoDevices</label>
                            @Html.DropDownList("ListaGrupo", null, new { @class = "form-control", @id = "cmbgrupoDados" })
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-4">
                        <div class="form-group p-5" style="border: 1px solid #707070">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Falha</label>
                            <div class="row align-items-center">
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="falha-1" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-1">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Normal
                                    </label>
                                </div>
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="falha-2" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-2">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Atencao
                                    </label>
                                </div>
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="falha-3" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-3">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Critico
                                    </label>
                                </div>
                                <div class="col-12 align-items-center d-flex mt-5">
                                    <input type="checkbox" value="" id="falha-0" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-4">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Indisponivel
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group p-5" style="border: 1px solid #707070">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Erros</label>
                            <div class="row align-items-center">
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="erro-1" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-1">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Normal
                                    </label>
                                </div>
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="erro-2" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-2">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Atencao
                                    </label>
                                </div>
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="erro-3" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-3">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Critico
                                    </label>
                                </div>
                                <div class="col-12 align-items-center d-flex mt-5">
                                    <input type="checkbox" value="" id="erro-0" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-4">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Indisponivel
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group p-5" style="border: 1px solid #707070">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Throughput</label>
                            <div class="row align-items-center">
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="throughput-1" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-1">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Normal
                                    </label>
                                </div>
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="throughput-2" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-2">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Atencao
                                    </label>
                                </div>
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="throughput-3" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-3">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Critico
                                    </label>
                                </div>
                                <div class="col-12 align-items-center d-flex mt-5">
                                    <input type="checkbox" value="" id="throughput-0" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-4">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Indisponivel
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="form-group p-5" style="border: 1px solid #707070">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Rank</label>
                            <div class="row align-items-center">
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="rank-1" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-1">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Normal
                                    </label>
                                </div>
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="rank-2" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-2">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Atencao
                                    </label>
                                </div>
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="rank-3" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-3">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Critico
                                    </label>
                                </div>
                                <div class="col-12 align-items-center d-flex mt-5">
                                    <input type="checkbox" value="" id="rank-0" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-4">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Indisponivel
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="form-group p-5" style="border: 1px solid #707070">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Vizinhos</label>
                            <div class="row align-items-center">
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="vizinhos-1" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-1">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Normal
                                    </label>
                                </div>
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="vizinhos-2" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-2">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Atencao
                                    </label>
                                </div>
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="vizinhos-3" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-3">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Critico
                                    </label>
                                </div>
                                <div class="col-12 align-items-center d-flex mt-5">
                                    <input type="checkbox" value="" id="vizinhos-0" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-4">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Indisponivel
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="form-group p-5" style="border: 1px solid #707070">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Sinal</label>
                            <div class="row align-items-center">
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="sinal-1" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-1">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Normal
                                    </label>
                                </div>
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="sinal-2" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-2">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Atencao
                                    </label>
                                </div>
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="sinal-3" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-3">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Critico
                                    </label>
                                </div>
                                <div class="col-12 align-items-center d-flex mt-5">
                                    <input type="checkbox" value="" id="sinal-0" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-4">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Indisponivel
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="form-group p-5" style="border: 1px solid #707070">
                            <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Latencia</label>
                            <div class="row align-items-center">
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="latencia-1" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-1">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Normal
                                    </label>
                                </div>
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="latencia-2" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-2">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Atencao
                                    </label>
                                </div>
                                <div class="col align-items-center d-flex">
                                    <input type="checkbox" value="" id="latencia-3" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-3">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Critico
                                    </label>
                                </div>
                                <div class="col-12 align-items-center d-flex mt-5">
                                    <input type="checkbox" value="" id="latencia-0" style="width:auto;">
                                    <label for="" class="ml-2 mb-0 color-4">
                                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Indisponivel
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="d-flex mt-5">
                <button type="submit" class="btn btn--verde btn--large" onclick="javascript: ExecutarRelatorio(); return false;">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Exportar</button>
                <button type="reset" class="btn btn--cinza btn--large ml-3" onclick="javascript: window.history.back();">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarRelatorios_Cancelar</button>
            </footer>
        </form>
    </div>
</main>

<a id="downloadAnchorElem" style="display:none"></a>

<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/locales/bootstrap-datepicker.pt-BR.js"></script>
<script src="~/js/jquery.meio.mask.js"></script>
<script src="~/js/application.js"></script>

<script>

    var select = document.querySelector('#relatorios-select');
    select.addEventListener('change', function () {
        var value = this.value;
        document.querySelector('#relatorios').querySelectorAll('section').forEach(function (section) {
            section.setAttribute('hidden', true);
            if (!value) {
                document.querySelector('#info').removeAttribute('hidden');
            } else {
                document.querySelector('#' + value).removeAttribute('hidden');
            }
        });
    })


    function ExecutarRelatorio() {

        if ($('#relatorios-select').val() == "") {
            StartProgress();
            $.ajax({
                url: '@Url.Action("GetDadosGrupo", "Relatorio")',
                type: 'POST',
                dataType: 'Json',
                success: function (data) {
                    if (data == "Expirou") {
                        window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
                    }
                    else {
                        var dataStr = "data:text/csv;charset=utf-8," + data.replace('\n', '\n');
                        var dlAnchorElem = document.getElementById('downloadAnchorElem');
                        dlAnchorElem.setAttribute("href", dataStr);
                        dlAnchorElem.setAttribute("download", "DadosGrupo.csv");
                        dlAnchorElem.click();
                        EndProgress();
                    }
                },
                error: function (error) {
                    EndProgress();
                }
            })
        }

        if ($('#relatorios-select').val() == "devices") {

            var ind = document.getElementById("relatorios-select").selectedIndex;

            if (ind == 1) {

                StartProgress();
                $.ajax({
                    url: '@Url.Action("GetDevice", "Relatorio")',
                    type: 'POST',
                    dataType: 'Json',
                    data: {
                        "tp_device": GetTipoDevice(),
                        "p_municipio": $("#cmbmunicipio").val(),
                        "p_bairro": $("#txtBairro").val(),
                        "p_ipconcentrador": $("#txtIp").val(),
                        "p_marcador": $("#cmbmarcadores").val(),
                        "p_grupo_device": $("#cmbgrupo").val()
                    },
                    success: function (data) {
                        if (data == "Expirou") {
                            window.top.location.href = '@Url.Action("Login", "Home", null, Request.Url.Scheme)';
                        }
                        else {
                            var dataStr = "data:text/csv;charset=utf-8," + data.replace('\n', '\n');
                            var dlAnchorElem = document.getElementById('downloadAnchorElem');
                            dlAnchorElem.setAttribute("href", dataStr);
                            dlAnchorElem.setAttribute("download", "Devices.csv");
                            dlAnchorElem.click();
                            EndProgress();
                        }
                    },
                    error: function (error) {
                        EndProgress();
                    }
                })
            }

            if (ind == 2) {

                StartProgress();
                $.ajax({
                    url: '@Url.Action("GetUltimosDevicesInstalados", "Relatorio")',
                    type: 'POST',
                    dataType: 'Json',
                    data: {
                        "tp_device": GetTipoDevice(),
                        "p_municipio": $("#cmbmunicipio").val(),
                        "p_bairro": $("#txtBairro").val(),
                        "p_ipconcentrador": $("#txtIp").val(),
                        "p_marcador": $("#cmbmarcadores").val(),
                        "p_grupo_device": $("#cmbgrupo").val()
                    },
                    success: function (data) {
                        if (data == "Expirou") {
                            window.top.location.href = '@Url.Action("Login", "Home", null, Request.Url.Scheme)';
                        }
                        else {
                            var dataStr = "data:text/csv;charset=utf-8," + data.replace('\n', '\n');
                            var dlAnchorElem = document.getElementById('downloadAnchorElem');
                            dlAnchorElem.setAttribute("href", dataStr);
                            dlAnchorElem.setAttribute("download", "UltimosDevices.csv");
                            dlAnchorElem.click();
                            EndProgress();
                        }
                    },
                    error: function (error) {
                        EndProgress();
                    }
                })
            }
        }

        if ($('#relatorios-select').val() == "dados-devices") {

            StartProgress();
            $.ajax({
                url: '@Url.Action("GetDadosDevice", "Relatorio")',
                type: 'POST',
                dataType: 'Json',
                data: {
                    "p_dt_inicio": $("#dt_inicio").val(),
                    "p_dt_final": $("#dt_fim").val(),
                    "p_device_address": $("#txtdevice").val(),
                    "p_uc": $("#txtUC").val(),
                    "p_medidor": $("#txtMedidor").val(),
                    "p_ipconcentrador": $("#txtIpDados").val(),
                    "p_falha": GetFalha(),
                    "p_sinal": GetSinal(),
                    "p_throughput": GetThroughput(),
                    "p_erro": GetErros(),
                    "p_latencia": GetLatencia(),
                    "p_rank": GetRank(),
                    "p_vizinhos": GetVizinhos(),
                    "p_grupo_device": $("#cmbgrupoDados").val()
                },
                success: function (data) {

                    if (data === "dataVazia") {
                        showMessage('O período deve ser preenchido.', 'exclamation');
                        EndProgress();
                    }
                    else if (data === "dataSuperior") {
                        showMessage('Data final não pode ser inferior a data inicial.', 'exclamation');
                        EndProgress();
                    }
                    else if (data == "NAOENCONTRADO") {
                        showMessage('Não foram encontrados valores para esta pesquisa.', 'exclamation');
                        EndProgress();
                    }
                    else if (data == "Expirou") {
                           window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
                    }
                    else {
                        var dataStr = "data:text/csv;charset=utf-8," + data.replace('\n', '\n');
                        var dlAnchorElem = document.getElementById('downloadAnchorElem');
                        dlAnchorElem.setAttribute("href", dataStr);
                        dlAnchorElem.setAttribute("download", "DadosDevices.csv");
                        dlAnchorElem.click();
                        EndProgress();
                    }
                },
                error: function (error) {
                    EndProgress();
                }
            })
        }

    }

    function GetTipoDevice() {
        var tp = document.getElementById("id_terminal").checked ? 'T,' : '';

        tp += document.getElementById("id_repetidor").checked ? 'R,' : '';

        tp += document.getElementById("id_concentrador").checked ? 'C' : '';

        return tp;
    }

    function GetFalha() {
        var tp = document.getElementById("falha-0").checked ? '0,' : '';
        tp += document.getElementById("falha-1").checked ? '1,' : '';
        tp += document.getElementById("falha-2").checked ? '2,' : '';
        tp += document.getElementById("falha-3").checked ? '3,' : '';
        return tp;
    }

    function GetSinal() {
        var tp = document.getElementById("sinal-0").checked ? '0,' : '';
        tp += document.getElementById("sinal-1").checked ? '1,' : '';
        tp += document.getElementById("sinal-2").checked ? '2,' : '';
        tp += document.getElementById("sinal-3").checked ? '3,' : '';
        return tp;
    }

    function GetThroughput() {
        var tp = document.getElementById("throughput-0").checked ? '0,' : '';
        tp += document.getElementById("throughput-1").checked ? '1,' : '';
        tp += document.getElementById("throughput-2").checked ? '2,' : '';
        tp += document.getElementById("throughput-3").checked ? '3,' : '';
        return tp;
    }

    function GetErros() {
        var tp = document.getElementById("erro-0").checked ? '0,' : '';
        tp +=  document.getElementById("erro-1").checked ? '1,' : '';
        tp += document.getElementById("erro-2").checked ? '2,' : '';
        tp += document.getElementById("erro-3").checked ? '3,' : '';
        return tp;
    }

    function GetLatencia() {
        var tp = document.getElementById("latencia-0").checked ? '0,' : '';
        tp += document.getElementById("latencia-1").checked ? '1,' : '';
        tp += document.getElementById("latencia-2").checked ? '2,' : '';
        tp += document.getElementById("latencia-3").checked ? '3,' : '';
        return tp;
    }

    function GetRank() {
        var tp = document.getElementById("rank-0").checked ? '0,' : '';
        tp += document.getElementById("rank-1").checked ? '1,' : '';
        tp += document.getElementById("rank-2").checked ? '2,' : '';
        tp += document.getElementById("rank-3").checked ? '3,' : '';
        return tp;
    }

    function GetVizinhos() {
        var tp = document.getElementById("vizinhos-0").checked ? '0,' : '';
        tp += document.getElementById("vizinhos-1").checked ? '1,' : '';
        tp += document.getElementById("vizinhos-2").checked ? '2,' : '';
        tp += document.getElementById("vizinhos-3").checked ? '3,' : '';
        return tp;
    }
</script>