﻿
@{
    ViewBag.Title = "AssociarDevices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("HeaderSecundarioSemFiltroRapido")

<link href="~/assets/css/ui.jqgrid.min.css" rel="stylesheet" />

<style>

    .ui-jqgrid-view {
        max-height: 342px;
    }

    .ui-jqgrid-bdiv {
        overflow-y: scroll !important;
        max-height: 300px !important;
    }
</style>


    <main class="py-4">
        <section id="criacao-novo-device"  class="card container pt-5 px-5">

            <form id="form-novo-device">
                <fieldset>

         
                        <fieldset>
                            <legend>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_SelecioneGrupo</legend>
                            <div class="form-group">
                                @Html.DropDownList("ListaGrupo", null, new { @class = "form-control col-4", @id = "cmbgrupos" })
                            </div>
                        </fieldset>
            
                    <header class="d-flex justify-content-between align-items-center mt-4 py-4">
                        <h3>Lista de Devices</h3>
                        <nav class="">
                            <small><b>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Clique</b></small>
                            <button id="btn--filtros" type="button" class="btn btn--cinza btn--small ml-2" onclick="showFiltro();">
                                <i class="fa fa-filter mr-2"></i>
                                @Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Filtros
                            </button>
                        </nav>
                    </header>

                    <table class="table mb-2" id="table-devices">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Lista_Device</th>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Lista_UC</th>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Lista_Sinal</th>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Lista_Throughput</th>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Lista_Erros</th>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Lista_Latencia</th>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Lista_Rank</th>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Lista_Vizinhos</th>
                            </tr>
                        </thead>
                    </table>

                    <div id="page-devices"></div>
                    <main>
                        <section id="frm-novo-device__inputs"></section>
                        <footer>
                            <div class="d-flex justify-content-start">

                                <a href="#!">
                                    <button style="margin-right:10px!important" type="submit" onclick="GetSelectedRows(); return false;" class="btn btn--verde btn--small">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Associar</button>
                                </a>

                                <a href="#!">
                                    <button type="button" onclick="javascript: window.history.back();" class="btn btn--cinza btn--small">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Cancelar</button>
                                </a>

                            </div>
                        </footer>
                    </main>
                    </fieldset>
                </form>
        </section>
    </main>


    <form class="filtro card" hidden>

        <header class="d-flex justify-content-between align-items-center">
            <h3>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Selecionar</h3>
            <button type="button" class="btn--close" onclick="hideFiltro();">
                <i class="fa fa-times" style="font-size:2.5rem;"></i>
            </button>
        </header>

        <main>

            <fieldset>
                <div class="form-group">
                    <label for="device_address">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_TipodeDevice</label>
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn--azul btn--small escuro mr-1" data-type="tipo_device" data-value="1">
                            <i class="fa mr-2 fa-square"></i>
                            @Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Terminal
                        </button>
                        <button type="button" class="btn btn--azul btn--small escuro mr-1" data-type="tipo_device" data-value="2">
                            <i class="fa mr-2 fa-square"></i>
                            @Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Repetidor
                        </button>
                        <button type="button" class="btn btn--azul btn--small escuro" data-type="tipo_device" data-value="3">
                            <i class="fa mr-2 fa-square"></i>
                            @Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Concentrador
                        </button>
                        <div hidden>
                            <input type="checkbox" name="tipo_device" id="tipo_device-1">
                            <input type="checkbox" name="tipo_device" id="tipo_device-2">
                            <input type="checkbox" name="tipo_device" id="tipo_device-3">
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label for="ip">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_DeviceAddress</label>
                    <input type="text" class="form-control" name="" id="txtDevice" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_DeviceAddressFiltrar">
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label for="ip">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_UnidadeConsumidora</label>
                    <input type="text" class="form-control" name="" id="txtUC" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_UnidadeConsumidoraFiltrar">
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <div class="form-group">
                        <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Municipio</label>
                        @Html.DropDownList("ListaMunicipio", null, new { @class = "w-100 form-control", @id = "cmbmunicipio" })
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label for="ip">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_Bairro</label>
                    <input type="text" class="form-control" name="" id="txtBairro" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_BairroFiltrar">
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label for="ip">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_IP</label>
                    <input type="text" class="form-control" name="" id="txtIp" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_IPFiltrar">
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_SubGrupo</label>
                    @Html.DropDownList("ListaGrupoSubGrupo", null, new { @class = "w-100 form-control", @id = "cmbgruposubg" })
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label for="">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Filtro_GrupoDevices</label>
                    @Html.DropDownList("ListaGrupoDevice", null, new { @class = "w-100 form-control", @id = "cmbgrupodevice" })
                </div>
            </fieldset>

        </main>

  

        <footer class="text-center">
            <button class="btn btn--azul btn--large"  onclick="AtualizarGridDevices(); return false;">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_Aplicar</button>
        </footer>
    </form>


    <!-- page specific plugin scripts -->
    <script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <script src="~/assets/js/grid.locale-en.js"></script>
    <script src="~/js/tether.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.jqGrid.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>



    <script>

    var grid_devices;

        function GetSelectedRows() {

            $("#dialog-filtro").dialog("close");
            var grid = $("#table-devices");
            var rowKey = grid.getGridParam("selrow");
            StartProgress();

            if (!rowKey) {
                showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_MsgLinhanaoSelecionada', 'exclamation');
                EndProgress();
            }
            else {

                var selectedIDs = grid.getGridParam("selarrrow");
                var result = "";
                for (var i = 0; i < selectedIDs.length; i++) {
                    result += selectedIDs[i] + ",";
                }

                $.ajax({
                    url: '@Url.Action("AssociarDeviceGrupo", "Grupo")',
                    dataType: 'json',
                    data: {
                        "id_grupo": $("#cmbgrupos").val(),
                        "lista_device": result
                    },
                    type: 'POST'
                }).success(function (data) {
                    if (data == "OK") {
                        showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.AssociarDevices_MsgDevicesTransferidos.', 'check');
                        EndProgress();
                    }
                    else if (data == "Expirou") {
                        window.top.location.href = '@Url.Action("Login", "Home", null, Request.Url.Scheme)';
                    }
                    else {
                        showMessage(data, 'exclamation');
                        EndProgress();
                    }

                }).fail(function () {
                    showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno', 'check');
                    EndProgress();
                });
            }
        }


        function GetTipoDevice() {
            var tp = document.getElementById("tipo_device-1").checked ? 'T,' : '';
            tp += document.getElementById("tipo_device-2").checked ? 'R,' : '';
            tp += document.getElementById("tipo_device-3").checked ? 'C' : '';
            return tp;
        }

        function hideFiltro() {
            var $filtro = jQuery('.filtro');
            $filtro.attr('hidden', true);
        }

        function showFiltro() {
            var $filtro = jQuery('.filtro');
            $filtro.attr('hidden', false);
        }

        jQuery('.filtro>main>fieldset').find('.btn.btn--azul.escuro').click(function () {

            var $this = jQuery(this);
            var type = jQuery(this).data('type');
            var val = jQuery(this).data('value');
            var $input = jQuery('#' + type + '-' + val);

            $this.toggleClass('active escuro');

            if ($this.find('.fa').hasClass('fa-check-square')) {
                $this.find('.fa').removeClass('fa-check-square').addClass('fa-check');
            } else {
                $this.find('.fa').removeClass('fa-check').addClass('fa-check-square');
            }

            if ($this.hasClass('active')) {

                $input.prop('checked', true).attr('value', val);
            } else {
                $input.prop('checked', false).attr('value', '');
            }
            setFiltroButtons(this);

        });

        function setFiltroButtons(el) {
            var $this = jQuery(el);
            var type = $this.data('type');
            var text = $this.data('text');
            var arr = [];

            var tmpl = '<div id="' + type + '" class="filtro--buttons mt-4">\n                <div class"d-flex">\n                ' + text + '\n                <button type="button" class="ml-3" data-id="' + type + '" onclick="removeFormButton(this);">\n                  <i class="fa fa-times-circle"></i>\n                </button>\n                </div>\n              </div>';
        }

        function removeFormButton(el) {
            var id = jQuery(el).data('id');
            jQuery('#' + id).remove();
        }

        jQuery(function ($) {

            grid_devices = "#table-devices";
            var pager_devices = "#page-devices";

            jQuery(grid_devices).jqGrid({
                data: @Html.Raw(@Json.Encode(ViewBag.LstDevices)),
                datatype: "local",
                colNames: ['Tipo', 'Device', 'UC', 'Sinal', 'Throughput', 'Erros', 'Latência', 'Rank', 'Vizinhos'],
                colModel: [
                    { name: 'tipo_device', index: 'tipo_device', width: 105, title: false, formatter: display },
                    { name: 'device_address', index: 'device_address', key: true, width: 250, title: false },
                    { name: 'num_uc', index: 'num_uc', width: 170, title: false },
                    { name: 'vl_sinal', index: 'vl_sinal', width: 90, sorttype: "int", title: false },
                    { name: 'vl_throughput', index: 'vl_throughput', width: 90, sorttype: "int", title: false },
                    { name: 'erros', index: 'erros', width: 90, sorttype: "int", title: false },
                    { name: 'vl_latencia', index: 'vl_latencia', width: 90, sorttype: "int", title: false },
                    { name: 'vl_rank', index: 'vl_rank', width: 90, sorttype: "int", title: false },
                    { name: 'vizinhos', index: 'vizinhos', width: 120, sorttype: "int", title: false }
                ],
                pager: pager_devices,
                pgbuttons: false,
                viewrecords: true,
                pgtext: "",
                pginput: false,
                altRows: true,
                edit: false,
                add: false,
                view: false,
                autowidth: true,
                height: 200,
                cmTemplate: { title: false },
                multiboxonly: true,
                multiselect: true,
                gridview: true,
                hidegrid: false,
                rowNum: 10000,
                reccount: 10000,
                recordtext: "Ver {0} - {1} de {2}",
                emptyrecords: "Nenhum registro",
                loadtext: "Carregando...",
                savetext: "Salvando...",
                pgtext: "Página {0} of {1}",
                pgfirst: "Primeira Página",
                pglast: "Última Página",
                pgnext: "Próxima Página",
                pgprev: "Página Anterior",
                pgrecs: "Registros por Página",
                showhide: "Mostrar/Ocultar Grid",


                loadComplete: function () {
                    var table = this;
                    setTimeout(function () {
                        styleCheckbox(table);
                        updateActionIcons(table);
                        updatePagerIcons(table);
                        enableTooltips(table);
                    }, 0);
                },

            });


            //navButtons
            jQuery(grid_devices).jqGrid('navGrid', pager_devices,
                { 	//navbar options
                    edit: false,
                    editicon: 'ace-icon fa fa-pencil blue',
                    add: false,
                    addicon: 'ace-icon fa fa-plus-circle purple',
                    del: false,
                    delicon: 'ace-icon fa fa-trash-o red',
                    search: true,
                    searchicon: 'ace-icon fa fa-search blue',
                    refresh: false,
                    refreshicon: 'ace-icon fa fa-refresh green',
                },
                {
                    //edit record form
                    //closeAfterEdit: true,
                    //width: 700,
                    recreateForm: true,
                    beforeShowForm: function (e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_edit_form(form);
                    }
                },
                {
                    //new record form
                    //width: 700,
                    closeAfterAdd: true,
                    recreateForm: true,
                    viewPagerButtons: false,
                    beforeShowForm: function (e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
                            .wrapInner('<div class="widget-header" />')
                        style_edit_form(form);
                    }
                },
                {
                    //delete record form
                    recreateForm: true,
                    beforeShowForm: function (e) {
                        var form = $(e[0]);
                        if (form.data('styled')) return false;

                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_delete_form(form);

                        form.data('styled', true);
                    },
                    onClick: function (e) {
                    }
                },

                {
                    //search form
                    overlay: false,
                    recreateForm: true,
                    afterShowSearch: function (e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                        style_edit_form(form);
                    },
                    afterRedraw: function () {
                        style_search_filters($(this));
                    }
                    ,
                    caption: "Refinar pesquisa",
                    title: "Pesquisar",
                    Find: "Buscar",
                    Reset: "Reiniciar",
                    odata: [{ oper: 'eq', text: "igual" }, { oper: 'ne', text: "diferente" }, { oper: 'lt', text: "menor" }, { oper: 'le', text: "menor ou igual" }, { oper: 'gt', text: "maior" }, { oper: 'ge', text: "maior ou igual" }, { oper: 'bw', text: "inicia com" }, { oper: 'bn', text: "não inicia com" }, { oper: 'in', text: "está em" }, { oper: 'ni', text: "não está em" }, { oper: 'ew', text: "termina com" }, { oper: 'en', text: "não termina com" }, { oper: 'cn', text: "contém" }, { oper: 'nc', text: "não contém" }, { oper: 'nu', text: "nulo" }, { oper: 'nn', text: "não nulo" }],
                    groupOps: [{ op: "AND", text: "todos" }, { op: "OR", text: "qualquer um" }],
                    operandTitle: "Clique para escolher a operação de pesquisa.",
                    resetTitle: "Limpar valor de pesquisa",
                    multipleSearch: true

                },
                {
                    //view record form
                    recreateForm: true,
                    beforeShowForm: function (e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                    }
                }
           )

            function display(cellvalue, options, rowObject) {

                if (cellvalue != null) {
                    if (cellvalue == "T") {
                        return "<button type=\"button\" class=\"equipamento terminal\"><i class=\"fa fa-user mx-1\"></i>Terminal</button>";
                    }
                    else if (cellvalue == "R") {
                        return "<button type=\"button\" class=\"equipamento repetidor\"><i class=\"fa fa-code-fork mx-1\"></i>Repetidor</button>";
                    }
                    else if (cellvalue == "C") {
                        return "<button type=\"button\" class=\"equipamento concentrador\"><i class=\"fa fa-database mx-1\"></i>Concentrador</button>";
                    } else {
                        return '-';
                    }
                }
            }

            function styleCheckbox(table) {
                /**
                    $(table).find('input:checkbox').addClass('ace')
                    .wrap('<label />')
                    .after('<span class="lbl align-top" />')


                    $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
                    .find('input.cbox[type=checkbox]').addClass('ace')
                    .wrap('<label />').after('<span class="lbl align-top" />');
                */
            }

            function style_edit_form(form) {

                form.find('input[name=stock]').addClass('ace ace-switch ace-switch-5').after('<span class="lbl"></span>');
                //update buttons classes
                var buttons = form.next().find('.EditButton .fm-button');
                buttons.addClass('btn btn-sm').find('[class*="-icon"]').hide();//ui-icon, s-icon
                buttons.eq(0).addClass('btn--small btn--cinza').prepend('');
                buttons.eq(1).addClass('btn--small btn--verde').prepend('')
            }

            function updateActionIcons(table) {

                var replacement =
                {
                    'ui-ace-icon fa fa-pencil' : 'ace-icon fa fa-pencil blue',
                    'ui-ace-icon fa fa-trash-o' : 'ace-icon fa fa-trash-o red',
                    'ui-icon-disk' : 'ace-icon fa fa-check green',
                    'ui-icon-cancel': 'ace-icon fa fa-times red'
                };
                $(table).find('.ui-pg-div span.ui-icon').each(function(){
                    var icon = $(this);
                    var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
                    if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
                })

            }

            //replace icons with FontAwesome icons like above
            function updatePagerIcons(table) {

                $("#page-devices").find('.ui-pg-div span.ui-icon').each(function () {
                    var icon = $(this);
                    icon.text(" Refinar pesquisa");
                    icon.attr('title', '');

                })
            }

            function enableTooltips(table) {

            }

            function style_search_filters(form) {
                form.find('.delete-rule').val("x");
            }

            $(document).one('ajaxloadstart.page', function (e) {
                $.jgrid.gridDestroy(grid_devices);
                $('.ui-jqdialog').remove();
            });
        });


        function showFiltro() {
            var $filtro = jQuery('.filtro');
            $filtro.attr('hidden', false);
        }

        function OpenDialogFiltro() {

            $('#dialog-filtro').removeAttr('hidden');
            $("#dialog-filtro").dialog({
                resizable: false,
                dialogClass: "no-close",
                modal: true,
                title_html: false
            });
        }

        function AtualizarGridDevices() {

            hideModal();
            StartProgress();

            $.ajax({
                url: '@Url.Action("GetDadosDeviceGrupo", "Grupo")',
                dataType: 'json',
                data: {
                    "tp_device": GetTipoDevice(),
                    "p_deviceAddress": $("#txtDevice").val().toUpperCase(),
                    "p_uc": $("#txtUC").val().toUpperCase(),
                    "p_municipio": $("#cmbmunicipio").val().toUpperCase(),
                    "p_bairro": $("#txtBairro").val().toUpperCase(),
                    "p_ipconcentrador": $("#txtIp").val().toUpperCase(),
                    "p_gruposub": $("#cmbgruposubg").val().toUpperCase(),
                    "p_grupo_device": $("#cmbgrupodevice").val().toUpperCase()
                },
                type: 'POST'
            }).success(function (json) {

                jQuery(grid_devices).jqGrid('clearGridData');
                jQuery(grid_devices).jqGrid('setGridParam', { data: json });
                jQuery(grid_devices).trigger('reloadGrid');

                EndProgress();
            }).fail(function () {
                EndProgress();
                showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno', 'exclamation');
            }).done(function () {
                EndProgress();
                hideFiltro();
            });
        }

        function hideModal() {
            $("#dialog-message").dialog("close");
            $("#dialog-filtro").dialog("close");
        }

    </script>

