﻿
@{
    ViewBag.Title = "CriarEditarGrupo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("HeaderSecundarioSemFiltroRapido")

<link href="~/assets/css/ui.jqgrid.min.css" rel="stylesheet" />

<style>
    .ui-corner-all[title="Find records"] {
        display: none !important;
    }
</style>


<main class="criar-grupo py-4">
    <section class="card container container p-5 mb-4">
        <form class="form">
            <fieldset class="form__main">
                <div class="row">
                    <div class="col-4">
                        <div class="row h-100">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Nome do Grupo *</label>
                                    <input type="text" name="txtnomegrupo" id="txtnomegrupo" value="@ViewBag.nome_grupo" tabindex="1" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_NomeGrupoInforme" class="form-control">
                                </div>
                            </div>
                            <div class="col-7 align-self-end">
                                <label for="">Tempo base do grupo *</label>
                                <input type="number" min="1" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" name="txtTempoBase" id="txtTempoBase" value="@ViewBag.tempoBase" tabindex="2" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_TempoBaseInforme" class="form-control">
                            </div>
                        </div>
                    </div>
                    <span class="divisor"></span>                   
                    <div class="col-4">
                        <label for="">Descrição do grupo *</label>
                        <textarea name="txtdescricao" id="txtdescricao" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_DescricaoInforme" tabindex="3" cols="30" rows="5" class="form-control">@ViewBag.descricao</textarea>
                    </div>
                </div>
            </fieldset>
        </form>
        </section>

        <section class="container card px-5">
        <h2 class="my-5">Regras do grupo</h2>
        <main>
            <div class="row">
                <div class="col-4">
                    <label for="">Deseja copiar as regras de um grupo já cadastrado?</label>                    
                    @Html.DropDownList("ListaGrupos", null, new { @class = "w-100 form-control", @id = "cmbGrupos", @tabindex = "10", @value = "{{cmbGrupos}}", onchange = "RetornarRegras()" })                 
                </div>
                <span class="divisor"></span>
                <div class="col-4">
                    <legend>Informe a falha do grupo (em minutos) *</legend>
                    <form>
                        <fieldset>
                            <ul class="d-table">
                                <li class="d-table-cell">
                                    <div class="d-flex align-items-center">
                                        <label for="" class="color-2 m-0">Atenção</label>
                                        <input type="number" name="txtValorInicial" value="@ViewBag.vlInicial" id="txtValorInicial" class="form-control ml-2" style="width:8rem;">
                                    </div>
                                </li>
                                <li class="d-table-cell pl-4">
                                    <div class="d-flex align-items-center">
                                        <label for="" class="color-3 m-0">Falha</label>
                                        <input type="number" name="txtValorFinal" value="@ViewBag.vlFinal" id="txtValorFinal" class="form-control ml-2" style="width:8rem;">
                                    </div>
                                </li>
                            </ul>
                        </fieldset>
                    </form>
                </div>
            </div>
            <br />
            <hr />
            <br />
            <div class="row mt-4">
                <div class="col-4">
                    <header class="p-2">
                        <h4 class="title-grids-grupo"><b>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Erros</b></h4>
                    </header>
                    <table class="table" id="table-erros" style="width:100%!important">
                        <thead>
                            <tr>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Nivel</th>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Valor</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                    <div id="page-erros" class="footer-grids"></div>


                </div>
                <div class="col-4">
                    <header class="p-2">
                        <h4 class="title-grids-grupo"><b>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Througput</b></h4>
                    </header>
                    <table class="table" id="table-througput" style="width:100%!important">
                        <thead>
                            <tr>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Nivel</th>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Valor</th>
                                <th></th>
                            </tr>
                        </thead>

                    </table>
                    <div id="page-througput" class="footer-grids"></div>


                </div>
                <div class="col-4">
                    <header class="p-2">
                        <h4 class="title-grids-grupo"><b>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Latencia</b></h4>
                    </header>
                    <table class="table" id="table-latencia">
                        <thead>
                            <tr>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Nivel</th>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Valor</th>
                                <th></th>
                            </tr>
                        </thead>

                    </table>
                    <div id="page-latencia" class="footer-grids"></div>
                </div>
            </div>
            <div class="row mt-5">

                <div class="col-4">
                    <header class="p-2">
                        <h4 class="title-grids-grupo"><b>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Sinal</b></h4>
                    </header>
                    <table class="table" id="table-sinal">
                        <thead>
                            <tr>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Nivel</th>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Valor</th>
                                <th></th>
                            </tr>
                        </thead>

                    </table>
                    <div id="page-sinal" class="footer-grids"></div>
                </div>
                <div class="col-4">
                    <header class="p-2">
                        <h4 class="title-grids-grupo"><b>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Rank</b></h4>
                    </header>
                    <table class="table" id="table-rank">
                        <thead>
                            <tr>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Nivel</th>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Valor</th>
                                <th></th>
                            </tr>
                        </thead>

                    </table>
                    <div id="page-rank" class="footer-grids"></div>

                </div>
                <div class="col-4">
                    <header class="p-2">
                        <h4 class="title-grids-grupo"><b>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Vizinhos</b></h4>
                    </header>
                    <table class="table" id="table-vizinhos">

                        <thead>
                            <tr>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Nivel</th>
                                <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Valor</th>
                                <th></th>
                            </tr>
                        </thead>

                    </table>
                    <div id="page-vizinhos" class="footer-grids"></div>
                </div>
            </div>
            <footer>
                <div class="row justify-content-start">

                    <a href="javascript:void(0);">

                        <button style="margin-right:10px!important" type="submit" id="btnSalvar" name="btnSalvar" onclick="ExecutarAcao()" class="btn btn--verde btn--small">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Salvar</button>
                    </a>

                    <a href="javascript: window.history.back();">
                        <button type="button" class="btn btn--cinza btn--small">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.CriarEditarGrupo_Cancelar</button>
                    </a>
                </div>
            </footer>
        </main>
    </section>
</main>

<!-- page specific plugin scripts -->
<script src="~/assets/js/jquery-2.1.4.min.js"></script>
<script src="~/assets/js/grid.locale-en.js"></script>
<script src="~/js/tether.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery.jqGrid.min.js"></script>

<script>

    CarregarTela();

    function CarregarTela() {

        if ('@ViewBag.Operacao' == "view") {
            $("#page-vizinhos").hide();
            $("#page-rank").hide();
            $("#page-sinal").hide();
            $("#page-latencia").hide();
            $("#page-througput").hide();
            $("#page-erros").hide();
            $("#page-vizinhos").hide();
            $("#txtValorInicial").prop('disabled', true);
            $("#txtValorFinal").prop('disabled', true);
            $("#txtnomegrupo").prop('disabled', true);
            $("#txtTempoBase").prop('disabled', true);
            $("#txtdescricao").prop('disabled', true);
            $("#btnSalvar").hide();
        }
    }

    function ExecutarAcao() {
        if ('@ViewBag.Operacao' == "edit") {
            AlterarGrupo();
        }
        else if ('@ViewBag.Operacao' == "add") {
            CriarGrupo();
        }
    }


    function RetornarRegras() {

        StartProgress();
        $.ajax({
            url: '@Url.Action("RetornaRegras", "Grupo")',
            dataType: 'json',
            data: {
                "id_grupo": $("#cmbGrupos").val()
            },
            type: 'POST'
        }).success(function (data) {
            EndProgress();
            if (data == "OK") {
                afterGrid(3, "#table-througput");
                afterGrid(2, "#table-erros");
                afterGrid(7, "#table-latencia");
                afterGrid(4, "#table-rank");
                afterGrid(6, "#table-sinal");
                afterGrid(5, "#table-vizinhos");
                afterTextBox(1);
            }
            else if (data == "NAOSELECIONADO")
            {
                afterGrid(9, "#table-througput");
                afterGrid(9, "#table-erros");
                afterGrid(9, "#table-latencia");
                afterGrid(9, "#table-rank");
                afterGrid(9, "#table-sinal");
                afterGrid(9, "#table-vizinhos");
                afterTextBox(9);
            }
            else if (data == "Expirou") {
                 window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
            }
            else {
                showMessage(data, 'exclamation');
            }

        }).fail(function () {
            EndProgress();
            showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno', 'exclamation');
        });


    }

    function CriarGrupo() {

        StartProgress();
        $.ajax({
            url: '@Url.Action("SalvarGrupoRegra", "Grupo")',
            dataType: 'json',
            data: {
                "nome": $("#txtnomegrupo").val(),
                "tb": $("#txtTempoBase").val(),
                "descricao": $("#txtdescricao").val(),
                "valor1": $("#txtValorInicial").val(),
                "valor2": $("#txtValorFinal").val()
            },
            type: 'POST'
        }).success(function (data) {
            EndProgress();
            if (data == "OK") {
                window.top.location.href = '@Url.Action("GerenciarGrupos", "Grupo", null, Request.Url.Scheme)';
            }
            else if (data == "Expirou") {
                 window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
            }
            else {
                showMessage(data, 'exclamation');
            }

        }).fail(function () {
            EndProgress();
            showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno', 'exclamation');
        });
    }

    function AlterarGrupo() {

        StartProgress();
        $.ajax({
            url: '@Url.Action("AlterarGrupoRegra", "Grupo")',
            dataType: 'json',
            data: {
                "nome": $("#txtnomegrupo").val(),
                "tb": $("#txtTempoBase").val(),
                "descricao": $("#txtdescricao").val(),
                "valor1": $("#txtValorInicial").val(),
                "valor2": $("#txtValorFinal").val()
            },
            type: 'POST'
        }).success(function (data) {
            EndProgress();


            if (data == "OK") {
                window.top.location.href = '@Url.Action("GerenciarGrupos", "Grupo", null, Request.Url.Scheme)';
            }
            else if (data == "Expirou") {
                 window.top.location.href = '@Url.Action("Login", "Home", new { ses = "S" }, Request.Url.Scheme)';
            }
            else {
                showMessage(data, 'exclamation');
            }

        }).fail(function () {
            EndProgress();
            showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno', 'exclamation');
        });
    }


    jQuery(function ($) {

        var grid_througput = "#table-througput";
        var pager_througput = "#page-througput";

        jQuery(grid_througput).jqGrid({
            data: @Html.Raw(@Json.Encode(ViewBag.LstThroughput)),
            datatype: "local",
            colNames: ['', '', 'Nivel', 'Valor'],
            colModel: [
                {
                    name: 'Nivel', index: '', width: 15, fixed: true, sortable: false, resize: false,
                    formatter: 'actions',
                    formatoptions: {
                        keys: true,
                        delOptions: { recreateForm: true, beforeShowForm: beforeDeleteCallback },
                    }
                },
                { name: 'id_regra', index: 'id_regra', hidden: true, key: true },
                { name: 'nivel_alerta', index: 'nivel_alerta', width: 30, editable: true, edittype: "select", editoptions: { value: "1:Normal;2:Atenção;3:Crítico" }, formatter: 'select' },
                { name: 'lim_inferior', index: 'lim_inferior', width: 60, editable: true, formatter: 'integer', editoptions: { size: "20", maxlength: "30" } }

            ],
            pager: pager_througput,
            altRows: true,
            viewrecords: false,
            scroll: true,
            multiselect: true,
            multiboxonly: true,
            width: 262,
            editurl: "../Grupo/AtualizarGrupo?tp_indicador=3",// Indicador 3 de Througput

        });

        //navButtons
        jQuery(grid_througput).jqGrid('navGrid', pager_througput,
            { 	//navbar options
                edit: true,
                editicon: 'ace-icon fa fa-pencil blue',
                add: true,
                addicon: 'ace-icon fa fa-plus-circle purple',
                del: true,
                delicon: 'ace-icon fa fa-trash-o red',
                alertcap: "Aviso",
                alerttext: "Por favor, selecione um linha"
            },
            {
                //edit record form
                width: 300,
                addCaption: "Editar Indicador Througput",
                closeOnEscape: true,
                drag: true,
                model: true,
                bSubmit: "Alterar",
                bCancel: "Cancelar",
                closeAfterAdd: true,
                closeAfterEdit: true,
                recreateForm: true,
                viewPagerButtons: false,
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                afterSubmit: function (response, postdata) {
                    afterGrid(3, "#table-througput");
                    return [true];
                },
                beforeSubmit: function (postdata, formid) {
                    return ValidarForm();
                }

            },
            {
                //new record form
                width: 300,
                addCaption: "Adicionar Indicador Througput",
                closeOnEscape: true,
                drag: true,
                model: true,
                bSubmit: "Adicionar",
                bCancel: "Cancelar",
                closeAfterAdd: true,
                recreateForm: true,
                viewPagerButtons: false,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
                        .wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                afterSubmit: function (response, postdata) {
                    afterGrid(3, "#table-througput");
                    return [true];
                },
                beforeSubmit: function (postdata, formid) {
                    return ValidarForm();
                }
            },
            {
                //delete record form
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    if (form.data('styled')) return false;

                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_delete_form(form);

                    form.data('styled', true);
                }
            }

        )

        $(document).one('ajaxloadstart.page', function (e) {
            $.jgrid.gridDestroy(grid_througput);
            $('.ui-jqdialog').remove();
        });
    });

    jQuery(function ($) {

        var grid_erros = "#table-erros";
        var pager_erros = "#page-erros";

        var dataerro = @Html.Raw(@Json.Encode(ViewBag.LstErro));

        jQuery(grid_erros).jqGrid({
            data: dataerro,
            datatype: "local",
            colNames: ['', '', 'Nivel', 'Valor'],
            colModel: [
                {
                    name: 'Nivel', index: '', width: 15, fixed: true, sortable: false, resize: false,
                    formatter: 'actions',
                    formatoptions: {
                        keys: true,
                        delOptions: { recreateForm: true, beforeShowForm: beforeDeleteCallback },
                    }
                },
                { name: 'id_regra', index: 'id_regra', hidden: true, key: true },
                { name: 'nivel_alerta', index: 'nivel_alerta', width: 30, editable: true, edittype: "select", editoptions: { value: "1:Normal;2:Atenção;3:Crítico" }, formatter: 'select' },
                { name: 'lim_inferior', index: 'lim_inferior', width: 60, editable: true, editoptions: { size: "20", maxlength: "30" } }

            ],
            pager: pager_erros,
            altRows: true,
            viewrecords: false,
            scroll: true,
            multiselect: true,
            multiboxonly: true,
            width: 262,
            editurl: "../Grupo/AtualizarGrupo?tp_indicador=2",// Indicador 2 de Erros,
        });

        //navButtons
        jQuery(grid_erros).jqGrid('navGrid', pager_erros,
            { 	//navbar options
                edit: true,
                editicon: 'ace-icon fa fa-pencil blue',
                add: true,
                addicon: 'ace-icon fa fa-plus-circle purple',
                del: true,
                delicon: 'ace-icon fa fa-trash-o red',
                alertcap: "Aviso",
                alerttext: "Por favor, selecione um linha"
            },
            {
                //edit record form
                width: 300,
                editCaption: "Editar Indicador Erro",
                closeOnEscape: true,
                drag: true,
                model: true,
                bSubmit: "Alterar",
                bCancel: "Cancelar",
                closeAfterAdd: true,
                closeAfterEdit: true,
                recreateForm: true,
                viewPagerButtons: false,
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                afterSubmit: function (response, postdata) {
                    afterGrid(2, "#table-erros");
                    return [true];
                },
                beforeSubmit: function (postdata, formid) {
                    return ValidarForm();
                }
            },
            {
                //new record form
                width: 300,
                addCaption: "Adicionar Indicador Erro",
                closeOnEscape: true,
                drag: true,
                model: true,
                bSubmit: "Adicionar",
                bCancel: "Cancelar",
                closeAfterAdd: true,
                recreateForm: true,
                viewPagerButtons: false,
                reloadAfterSubmit: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
                        .wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                afterSubmit: function (response, postdata) {
                    afterGrid(2, "#table-erros");
                    return [true];
                },
                beforeSubmit: function (postdata, formid) {
                    return ValidarForm();
                }

            },
            {
                //delete record form
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    if (form.data('styled')) return false;

                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_delete_form(form);

                    form.data('styled', true);
                }
            }

        )

        $(document).one('ajaxloadstart.page', function (e) {
            $.jgrid.gridDestroy(grid_erros);
            $('.ui-jqdialog').remove();
        });
    });

    jQuery(function ($) {

        var grid_latencia = "#table-latencia";
        var pager_latencia = "#page-latencia";


        jQuery(grid_latencia).jqGrid({
            data: @Html.Raw(@Json.Encode(ViewBag.LstLatencia)),
            datatype: "local",
            colNames: ['', '', 'Nivel', 'Valor'],
            colModel: [
                {
                    name: 'Nivel', index: '', width: 15, fixed: true, sortable: false, resize: false,
                    formatter: 'actions',
                    formatoptions: {
                        keys: true,
                        delOptions: { recreateForm: true, beforeShowForm: beforeDeleteCallback },
                    }
                },
                { name: 'id_regra', index: 'id_regra', hidden: true, key: true },
                { name: 'nivel_alerta', index: 'nivel_alerta', width: 30, editable: true, edittype: "select", editoptions: { value: "1:Normal;2:Atenção;3:Crítico" }, formatter: 'select' },
                { name: 'lim_inferior', index: 'lim_inferior', width: 60, editable: true, editoptions: { size: "20", maxlength: "30" } }

            ],
            pager: pager_latencia,
            altRows: true,
            viewrecords: false,
            scroll: true,
            multiselect: true,
            multiboxonly: true,
            width: 262,
            editurl: "../Grupo/AtualizarGrupo?tp_indicador=7",// Indicador 7 de Latencia
        });

        //navButtons
        jQuery(grid_latencia).jqGrid('navGrid', pager_latencia,
            { 	//navbar options
                edit: true,
                editicon: 'ace-icon fa fa-pencil blue',
                add: true,
                addicon: 'ace-icon fa fa-plus-circle purple',
                del: true,
                delicon: 'ace-icon fa fa-trash-o red',
                alertcap: "Aviso",
                alerttext: "Por favor, selecione um linha"
            },
            {
                //edit record form
                width: 300,
                editCaption: "Editar Indicador Latência",
                closeOnEscape: true,
                drag: true,
                model: true,
                bSubmit: "Alterar",
                bCancel: "Cancelar",
                closeAfterAdd: true,
                closeAfterEdit: true,
                recreateForm: true,
                viewPagerButtons: false,
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                afterSubmit: function (response, postdata) {
                    afterGrid(7, "#table-latencia");
                    return [true];
                },
                beforeSubmit: function (postdata, formid) {
                    return ValidarForm();
                }
            },
            {
                //new record form
                width: 300,
                addCaption: "Adicionar Indicador Latência",
                closeOnEscape: true,
                drag: true,
                model: true,
                bSubmit: "Adicionar",
                bCancel: "Cancelar",
                closeAfterAdd: true,
                recreateForm: true,
                viewPagerButtons: false,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
                        .wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                afterSubmit: function (response, postdata) {
                    afterGrid(7, "#table-latencia");
                    return [true];
                },
                beforeSubmit: function (postdata, formid) {
                    return ValidarForm();
                }

            },
            {
                //delete record form
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    if (form.data('styled')) return false;

                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_delete_form(form);

                    form.data('styled', true);
                }
            }

        )

        $(document).one('ajaxloadstart.page', function (e) {
            $.jgrid.gridDestroy(grid_latencia);
            $('.ui-jqdialog').remove();
        });
    });

    jQuery(function ($) {

        var grid_rank = "#table-rank";
        var pager_rank = "#page-rank";

        jQuery(grid_rank).jqGrid({
            data: @Html.Raw(@Json.Encode(ViewBag.LstRank)),
            datatype: "local",
            colNames: ['', '', 'Nivel', 'Valor'],
            colModel: [
                {
                    name: 'Nivel', index: '', width: 15, fixed: true, sortable: false, resize: false,
                    formatter: 'actions',
                    formatoptions: {
                        keys: true,
                        delOptions: { recreateForm: true, beforeShowForm: beforeDeleteCallback },
                    }
                },
                { name: 'id_regra', index: 'id_regra', hidden: true, key: true },
                { name: 'nivel_alerta', index: 'nivel_alerta', width: 30, editable: true, edittype: "select", editoptions: { value: "1:Normal;2:Atenção;3:Crítico" }, formatter: 'select' },
                { name: 'lim_inferior', index: 'lim_inferior', width: 60, editable: true, editoptions: { size: "20", maxlength: "30" } }

            ],
            pager: pager_rank,
            altRows: true,
            viewrecords: false,
            scroll: true,
            multiselect: true,
            multiboxonly: true,
            width: 262,
            editurl: "../Grupo/AtualizarGrupo?tp_indicador=4",// Indicador 4 de Rank
        });

        //navButtons
        jQuery(grid_rank).jqGrid('navGrid', pager_rank,
            { 	//navbar options
                edit: true,
                editicon: 'ace-icon fa fa-pencil blue',
                add: true,
                addicon: 'ace-icon fa fa-plus-circle purple',
                del: true,
                delicon: 'ace-icon fa fa-trash-o red',
                alertcap: "Aviso",
                alerttext: "Por favor, selecione um linha"
            },
            {
                //edit record form
                width: 300,
                editCaption: "Editar Indicador Rank",
                closeOnEscape: true,
                drag: true,
                model: true,
                bSubmit: "Alterar",
                bCancel: "Cancelar",
                closeAfterAdd: true,
                closeAfterEdit: true,
                recreateForm: true,
                viewPagerButtons: false,
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                afterSubmit: function (response, postdata) {
                    afterGrid(4, "#table-rank");
                    return [true];
                },
                beforeSubmit: function (postdata, formid) {
                    return ValidarForm();
                }
            },
            {
                //new record form
                width: 300,
                addCaption: "Adicionar Indicador Rank",
                closeOnEscape: true,
                drag: true,
                model: true,
                bSubmit: "Adicionar",
                bCancel: "Cancelar",
                closeAfterAdd: true,
                recreateForm: true,
                viewPagerButtons: false,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
                        .wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                afterSubmit: function (response, postdata) {
                    afterGrid(4, "#table-rank");
                    return [true];
                },
                beforeSubmit: function (postdata, formid) {
                    return ValidarForm();
                }

            },
            {
                //delete record form
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    if (form.data('styled')) return false;

                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_delete_form(form);

                    form.data('styled', true);
                }
            }

        )

        $(document).one('ajaxloadstart.page', function (e) {
            $.jgrid.gridDestroy(grid_rank);
            $('.ui-jqdialog').remove();
        });
    });

    jQuery(function ($) {

        var grid_sinal = "#table-sinal";
        var pager_sinal = "#page-sinal";

        jQuery(grid_sinal).jqGrid({
            data: @Html.Raw(@Json.Encode(ViewBag.LstSinal)),
            datatype: "local",
            colNames: ['', '', 'Nivel', 'Valor'],
            colModel: [
                {
                    name: 'Nivel', index: '', width: 15, fixed: true, sortable: false, resize: false,
                    formatter: 'actions',
                    formatoptions: {
                        keys: true,
                        delOptions: { recreateForm: true, beforeShowForm: beforeDeleteCallback },
                    }
                },
                { name: 'id_regra', index: 'id_regra', hidden: true, key: true },
                { name: 'nivel_alerta', index: 'nivel_alerta', width: 30, editable: true, edittype: "select", editoptions: { value: "1:Normal;2:Atenção;3:Crítico" }, formatter: 'select' },
                { name: 'lim_inferior', index: 'lim_inferior', width: 60, editable: true, editoptions: { size: "20", maxlength: "30" } }

            ],
            pager: pager_sinal,
            altRows: true,
            viewrecords: false,
            scroll: true,
            multiselect: true,
            multiboxonly: true,
            width: 262,
            editurl: "../Grupo/AtualizarGrupo?tp_indicador=6",// Indicador 6 de Sinal
        });

        //navButtons
        jQuery(grid_sinal).jqGrid('navGrid', pager_sinal,
            { 	//navbar options
                edit: true,
                editicon: 'ace-icon fa fa-pencil blue',
                add: true,
                addicon: 'ace-icon fa fa-plus-circle purple',
                del: true,
                delicon: 'ace-icon fa fa-trash-o red',
                alertcap: "Aviso",
                alerttext: "Por favor, selecione um linha"
            },
            {
                //edit record form
                width: 300,
                editCaption: "Editar Indicador Sinal",
                closeOnEscape: true,
                drag: true,
                model: true,
                bSubmit: "Alterar",
                bCancel: "Cancelar",
                closeAfterEdit: true,
                recreateForm: true,
                viewPagerButtons: false,
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                afterSubmit: function (response, postdata) {
                    afterGrid(6, "#table-sinal");
                    return [true];
                },
                beforeSubmit: function (postdata, formid) {
                    return ValidarForm();
                }
            },
            {
                //new record form
                width: 300,
                addCaption: "Adicionar Indicador Sinal",
                closeOnEscape: true,
                drag: true,
                model: true,
                bSubmit: "Adicionar",
                bCancel: "Cancelar",
                closeAfterAdd: true,
                recreateForm: true,
                viewPagerButtons: false,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
                        .wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                afterSubmit: function (response, postdata) {
                    afterGrid(6, "#table-sinal");
                    return [true];
                },
                beforeSubmit: function (postdata, formid) {
                    return ValidarForm();
                }

            },
            {
                //delete record form
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    if (form.data('styled')) return false;

                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_delete_form(form);

                    form.data('styled', true);
                }
            }

        )

        $(document).one('ajaxloadstart.page', function (e) {
            $.jgrid.gridDestroy(grid_sinal);
            $('.ui-jqdialog').remove();
        });
    });


    jQuery(function ($) {

        var grid_vizinhos = "#table-vizinhos";
        var pager_vizinhos = "#page-vizinhos";

        jQuery(grid_vizinhos).jqGrid({
            data: @Html.Raw(@Json.Encode(ViewBag.LstVizinhos)),
            datatype: "local",
            colNames: ['', '', 'Nivel', 'Valor'],
            colModel: [
                {
                    name: 'Nivel', index: '', width: 15, fixed: true, sortable: false, resize: false,
                    formatter: 'actions',
                    formatoptions: {
                        keys: true,
                        delOptions: { recreateForm: true, beforeShowForm: beforeDeleteCallback },
                    }
                },
                { name: 'id_regra', index: 'id_regra', hidden: true, key: true },
                { name: 'nivel_alerta', index: 'nivel_alerta', width: 30, editable: true, edittype: "select", editoptions: { value: "1:Normal;2:Atenção;3:Crítico" }, formatter: 'select' },
                { name: 'lim_inferior', index: 'lim_inferior', width: 60, editable: true, editoptions: { size: "20", maxlength: "30" } }

            ],
            pager: pager_vizinhos,
            altRows: true,
            viewrecords: false,
            scroll: true,
            multiselect: true,
            multiboxonly: true,
            width: 262,
            editurl: "../Grupo/AtualizarGrupo?tp_indicador=5",// Indicador 5 de Vizinhos
        });

        //navButtons
        jQuery(grid_vizinhos).jqGrid('navGrid', pager_vizinhos,
            { 	//navbar options
                edit: true,
                editicon: 'ace-icon fa fa-pencil blue',
                add: true,
                addicon: 'ace-icon fa fa-plus-circle purple',
                del: true,
                delicon: 'ace-icon fa fa-trash-o red',
                alertcap: "Aviso",
                alerttext: "Por favor, selecione um linha"
            },
            {
                //edit record form
                width: 300,
                editCaption: "Editar Indicador Vizinhos",
                closeOnEscape: true,
                drag: true,
                model: true,
                bSubmit: "Alterar",
                bCancel: "Cancelar",
                closeAfterEdit: true,
                recreateForm: true,
                viewPagerButtons: false,
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                afterSubmit: function (response, postdata) {
                    afterGrid(5, "#table-vizinhos");
                    return [true];
                },
                beforeSubmit: function (postdata, formid) {
                    return ValidarForm();
                }
            },
            {
                //new record form
                width: 300,
                addCaption: "Adicionar Indicador Vizinhos",
                closeOnEscape: true,
                drag: true,
                model: true,
                bSubmit: "Adicionar",
                bCancel: "Cancelar",
                closeAfterAdd: true,
                recreateForm: true,
                viewPagerButtons: false,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
                        .wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                afterSubmit: function (response, postdata) {
                    afterGrid(5, "#table-vizinhos");
                    return [true];
                },
                beforeSubmit: function (postdata, formid) {
                    return ValidarForm();
                }

            },
            {
                //delete record form
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    if (form.data('styled')) return false;

                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_delete_form(form);

                    form.data('styled', true);
                }
            }

        )

        $(document).one('ajaxloadstart.page', function (e) {
            $.jgrid.gridDestroy(grid_vizinhos);
            $('.ui-jqdialog').remove();
        });
    });


    function style_edit_form(form) {


        form.find('input[name=stock]').addClass('ace ace-switch ace-switch-5').after('<span class="lbl"></span>');
        //update buttons classes
        var buttons = form.next().find('.EditButton .fm-button');
        buttons.addClass('btn btn-sm').find('[class*="-icon"]').hide();//ui-icon, s-icon
        buttons.eq(0).addClass('btn--small btn--verde').prepend('<i class="ace-icon fa fa-check mr-2"></i>');
        buttons.eq(1).addClass('btn--small btn--vermelho').prepend('<i class="ace-icon fa fa-times mr-2"></i>')

        //form.find('.widget-header .ui-icon').append('<i class="fa fa-times" style="font-size:2rem;"></i>')
        //buttons = form.next().find('.navButton a');
        //buttons.find('.ui-icon').append('<i class="fa fa-times" style="font-size:2rem;"></i>');
        //buttons.eq(0).append('<i class="ace-icon fa fa-chevron-left"></i>');
        //buttons.eq(1).append('<i class="ace-icon fa fa-chevron-right"></i>');
    }

    function style_delete_form(form) {
        var buttons = form.next().find('.EditButton .fm-button');
        buttons.addClass('btn btn--verde btn--small').find('[class*="-icon"]').hide();//ui-icon, s-icon
        buttons.eq(0).addClass('btn--verde').prepend('<i class="ace-icon fa fa-trash-o"></i>');
        buttons.eq(1).addClass('btn--cinza').prepend('<i class="ace-icon fa fa-times"></i>')
    }

    function beforeDeleteCallback(e) {
        var form = $(e[0]);
        if (form.data('styled')) return false;

        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
        style_delete_form(form);

        form.data('styled', true);
    }

    function afterGrid(indicador, idgrid) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AtualizarGrid", "Grupo")',
            dataType: "json",
            data: {
                "tp_indicador": indicador
            },
            success: function (json) {
                jQuery(idgrid).jqGrid('clearGridData');
                jQuery(idgrid).jqGrid('setGridParam', { data: json });
                jQuery(idgrid).trigger('reloadGrid');
            }
        })
    }

    function afterTextBox(indicador) {
        if (indicador != 9) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AtualizarGrid", "Grupo")',
                dataType: "json",
                data: {
                    "tp_indicador": indicador
                },
                success: function (data) {
                    $('#txtValorInicial').val(data[0].lim_inferior);
                    $('#txtValorFinal').val(data[1].lim_inferior);
                }
            })
        }
        else {
            $('#txtValorInicial').val("");
            $('#txtValorFinal').val("");

        }
    }

    function ValidarForm() {
        if ($('#lim_inferior').val() == "") {

            showMessage('Campo valor é obrigatório.', 'exclamation');
            return [false];
        }
        else {
            if (!$.isNumeric($('#lim_inferior').val())) {
                showMessage('Campo inválido.', 'exclamation');
                return [false];
            }
            else {
                return [true];
            }
        }
    }

</script>

