﻿@{
    ViewBag.Title = "GerenciarGrupos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("HeaderSecundarioSemFiltroRapido")

<style>
    .ui-jqgrid .ui-separator {
        height: 18px;
        border-left: 0px solid #ccc!important;
    }
</style>

<main class="py-4">
    <section class="perfis container card mt-5 pt-3 pb-5">

        <header class="header--secundario d-flex align-items-center">
            <div class="d-flex justify-content-between align-items-center w-100">
                <button type="button" onclick="Criar()" class="btn--search btn btn--azul btn--small">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span class="ml-2">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_CriarGrupo</span>
                </button>
                <form class="form">
                    <fieldset>
                        <div class="input-group" style="width:27rem;">
                            <input type="text" name="txtfiltroGrupo" id="txtfiltroGrupo" class="form-control" placeholder="@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_Filtrar" required>
                            <button type="submit" onclick="">
                                <i class="fa fa-search" style="font-size:1.8rem;"></i>
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </header>

        <table class="table mb-4" id="table-grupo">
            <thead>
                <tr>
                    <th>
                        @Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_Nome
                        <i class="fa fa-caret-up ml-4 p-2" style="font-size:1.2rem;"></i>
                    </th>
                    <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_Descricao
                        <i class="fa fa-caret-up ml-4 p-2" style="font-size:1.2rem;"></i>
                    </th>
                    <th>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_TB
                        <i class="fa fa-caret-up ml-4 p-2" style="font-size:1.2rem;"></i>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </section>
</main>

<div id="dialog-message-transferencia" class="dialog-message" hidden>
    <div id="modal-atribui-perfil" class="card d-flex modal-message-header">
        <form id="form-message">
            <header class="d-flex justify-content-between align-items-center">
                <h6>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_ExcluirGrupo</h6>
                <button type="button" class="btn--close" onclick="hideModal(); return false;">
                    <i class="fa fa-times" style="font-size:2rem;"></i>
                </button>
            </header>

            <main class="d-flex align-items-center">
                <p>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_MsgAssociacaoDevices</p>
                @Html.DropDownList("ListaGrupo", null, new { @class = "w-100 form-control", @id = "cmbgrupos" })
            </main>

            <footer>
                <button class='btn btn--cinza btn--small' onclick="hideModal(); return false;">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_btnCancelar</button>
                <button class='btn btn--verde btn--small' onclick="ProsseguirTransferenciaExclusao(); return false;">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_btnSim</button>
            </footer>
        </form>
    </div>
</div>

<div id="dialog-pergunta" class="dialog-message" hidden>
    <div id="modal-atribui-perfil" class="card d-flex">
        <form id="form-message">
            <header class="d-flex justify-content-between align-items-center">
                <h6>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_ExcluirGrupo</h6>
                <button type="button" class="btn--close" onclick="hideModalPergunta(); return false;">
                    <i class="fa fa-times" style="font-size:2rem;"></i>
                </button>
            </header>

            <main class="d-flex align-items-center">
                <p>@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_MsgExcluirGrupo</p>
            </main>

            <footer>
                <button class='btn btn--verde btn--small' onclick="ExcluirGrupo(); return false;">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_btnSim</button>
                <button class='btn btn--cinza btn--small' onclick="hideModalPergunta(); return false;">@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_btnCancelar</button>

            </footer>
        </form>
    </div>
</div>

<!-- page specific plugin scripts -->
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/dataTables.select.min.js"></script>
<script src="~/js/tether.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>

<script>

    function Criar() {
        window.location.href = "../Grupo/CriarEditarGrupo";
    }

    jQuery(function ($) {
            var myTable =
                $('#table-grupo')
                    .DataTable({

                        "ajax": {
                            "url": "../Grupo/ListarGrupos",
                            "dataSrc": ""
                        },
                        "initComplete": function () {
                            jQuery('[title!=""]').tooltip();
                        },
                        "columns": [
                            { "data": "nome" },
                            { "data": "descricao" },
                            { "data": "tb"},
                            {
                                "mData": null,
                                "mRender": function (obj) {

                                    return '<div class="text-center"><a href= "../Grupo/CriarEditarGrupo?id_grupo=' + obj.id_grupo + '&nomeGrupo=' + obj.nome + '&descricao=' + obj.descricao + '&tb=' + obj.tb + '&oper=view"><i title="Visualizar Grupo" class="fa fa-search-plus color--azul" aria-hidden="true" style="font-size:2rem!important;"></i></a ></div >';
                                }
                            },
                            {
                                "mData": null,
                                "mRender": function (obj) {

                                    return '<div class="text-center"><a href= "../Grupo/CriarEditarGrupo?id_grupo=' + obj.id_grupo + '&nomeGrupo=' + obj.nome + '&descricao=' + obj.descricao + '&tb=' + obj.tb + '&oper=edit"><i title="Editar Grupo" class="fa fa-pencil color-1 aria-hidden=true" aria-hidden="true" style="font-size:2rem!important;"></i></a ></div >';
                                }
                            },
                             {
                                "mData": null,
                                "mRender": function (obj) {
                                    return '<a id="' + obj.id_grupo + '" onclick="javascript:excluir(\'' + obj.id_grupo + '\');return false;" data-toggle="tooltip" data-placement="top" data-html="true" class="text-right px-4"><i title="Excluir Grupo" class="fa fa-times color-3" style="font-size:2.5rem;"></i></a>';
                                }
                            }
                        ],

                        bAutoWidth: false,
                        multiselect: true,
                        multiboxonly: true,
                        "aaSorting": [],
                        "bFilter": false,
                        "bLengthChange": false,
                        "bInfo": true,
                        "iDisplayLength": 15,
                        "bPaginate": true,

                        "oLanguage": {
                            "sProcessing": "Processando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "Não foram encontrados resultados",
                            "sInfo": "Mostrando _START_ de _END_ total _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando 0 de 0 total de 0 registros",
                            "sInfoFiltered": "",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "oPaginate": {

                                "sPrevious": "<",
                                "sNext": ">"
                            }
                        }
                });
    })

    $(document).ready(function () {
        $("#txtfiltroGrupo").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#table-grupo tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    var id_grupo;

    function excluir(id) {

        $('#dialog-pergunta').removeAttr('hidden');
        $("#dialog-pergunta").dialog({
            resizable: false,
            dialogClass: "no-close",
            modal: true,
            title_html: false

        });
        id_grupo = id;
    }

    function Atualizar() {
        var table = $('#table-grupo').DataTable();
        table.ajax.reload(null, false);
    }

    function ProsseguirExclusao() {
        ExcluirGrupo();
        Atualizar();
        $("#dialog-message-transferencia").dialog("close");
    }

    function ProsseguirTransferenciaExclusao() {
        TransferenciaExclusao();
        Atualizar();
        $("#dialog-message-transferencia").dialog("close");
    }

    function TransferenciaExclusao() {

        $.ajax({
            url: '@Url.Action("TransferenciaExcluirGrupoRegra", "Grupo")',
            dataType: 'json',
            data: {
                "id_grupo": id_grupo,
                "id_transferencia": $("#cmbgrupos").val()
            },
            type: 'POST'
        }).success(function (data) {

               if (data === "OK") {
                   showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_MsgGrupoRemovido', 'check');
               }
               else if (data == "Expirou") {
                   window.top.location.href = '@Url.Action("Login", "Home", null, Request.Url.Scheme)';
               }
                else {
                    showMessage(data, 'exclamation');
               }
        }).fail(function () {
            showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno', 'exclamation');
        });
    }

    function ExcluirGrupo() {
        hideModalPergunta();
        StartProgress();
        $.ajax({
            url: '@Url.Action("ExcluirGrupoRegra", "Grupo")',
            dataType: 'json',
            data: {
                "id_grupo": id_grupo
            },
            type: 'POST'
        }).success(function (data) {
            EndProgress();
            if (data == "OK") {
                Atualizar();
                showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_MsgGrupoRemovido', 'check');
            }
            else if (data == "Expirou") {
                window.top.location.href = '@Url.Action("Login", "Home", null, Request.Url.Scheme)';
            }
            else if (data == "Default") {
                showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.GerenciarGrupos_MsgGrupoDefault', 'exclamation');
            }
            else {
                $('#dialog-message-transferencia').removeAttr('hidden');
                $("#dialog-message-transferencia").dialog({
                    resizable: false,
                    dialogClass: "no-close",
                    modal: true,
                    title_html: false

                });
            }

        }).fail(function () {
            EndProgress();
            showMessage('@Atech.SGR.WebGerenciador.Resources.ResourceSGR.Mensagem_ErroInterno', 'exclamation');
        });
    }

    function hideModal() {
        $("#dialog-message-transferencia").dialog("close");
    }

    function hideModalPergunta() {
        $("#dialog-pergunta").dialog("close");
    }

</script>